<div class="container">
  <div class="row justify-content-end">
    <div class="col-lg-2 col-sm-12">
      <app-btn icon="add" data-bs-toggle="modal" data-bs-target="#addNewModal">{{'Add New Record'|appTranslate|async}}</app-btn>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-lg-2 row-cols-md-2">
    <div class="col">
      <div class="form-group">
        <label for="" class="form-label text-primary">{{'Company'|appTranslate|async}}</label>
        <select class="form-control control-bg-gray">
          <option value=""></option>
        </select>
      </div>
    </div>

  </div>
  <div class="row row-cols-1 row-cols-lg-2 row-cols-md-2 mt-2">
    <div class="col">
      <div class="form-group">
        <label for="" class="form-label text-primary">{{'Version Number'|appTranslate|async}}</label>
        <input type="text" class="form-control control-bg-gray">
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="" class="form-label text-primary">{{'Version Date'|appTranslate|async}}</label>
        <input type="date" class="form-control control-bg-gray">
      </div>
    </div>


  </div>
  <hr>
  <div class="row mt-2">
    <div class="col">
      <div class="form-group">
        <label for="" class="form-label text-primary">{{'Asset Category'|appTranslate|async}}</label>
        <select class="form-control control-bg-gray">
          <option value=""></option>
        </select>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="" class="form-label text-primary">{{'Condition'|appTranslate|async}}</label>
        <select class="form-control control-bg-gray">
          <option value=""></option>
        </select>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="" class="form-label text-primary">{{'Depreciation Basis'|appTranslate|async}}</label>
        <select class="form-control control-bg-gray">
          <option value=""></option>
        </select>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="" class="form-label text-primary">{{'Depreciation Period (Months)'|appTranslate|async}}</label>
        <input type="text" class="form-control control-bg-gray">
      </div>
    </div>
    <div class="col-1">
      <div class="form-group">
        <label for="" class="form-label text-primary">&nbsp;</label>
        <app-btn icon="edit" type="outline"></app-btn>
      </div>
    </div>
    <div class="col-1">
      <div class="form-group">
        <label for="" class="form-label text-primary">&nbsp;</label>
        <app-btn icon="delete" type="dark"></app-btn>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="addNewModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{'Create New Depreciation'|appTranslate|async}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row row-cols-1">
          <div class="col">
            <label for="" class="form-label text-primary">{{'Asset Category'|appTranslate|async}}</label>
            <select class="form-control control-bg-gray">
              <option value=""></option>
            </select>
          </div>
          <div class="col">
            <label for="" class="form-label text-primary">{{'Condition'|appTranslate|async}}</label>
            <select class="form-control control-bg-gray">
              <option value=""></option>
            </select>
          </div>
          <div class="col">
            <label for="" class="form-label text-primary">{{'Depreciation Basis'|appTranslate|async}}</label>
            <select class="form-control control-bg-gray">
              <option value=""></option>
            </select>
          </div>
          <div class="col">
            <label for="" class="form-label text-primary">{{'Depreciation Period (Months)'|appTranslate|async}}</label>
            <input type="text" class="form-control control-bg-gray">
          </div>
        </div>
      </div>
      <div class="modal-footer">

        <app-btn icon="save" type="primary">{{'Save'|appTranslate|async}}</app-btn>
      </div>
    </div>
  </div>
</div>
