<div class="container">


    <div class="row">
      <div class="col-md-4">
        <label class="form-label text-primary">{{"Cheque File Format"|appTranslate|async}}</label>
        <input type="text" class="form-control  control-bg-gray" />
      </div>
      <div class="col-md-4">
        <label class="form-label text-primary">{{"Direct Credit File Format"|appTranslate|async}}</label>
        <input type="text" class="form-control  control-bg-gray" />
      </div>
      <div class="col-md-4">
        <label class="form-label text-primary">{{"Mobile Money File Format"|appTranslate|async}}</label>
        <input type="text" class="form-control  control-bg-gray" />
      </div>
    </div>
  </div>