<app-form-navigation [title] = "'View Client'"></app-form-navigation> 
<div class="container mt-5" >
    <div class="row">
        <div class="col-md-12 mx-auto">
            <h1 class="my-5">Pending Quotes</h1>
        
            <table class="table">
                <thead class="py-3 theader">
                  <tr>
                    <th scope="col" style="border-bottom-left-radius: 12px;">Quotation No</th>
                    <th scope="col">Full Name</th>
                    <th scope="col">Individual</th>
                    <th scope="col">Product Class</th>   
                    <th scope="col">Product Code</th>
                    <th scope="col">Created Date</th>   
                    <th scope="col">Agent No</th>
                    <th scope="col">Total Premium</th>   
                    <th scope="col" >Days To Expire</th>
                    <th scope="col" style="border-top-right-radius: 12px;"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of pendingQuotesList">
                    <th scope="row">{{item.QUOTE_NO}}</th>
                    <td>{{item.OWNER_NAME}}</td>
                    <td></td>
                    <td>{{item.PRODUCT_CLASS}}</td>
                    <td>{{item.PRODUCT_CODE}}</td>
                    <td>{{item.QUOTED_ON}}</td>
                    <td></td>
                    <td></td>
                    <td>{{item.DAYS_TO_EXPIRY}} </td>
                    <td>
                      <button type="button"  class="btn-ir p-0 px-3 ">
                        <span class="mx-3 my-auto">Modify</span></button>
                    </td>
                  </tr>
                </tbody>
              </table>
    
    </div>
    <div class="col-md-12 mx-auto mt-5">
        <button type="button"  class="btn-ir p-0 px-4 btn-radius " style="float: right;">
            <span class="mx-3 my-auto">New Quotation</span></button>
    </div>
    </div>

        </div>

    