<!-- <app-form-navigation [title] = "'Set Up / Correspondence / Print'"></app-form-navigation> -->
<div class="">
    <br><br>
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-4">
            <label>{{"Enter Code for New Document"|appTranslate|async}}</label>
            <input class="form-control form-control-md control-bg-gray">

        </div>
        <div class="col-md-2 ">
            <label>&nbsp;</label>
            <app-button [buttonType]="'create'" routerLink="../create-print"></app-button>
        </div>

    </div>
<br><br>


</div>
