<app-form-navigation [title] = "'Find Client'"></app-form-navigation> 
<div class="container mt-5" >
    <form [formGroup]="findClientForm" >
    <div class="row" >
        <div class="col-md-12 mx-auto">
            <div class="row my-2">
                <div class="col-md-2">
                    <label class="py-2">Client Number</label>  
                </div>
                <div class="col-md" style="position: relative;">
                <input type="text" formControlName="clientNo"  class="inputform mr-2" 
                [ngClass]="{bordercheck: validResult == 'true' , borderuncheck: validResult == 'false'}"  required (keyup)="setClientList()">
            <div style="display: none;"  [ngClass]="{checkmark: validResult == 'true'}" ><i class="fa fa-check"  ></i></div>
            <div style="display: none;"  [ngClass]="{uncheckmark: validResult == 'false'}"> <i class="fa fa-times" ></i></div>
            </div>
            <div class="col-md-2">  
            <button type="submit" class="py-2 btn-dark mx-2" 
            [ngClass]="{changecolor: validResult == 'true'}"
            [disabled]="validResult == 'false' || validResult == '' " style="width: 60%; padding:0px" (click)="onNext()">Show</button>
        </div>      
        </div>

            <div class="row my-2">
                <div class="col-md-2"><label class="py-2">Enrolee No</label> </div>
                           <div class="col-md" style="position: relative;">
                    <input type="text" formControlName="enrolee"  class="inputform mr-2"  
                    [ngClass]="{bordercheck: validResult2 == 'true' , borderuncheck: validResult2 == 'false'}"  required (keyup)="setEnroleeList()" >
                    <div style="display: none;"  [ngClass]="{checkmark: validResult2 == 'true'}" ><i class="fa fa-check"  ></i></div>
                    <div style="display: none;"  [ngClass]="{uncheckmark: validResult2 == 'false'}"> <i class="fa fa-times" ></i></div>
                    </div>
                    <div class="col-md-2" >  
                    <button type="submit" class="py-2 btn-dark mx-2" 
                    [ngClass]="{changecolor: validResult2 == 'true'}"
                    [disabled]="validResult2 == 'false' || validResult2 == '' " style="width: 60%; padding:0px" (click)="onNext()">Show</button>
                </div>   
            </div>

            <div class="row my-2">
                <div class="col-md-2"><label class="py-2">Name</label> </div>
                           <div class="col-md">
                    <input type="text" formControlName="name"  class="inputform mr-2"   required >
            </div>  
                <div class="col-md-2">
            </div>    
            </div>

            <div class="row my-2">
                <div class="col-md-2"><label class="py-2">Provider No</label> </div>
                           <div class="col-md" style="position: relative;">
                    <input type="text" formControlName="providerNo"  class="inputform mr-2"  
                    [ngClass]="{bordercheck: validResult3 == 'true' , borderuncheck: validResult3 == 'false'}"  required (keyup)="setProviderList()" >
                    <div style="display: none;"  [ngClass]="{checkmark: validResult3 == 'true'}" ><i class="fa fa-check"  ></i></div>
                    <div style="display: none;"  [ngClass]="{uncheckmark: validResult3 == 'false'}"> <i class="fa fa-times" ></i></div>
                    </div>
                    <div class="col-md-2">  
                    <button type="submit" class="py-2 btn-dark mx-2" 
                    [ngClass]="{changecolor: validResult3 == 'true'}"
                    [disabled]="validResult3 == 'false' || validResult3 == '' " style="width: 60%; padding:0px" (click)="onNext()">Show</button>
                </div>     
            </div>

            <div class="row my-2">
                <div class="col-md-2"><label class="py-2">Phone No</label> </div>
                           <div class="col-md">
                    <input type="text" formControlName="phoneNo"  class="inputform mr-2"   required >
            </div>  
                <div class="col-md-2">
            </div>    
            </div>

            <div class="row my-2">
                <div class="col-md-2"><label class="py-2">Email</label> </div>
                           <div class="col-md">
                    <input type="text" formControlName="email"  class="inputform mr-2"   required >
            </div>  
                <div class="col-md-2">
            </div>    
            </div>
            
            <div class="row my-2">
                <div class="col-md-2"><label class="py-2">External Ref</label> </div>
                           <div class="col-md">
                    <input type="text" formControlName="externalRef"  class="inputform mr-2"   required >
            </div>  
                <div class="col-md-2">
            </div>    
            </div>

            <div class="row my-2">
                <div class="col-md-2"><label class="py-2">Created By</label> </div>
                           <div class="col-md">
                    <input type="text" formControlName="createdBy"  class="inputform mr-2"   required >
            </div>  
                <div class="col-md-2">
            </div>    
            </div>

            <div class="row my-2">
                <div class="col-md-2"><label class="py-2">Created Date From</label> </div>
                           <div class="col-md">
                    <input type="date" formControlName="createdDateFrom"  class="inputform mr-2"   required >
            </div>  
                <div class="col-md-2">
            </div>    
            </div>

            <div class="row my-2">
                <div class="col-md-2"><label class="py-2">Created Date To</label> </div>
                           <div class="col-md">
                    <input type="date" formControlName="createdDateTo"  class="inputform mr-2"   required >
            </div>  
                <div class="col-md-2">
            </div>    
            </div>

        </div>

        <div class="col-md-12 my-5">
<button type="button" class="btn btn-primary py-2 px-4" (click)="onSearch()" >Search</button>
        </div>

        <!-- <div class=" my-5">
            <div  style="float: right; margin-top: 10%;">
                
              <button type="submit" [disabled]="validResult == 'false' || validResult == '' " 
              [ngClass]="{diablecolor: validResult == 'false' || validResult == ''}"  
              class="border-0 next-blue ml-3 py-2" (click)="onNext()" >
                  <span class="mx-3 my-auto">Next</span><i class="fas fa-arrow-right"></i></button>
            </div>
        </div> -->
    </div>

</form>

</div>
