<div class="modal fade" id="bondModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">{{description}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form [formGroup]="bondForm" class="modal-body">
          <div class="row">
  
            <div class="col">
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="" class="form-label text-primary">
                      Expected Commencement Of Work
                    </label>
                    <input formControlName="commencement" type="text" class="form-control control-bg-gray">
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="" class="form-label text-primary">
                      Expected Completion Of Work
                    </label>
                    <input formControlName="completion" type="text" class="form-control control-bg-gray">
                  </div>
                </div>
              </div>
  
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="" class="form-label text-primary">
                      From Whom Is The Contract To Be Undertaken
                    </label>
                    <input formControlName="undertaken" type="text" class="form-control control-bg-gray">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="" class="form-label text-primary">
                      Total Amount Of Contract
                    </label>
                    <input formControlName="amount_contract" type="text" class="form-control control-bg-gray">
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="" class="form-label text-primary">
                      Amount If Any, Of Subcontract Work
                    </label>
                    <input formControlName="amount_subcontract" type="text" class="form-control control-bg-gray">
                  </div>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col d-flex">
                  <label for="" class="form-label text-primary"> Will The Bond Be Required By You From
                    Sub-Contractors?</label>
                  &nbsp;
                  &nbsp;
                  &nbsp;
                  <div class="form-check form-check-inline">
                    <input formControlName="subcontractor_required" class="form-check-input" type="radio" id="inlineRadio1"
                           value="option1">
                    <label class="form-check-label" for="inlineRadio1">Yes</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input formControlName="subcontractor_required" class="form-check-input" type="radio" id="inlineRadio2"
                           value="option2">
                    <label class="form-check-label" for="inlineRadio2">No</label>
                  </div>
                </div>
              </div>
  
  
              <div class="row mb-2 mt-3">
                <div class="col">
                  <div class="form-group">
                    <label for="" class="form-label text-primary">
                      Amount Of Bond ________________
                    </label>
                  </div>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col my-auto">
                  <label for="" class="form-label small" style="color: #828282">Bid</label>
                </div>
                <div class="col-7">
                  <input type="text" class="form-control control-bg-gray">
                </div>
              </div>
              <div class="row mb-2">
                <div class="col my-auto">
                  <label for="" class="form-label small" style="color: #828282">Performance</label>
                </div>
                <div class="col-7">
                  <input type="text" class="form-control control-bg-gray">
                </div>
              </div>
              <div class="row mb-2">
                <div class="col my-auto">
                  <label for="" class="form-label small" style="color: #828282">Mobilization Of Advance Payment</label>
                </div>
                <div class="col-7">
                  <input type="text" class="form-control control-bg-gray">
                </div>
              </div>
  
  
              <div class="row mb-2 mt-3">
                <div class="col">
                  <div class="form-group">
                    <label for="" class="form-label text-primary">
                      Please State All Contracts At Hand ________________
                    </label>
                  </div>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col my-auto">
                  <label for="" class="form-label small" style="color: #828282">Principal</label>
                </div>
                <div class="col-7">
                  <input type="text" class="form-control control-bg-gray">
                </div>
              </div>
              <div class="row mb-2">
                <div class="col my-auto">
                  <label for="" class="form-label small" style="color: #828282">Nature Of Work</label>
                </div>
                <div class="col-7">
                  <input type="text" class="form-control control-bg-gray">
                </div>
              </div>
              <div class="row mb-2">
                <div class="col my-auto">
                  <label for="" class="form-label small" style="color: #828282">Amount</label>
                </div>
                <div class="col-7">
                  <input type="text" class="form-control control-bg-gray">
                </div>
              </div>
              <div class="row mb-2">
                <div class="col my-auto">
                  <label for="" class="form-label small" style="color: #828282">Commencement Date</label>
                </div>
                <div class="col-7">
                  <input type="text" class="form-control control-bg-gray">
                </div>
              </div>
              <div class="row mb-2">
                <div class="col my-auto">
                  <label for="" class="form-label small" style="color: #828282">Expected Completion Date</label>
                </div>
                <div class="col-7">
                  <input type="text" class="form-control control-bg-gray">
                </div>
              </div>
              <div class="row mb-2">
                <div class="col my-auto">
                  <label for="" class="form-label small" style="color: #828282">Completion Date</label>
                </div>
                <div class="col-7">
                  <input type="text" class="form-control control-bg-gray">
                </div>
              </div>
              <div class="row mb-2">
                <div class="col">
  
                </div>
                <div class="col">
                  <app-button buttonType="addCustomGB" text="Add"></app-button>
                </div>
                <div class="col-7"></div>
              </div>
  
            </div>
  
            <div class="col-6">
              <div class="row mb-2">
                <div class="col">
                  <div class="form-group">
                    <label for="" class="form-label text-primary">
                      Please State All Contracts At Hand ________________
                    </label>
                  </div>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col my-auto">
                  <label for="" class="form-label small" style="color: #828282">Form Whom Undertaken</label>
                </div>
                <div class="col-7">
                  <input type="text" class="form-control control-bg-gray">
                </div>
              </div>
              <div class="row mb-2">
                <div class="col my-auto">
                  <label for="" class="form-label small" style="color: #828282">Nature Of Work</label>
                </div>
                <div class="col-7">
                  <input type="text" class="form-control control-bg-gray">
                </div>
              </div>
              <div class="row mb-2">
                <div class="col my-auto">
                  <label for="" class="form-label small" style="color: #828282">Amount</label>
                </div>
                <div class="col-7">
                  <input type="text" class="form-control control-bg-gray">
                </div>
              </div>
              <div class="row mb-2">
                <div class="col my-auto">
                  <label for="" class="form-label small" style="color: #828282">Commencement Date</label>
                </div>
                <div class="col-7">
                  <input type="text" class="form-control control-bg-gray">
                </div>
              </div>
              <div class="row mb-2">
                <div class="col my-auto">
                  <label for="" class="form-label small" style="color: #828282">Expected Completion Date</label>
                </div>
                <div class="col-7">
                  <input type="text" class="form-control control-bg-gray">
                </div>
              </div>
              <div class="row mb-2">
                <div class="col my-auto">
                  <label for="" class="form-label small" style="color: #828282">Actual Completion Date</label>
                </div>
                <div class="col-7">
                  <input type="text" class="form-control control-bg-gray">
                </div>
              </div>
              <div class="row mb-2">
                <div class="col">
  
                </div>
                <div class="col">
                  <app-button buttonType="addCustomGB" text="Add"></app-button>
                </div>
                <div class="col-7"></div>
              </div>
  
              <div class="row mb-2 mt-4">
                <div class="col">
                  <div class="form-group">
                    <label for="" class="form-label text-primary">
                      Please State All Contracts At Hand ________________
                    </label>
                  </div>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col my-auto">
                  <label for="" class="form-label small" style="color: #828282">Form Whom Undertaken</label>
                </div>
                <div class="col-7">
                  <input type="text" class="form-control control-bg-gray">
                </div>
              </div>
              <div class="row mb-2">
                <div class="col my-auto">
                  <label for="" class="form-label small" style="color: #828282">Nature Of Work</label>
                </div>
                <div class="col-7">
                  <input type="text" class="form-control control-bg-gray">
                </div>
              </div>
              <div class="row mb-2">
                <div class="col my-auto">
                  <label for="" class="form-label small" style="color: #828282">Amount</label>
                </div>
                <div class="col-7">
                  <input type="text" class="form-control control-bg-gray">
                </div>
              </div>
              <div class="row mb-2">
                <div class="col my-auto">
                  <label for="" class="form-label small" style="color: #828282">Period Of Contract</label>
                </div>
                <div class="col-7">
                  <input type="text" class="form-control control-bg-gray">
                </div>
              </div>
              <div class="row mb-2">
                <div class="col">
  
                </div>
                <div class="col">
                  <app-button buttonType="addCustomGB" text="Add"></app-button>
                </div>
                <div class="col-7"></div>
              </div>
  
  
            </div>
  
            <div class="row">
              <div class="col">
                <h6 class="mt-3">OVERDRAFT DETAILS</h6>
                <table class="table table-borderless table-striped my-5">
                  <thead>
                  <tr class="">
                    <th scope="col">Company Bankers Name</th>
                    <th scope="col">Overdraft Facility Granted</th>
                    <th scope="col">When Was It Granted</th>
                    <th scope="col">Present Amount Of Overdraft</th>
                    <th scope="col">How Is The Overdraft Facility Secured</th>
                    <th scope="col">Do You Have Any Outstanding Loan?</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                  </tr>
  
                  </tbody>
                </table>
              </div>
            </div>
  
  
          </div>
        </form>
        <div class="modal-footer">
          <app-button buttonType="saveGB" data-bs-dismiss="modal"></app-button>
        </div>
      </div>
    </div>
  </div>