label {
    color: #00BCC8;
}

.show-button {
    background: #00BCC8;
    color: #fff;
}

.show-button:hover {
    background: #01747c;
}

.search-button {
    background: #00bbc821;
    color: #00BCC8;
    border: 1px solid #00BCC8;
}

.search-button:hover {
    background: #00BCC8;
    color: #fff;
}

input[type="checkbox"] {
    accent-color: #00BCC8;
}