.label {
    color: #00BD6E;
    font-weight: 700;
}

.add-button {
    color:#00BD6E;
    background: #fff;
    border: 1px solid #00BD6E;
}

.add-button:hover {
    background:#00BD6E;
    color: #fff;
}

.create-button {
    background:#00bd6e2a;
    color: #00BD6E;
    border-radius: 4px;
    border: 1px solid #00BD6E;
}

.create-button:hover {
    background:#00BD6E;
    color: #fff;
}

