.card.color1.shadow-sm ,.card.color2.shadow-sm{
  margin: 0 3px;
}
.section-cards-2.card-blue .card .card-sm-num {
  position: absolute;
  bottom: 0;
  right: 8px;
  font-size: 14px;
  text-align: right;
}
