<div class="row justify-content-end">
  <div class="col-2">
    <app-btn icon="add">Add New Record</app-btn>
  </div>
</div>
<table class="table table-responsive table-striped text-center">
  <thead class="py-3 theader">
  <tr>

    <th scope="col">{{ 'Client' | appTranslate | async }}</th>
    <th scope="col">{{ 'SMS To' | appTranslate | async }}</th>
    <th scope="col">{{ 'Email To' | appTranslate | async }}</th>
    <th scope="col">{{ 'Success' | appTranslate | async }}</th>
    <th scope="col">{{ 'Failure' | appTranslate | async }}</th>

    <th scope="col">{{ 'Exclude' | appTranslate | async }}</th>

  </tr>
  </thead>
  <tbody>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td><input type="checkbox" class="form-control mx-auto"></td>
    <td><input type="checkbox" class="form-control mx-auto"></td>
    <td><input type="checkbox" class="form-control mx-auto"></td>


  </tr>

  </tbody>
</table>
