<div class="container pt-5">
  <div class="col-6 mx-auto ">
    <div class="form-group">
      <label for="" class="form-label">{{'Select Lottery Code'|appTranslate|async}}</label>
      <select name="" id="" class="form-control control-bg-gray">
        <option value=""></option>
      </select>
    </div>
    <div class="row justify-content-end mt-3">
      <div class="col-2">
        <app-button buttonType="run" routerLink="../lottery-view"></app-button>
      </div>
    </div>
  </div>

</div>
