
label{
    color: #545454;
    font-size: 22px;
    font-weight: normal;
}
.inputform{
    border-radius: 25px;
}

p{
    width: 85px;
    height: 30px;
}
.colorselect{
    width: 30px;
    position: absolute;
    right: 0px;
    top: -9px;
    height: 32px;
    border-radius: 0px !important;
}