<app-form-navigation [cashtitle] = "'User'"></app-form-navigation> 
<div class="container my-5">
   <div class="row">
       <!-- <div class="col-md-1"></div> -->
       <div class="col-md-9 mx-auto">
           <div class="d-flex justify-content-between">
               <div class="img-profile">
                   <img src="./../../../assets/img/avatar-profile.jpg" height="100px" width="100px"
                   class="rounded-circle"
                   >
               </div>
               <div class="my-auto">
                   <h3>KC Miller</h3>
                   <span>kcmiller@gmail.com</span>
               </div>
               <div class="my-auto">
                <!-- <input type="file" id="filebtn9"  style="display: none;" accept=".png,.jpg,.docx,.pdf" (change)="upload($event)"> -->
               <!--  <button for="filebtn9" (click)="getImage()" type="button" class="btn py-2 btnmoney-blue w-100">Upload proof of account</button>  -->   
               <button type="button" class="btn py-2 btn-prime bg-white w-100 btn-radius ">Upload new profile picture</button>
            </div>
               <div class="my-auto">
                <button type="button" class="btn py-2 btn-prime bg-white w-100 btn-radius ">Delete profile photo</button>
               </div>
           </div>
       </div>
      <!--  <div class="col-md-1"></div> -->
   </div>

   <div class="row">
       <div class="col-md-9 mx-auto"> <hr class="my-5"></div>
       
   </div>
  

   <div class="row">
     <div class="col-md-9 mx-auto">
         <div class="row">
           <div class="col-md-6 mt-4 d-block" >
            <div class="mt-4">
                <label><i class="fas fa-bars mx-2"></i>Change Menu Layout</label><br>
                
                <select   class="inputform mt-2">
                    <option>Select</option>
                    <option>a</option>
                    <option>a</option>
                </select>
                
            </div>
            <div class="mt-4">
                
                <label><i class="fas fa-palette mx-2"></i>Change color theme</label><br>
                <div class="d-flex" style="position: relative;"><p class="btn-radius bg-primary" style="width: 95px;"></p>
                    <p  style="background-color: rgb(197, 148, 99);"></p>
                    <p class="bg-danger"></p>
                    <p class="bg-success"></p>
                    <p  style="background-color: palevioletred;"></p>
                
                <select  class="colorselect inputform mt-2">
                    
                    <option></option>
                    <option>a</option>
                    <option>a</option>
                </select>
            </div>
            </div>
            <div class="mt-4">
                <label>Box no.</label><br>
                <input type="text"  class="inputform mt-2">
                
            </div>
           
           </div>
         <!--   <div class="col-md-1"></div> -->
           <div class="col-md-6 mt-4 d-block">
            <div class="mt-4">
                <label><i class="fas fa-globe mx-2"></i> Change Language</label><br>
                <select  class="inputform mt-2">
                    <option>Select</option>
                    <option>a</option>
                    <option>a</option>
                </select>
                
            </div>
            <div class="mt-5 d-flex">
                <label>set out of office </label>
                <input type="checkbox"  class=" mx-2" style="width: 50px; height: 20px;">
                <label>on break</label>
                <input type="checkbox"  class=" mx-2"  style="width: 50px; height: 20px;">
            </div>
            <!-- <div class="mt-4">
                <label>Change Menu Layout</label><br>
                <input type="text"  class="inputform">
                
            </div> -->
           </div>
        </div>
         </div>
   </div>
    </div>
