<div class="container">

  <h1>

  </h1>

  <div class="row mt-4">
    <div class="col-10 mx-auto">
      <table class="table table-responsive  table-striped">
        <thead class="py-3">
        <tr>
          <th scope="col">{{"New Business Process Code"|appTranslate|async}}</th>
          <th scope="col">{{"Description"|appTranslate|async}}</th>
          <th scope="col">{{"Created On"|appTranslate|async}}</th>
          <th scope="col">{{"Created By"|appTranslate|async}}</th>
        </tr>
        </thead>
        <tr>
          <td>{{"KNK"|appTranslate|async}}</td>
          <td>{{"Lorem ipsum dolor sit amet,"|appTranslate|async}}</td>
          <td>10/01/2022</td>
          <td>{{"Michael Zoh"|appTranslate|async}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>

