<!-- <app-form-navigation [title]="'Asset Desk / View Asset'"></app-form-navigation> -->
<div class="container">
    <div class="row">
    <div class="col-md-12 mx-auto">
    
          <h1 class="my-5">Risk Information</h1>
          <br>

        <div class="mx-auto" style="max-width: 1000px;">
            <div class="d-flex justify-content-end">
                <div>
                  <span class="fw-bold">Owner Name</span>
                  Mascar Magic
              </div>
            </div>
            <hr>

            ...
        </div>
    
        </div>
      </div>
</div>