label {
  color: #00BD6E;
}

.form-label {
  color: #00BD6E;
}

.show-button {
  background:#00BD6E;
  color: #fff;
}

.show-button:hover {
  background:#02834d;
}

.create-button {
  background:#00bd6e2a;
  color: #00BD6E;
  border-radius: 4px;
  border: 1px solid #00BD6E;
}

.create-button:hover {
  background:#00BD6E;
  color: #fff;
}

.clone-button {
  background:#fff;
  border: 1px solid #00BD6E;
  color: #00BD6E;
}

.clone-button:hover {
  background:#00BD6E;
  color: #fff;
}

.heading-color-primary {
  color: #00BD6E;
}

.tab-pane {
  color: #00BD6E;
}

.nav-pills .nav-link.active{
  background: #00BD6E;
}

.bordercheck {
  border: 2px solid #4ef578;
  outline: 0;
}

.checkmark{
  position: absolute;
  left: 93%;
  top: 12%;
  font-size: 25px;
  color: #4ef578;
  display: block !important;
}