@import "variables";
.actuarial {  .lds-grid div {    background: $actuarial_color !important;  }}
.analytics {  .lds-grid div {    background: $analytics_color !important;  }}
.assets {  .lds-grid div {    background: $assets_color !important;  }}
.crms {  .lds-grid div {    background: $crm_color !important;  }}
.dbcloner {  .lds-grid div {    background: $dbcloner_color !important;  }}
.document {  .lds-grid div {    background: $document_color !important;  }}
.finance {  .lds-grid div {    background: $finance_color !important;  }}
.general {  .lds-grid div {    background: $general_color !important;  }}
.health {  .lds-grid div {    background: $health_color !important;  }}
.human {  .lds-grid div {    background: $human_color !important;  }}
.life {  .lds-grid div {    background: $primary !important;  }}
.receipt {  .lds-grid div {    background: $cash_color !important;  }}