td{
    height:50px !important;
    overflow: auto !important;
}
td{
    text-align: left !important;
}
.failure{
    background-color: rgb(254, 159, 159);
}
.success{background-color: rgb(202, 255, 202);}