<!-- <app-form-navigation [title]="'Set Up / Appraisal / Division'"></app-form-navigation> -->
<div class="container-fluid mt-2 " id="form-body">
  <ul class="nav nav-pills nav-fill mb-3" id="nav-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="pills-basic-tab" data-bs-toggle="pill" data-bs-target="#pills-basic"
              type="button" role="tab" aria-controls="pills-basic" aria-selected="true">Basic
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-teamtarget-tab" data-bs-toggle="pill" data-bs-target="#pills-teamtarget"
              type="button" role="tab" aria-controls="pills-teamtarget" aria-selected="false">Division Target
      </button>
    </li>

  </ul>
  <form>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-basic" role="tabpanel" aria-labelledby="pills-basic-tab">
        <div class="container">
          <br/>
          <div class="row">
            <div class="col-md-6">
              <label class="form-label text-primary">{{"Appraisal Code"|appTranslate|async}}</label>
              <input class="form-control  control-bg-gray" type="text" name="appraisalCode" [(ngModel)]="appraisalCode" disabled>
            </div>
            <div class="col-md-6">
              <label class="form-label text-primary">{{"Description"|appTranslate|async}}</label>
              <input class="form-control  control-bg-gray" type="text" name="description" [(ngModel)]="description">
            </div>
          </div>
          <br/>
          <div class="row">
            <div class="col-md-6">
              <label class="form-label text-primary">{{"Appraisal Level"|appTranslate|async}}</label>
              <select class="form-control  control-bg-gray" name="appraisalLevel" [(ngModel)]="appraisalLevel">
                <option *ngFor="let level of appraisalLevels" [value]="level.code">{{level.code}}-{{level.title}}</option>
              </select>

            </div>
            <div class="col-md-6">
              <label class="form-label text-primary">{{"Company Code"|appTranslate|async}}</label>
              <select class="form-control  control-bg-gray" name="companyCode" #companycode [(ngModel)]="companyCode" (change)="getCodes()">
                <option *ngFor="let code of companyCodes" [value]="code.code">{{code.code}}-{{code.description}}</option>
              </select>

            </div>
          </div>
          <br/>
          <div class="row">
            <div class="col-md-6">
              <label class="form-label text-primary">{{"Hierachial Link"|appTranslate|async}}</label>
              <select class="form-control  control-bg-gray" name="headOfTeam" [(ngModel)]="headOfTeam">
                <option *ngFor="let code of headOfTeams" [value]="code.code">{{code.code}}-{{code.description}}</option>
              </select>

            </div>
            <div class="col-md-6">


            </div>
          </div>
          <br/><br/><br/>
          <div *ngFor="let ittems of dateCounter()" class="row mb-2">
            <div class="col-md-6">
              <label class="form-label text-primary">{{"Version No"|appTranslate|async}}</label>
              <input class="form-control  control-bg-gray" type="number" name="versionNo" [(ngModel)]="versionNo">

            </div>
            <div class="col-md-6">
              <label class="form-label text-primary">{{"Version Date"|appTranslate|async}}</label>
              <input class="form-control  control-bg-gray" type="date"  name="versionDate" [(ngModel)]="versionDate">

            </div>
          </div>
          <br/>

          <div class="row justify-content-end">
            <div class="col-2">

              <app-button [buttonType]="'add'" (click)="dateInc()"></app-button>

            </div>

          </div>

        </div>

      </div>
      <div class="tab-pane fade" id="pills-teamtarget" role="tabpanel" aria-labelledby="pills-teamtarget-tab">
        <div class="container">
          <br/>

          <br/>
          <br/>
          <div class="row">
            <div class="col-md-6">
              <label class="form-label text-primary">{{"Sub Division Appraisal Codes Linked"|appTranslate|async}}</label>
              <select class="form-control form-control-lg control-bg-gray" [(ngModel)]="teamAppraisalCode" name="individualAppraisalCode">
                <option *ngFor="let code of teamAppraisalCodes" [value]="code.code">{{code.code}}-{{code.title}}</option>
              </select>
            </div>
          </div>

          <br/>

          <div class="row">
            <div class="col-2 ">
              <app-button [buttonType]="'add'"></app-button>
            </div>
          </div>

          <br/>
          <hr>

          <div class="row">
            <div class="col-md-2">
              <label class="form-label text-primary">{{"Criteria No"|appTranslate|async}}</label>
              <p>1</p>
            </div>
            <div class="col-md-2">
              <label class="form-label text-primary">{{"Appraisal Criteria"|appTranslate|async}}</label>
              <select class="form-control control-bg-gray" name="appraisalCriteria1" [(ngModel)]="criteria1">
                <option *ngFor="let criteria of criterias" [value]="criteria.code">{{criteria.code}}-{{criteria.title}}</option>
              </select>
            </div>

            <div class="col-md-2">
              <label class="form-label text-primary">{{"Condition"|appTranslate|async}}</label>
              <select class="form-control control-bg-gray" name="condition1" [(ngModel)]="condition1">
                <option *ngFor="let condition of conditions" [value]="condition.code">{{condition.code}}-{{condition.title}}</option>
              </select>
            </div>
            <div class="col-md-2">
              <label class="form-label text-primary">{{"Product Class"|appTranslate|async}}</label>
              <select class="form-control  control-bg-gray" name="productClass1" [(ngModel)]="productClass1">
                <option *ngFor="let class of productClasses" [value]="class.code">{{class.code}}-{{class.title}}</option>
              </select>
            </div>
            <div class="col-md-2">
              <label class="form-label text-primary">{{"Value"|appTranslate|async}}</label>
              <input class="form-control  control-bg-gray" type="number" name="value1" [(ngModel)]="value1">

            </div>
            <div class="col-md-2">
              <label class="form-label text-primary">{{"Weight (%)"|appTranslate|async}}</label>
              <input class="form-control  control-bg-gray" type="number" name="weight1" [(ngModel)]="weight1">
            </div>
            <div class="row justify-content-end mt-2">
              <div class="col-1">
                <app-button (click)="showCriteria2()" *ngIf="!hideButton1" [buttonType]="'add'"></app-button>
              </div>
            </div>
          </div>

          <div class="row" *ngIf="isCriteria2">
            <div class="col-md-2">
              <label class="form-label text-primary">{{"Criteria No"|appTranslate|async}}</label>
              <p>2</p>
            </div>
            <div class="col-md-2">
              <label class="form-label text-primary">{{"Appraisal Criteria"|appTranslate|async}}</label>
              <select class="form-control control-bg-gray" name="appraisalCriteria2" [(ngModel)]="criteria2">
                <option *ngFor="let criteria of criterias" [value]="criteria.code">{{criteria.code}}-{{criteria.title}}</option>
              </select>
            </div>

            <div class="col-md-2">
              <label class="form-label text-primary">{{"Condition"|appTranslate|async}}</label>
              <select class="form-control control-bg-gray" name="condition2" [(ngModel)]="condition2">
                <option *ngFor="let condition of conditions" [value]="condition.code">{{condition.code}}-{{condition.title}}</option>
              </select>
            </div>
            <div class="col-md-2">
              <label class="form-label text-primary">{{"Product Class"|appTranslate|async}}</label>
              <select class="form-control  control-bg-gray" name="productClass2" [(ngModel)]="productClass2">
                <option *ngFor="let class of productClasses" [value]="class.code">{{class.code}}-{{class.title}}</option>
              </select>
            </div>
            <div class="col-md-2">
              <label class="form-label text-primary">{{"Value"|appTranslate|async}}</label>
              <input class="form-control  control-bg-gray" type="number" name="value2" [(ngModel)]="value2">

            </div>
            <div class="col-md-2">
              <label class="form-label text-primary">{{"Weight (%)"|appTranslate|async}}</label>
              <input class="form-control  control-bg-gray" type="number" name="weight2" [(ngModel)]="weight2">
            </div>
            <div class="row justify-content-end mt-2">
              <div class="col-1">
                <app-button (click)="showCriteria3()" *ngIf="!hideButton2" [buttonType]="'add'"></app-button>
              </div>
            </div>
          </div>

          <div class="row" *ngIf="isCriteria3">
            <div class="col-md-2">
              <label class="form-label text-primary">{{"Criteria No"|appTranslate|async}}</label>
              <p>3</p>
            </div>
            <div class="col-md-2">
              <label class="form-label text-primary">{{"Appraisal Criteria"|appTranslate|async}}</label>
              <select class="form-control control-bg-gray" name="appraisalCriteria3" [(ngModel)]="criteria3">
                <option *ngFor="let criteria of criterias" [value]="criteria.code">{{criteria.code}}-{{criteria.title}}</option>
              </select>
            </div>

            <div class="col-md-2">
              <label class="form-label text-primary">{{"Condition"|appTranslate|async}}</label>
              <select class="form-control control-bg-gray" name="condition3" [(ngModel)]="condition3">
                <option *ngFor="let condition of conditions" [value]="condition.code">{{condition.code}}-{{condition.title}}</option>
              </select>
            </div>
            <div class="col-md-2">
              <label class="form-label text-primary">{{"Product Class"|appTranslate|async}}</label>
              <select class="form-control  control-bg-gray" name="productClass3" [(ngModel)]="productClass3">
                <option *ngFor="let class of productClasses" [value]=""class.code>{{class.code}}-{{class.title}}</option>
              </select>
            </div>
            <div class="col-md-2">
              <label class="form-label text-primary">{{"Value"|appTranslate|async}}</label>
              <input class="form-control  control-bg-gray" type="number" name="value3" [(ngModel)]="value3">

            </div>
            <div class="col-md-2">
              <label class="form-label text-primary">{{"Weight (%)"|appTranslate|async}}</label>
              <input class="form-control  control-bg-gray" type="number" name="weight3" [(ngModel)]="weight3">
            </div>
            <div class="row justify-content-end mt-2">
              <div class="col-1">
                <app-button (click)="showCriteria4()" *ngIf="!hideButton3" [buttonType]="'add'"></app-button>
              </div>
            </div>
          </div>

          <div class="row" *ngIf="isCriteria4">
            <div class="col-md-2">
              <label class="form-label text-primary">{{"Criteria No"|appTranslate|async}}</label>
              <p>4</p>
            </div>
            <div class="col-md-2">
              <label class="form-label text-primary">{{"Appraisal Criteria"|appTranslate|async}}</label>
              <select class="form-control control-bg-gray" name="appraisalCriteria4" [(ngModel)]="criteria4">
                <option *ngFor="let criteria of criterias" [value]="criteria.code">{{criteria.code}}-{{criteria.title}}</option>
              </select>
            </div>

            <div class="col-md-2">
              <label class="form-label text-primary">{{"Condition"|appTranslate|async}}</label>
              <select class="form-control control-bg-gray" name="condition4" [(ngModel)]="condition4">
                <option *ngFor="let condition of conditions" [value]="condition.code">{{condition.code}}-{{condition.title}}</option>
              </select>
            </div>
            <div class="col-md-2">
              <label class="form-label text-primary">{{"Product Class"|appTranslate|async}}</label>
              <select class="form-control  control-bg-gray" name="productClass4" [(ngModel)]="productClass4">
                <option *ngFor="let class of productClasses" [value]="class.code">{{class.code}}-{{class.title}}</option>
              </select>
            </div>
            <div class="col-md-2">
              <label class="form-label text-primary">{{"Value"|appTranslate|async}}</label>
              <input class="form-control  control-bg-gray" type="number" name="value4" [(ngModel)]="value4">

            </div>
            <div class="col-md-2">
              <label class="form-label text-primary">{{"Weight (%)"|appTranslate|async}}</label>
              <input class="form-control  control-bg-gray" type="number" name="weight4" [(ngModel)]="weight4">
            </div>
            <div class="row justify-content-end mt-2">
              <div class="col-1">
                <app-button (click)="showCriteria5()" *ngIf="!hideButton4" [buttonType]="'add'"></app-button>
              </div>
            </div>
          </div>

          <div class="row" *ngIf="isCriteria5">
            <div class="col-md-2">
              <label class="form-label text-primary">{{"Criteria No"|appTranslate|async}}</label>
              <p>5</p>
            </div>
            <div class="col-md-2">
              <label class="form-label text-primary">{{"Appraisal Criteria"|appTranslate|async}}</label>
              <select class="form-control control-bg-gray" name="appraisalCriteria5" [(ngModel)]="criteria5">
                <option *ngFor="let criteria of criterias" [value]="criteria.code">{{criteria.code}}-{{criteria.title}}</option>
              </select>
            </div>

            <div class="col-md-2">
              <label class="form-label text-primary">{{"Condition"|appTranslate|async}}</label>
              <select class="form-control control-bg-gray" name="condition5" [(ngModel)]="condition5">
                <option *ngFor="let condition of conditions" [value]="condition.code">{{condition.code}}-{{condition.title}}</option>
              </select>
            </div>
            <div class="col-md-2">
              <label class="form-label text-primary">{{"Product Class"|appTranslate|async}}</label>
              <select class="form-control  control-bg-gray" name="productClass5" [(ngModel)]="productClass5">
                <option *ngFor="let class of productClasses" [value]="class.code">{{class.code}}-{{class.title}}</option>
              </select>
            </div>
            <div class="col-md-2">
              <label class="form-label text-primary">{{"Value"|appTranslate|async}}</label>
              <input class="form-control  control-bg-gray" type="number" name="value5" [(ngModel)]="value5">

            </div>
            <div class="col-md-2">
              <label class="form-label text-primary">{{"Weight (%)"|appTranslate|async}}</label>
              <input class="form-control  control-bg-gray" type="number" name="weight5" [(ngModel)]="weight5">
            </div>
          </div>


          <br/>
          <br/>

          <div class="row justify-content-end">
            <div class="col-2 ">
              <app-button [buttonType]="'save'" (click)="createDivisionAppraisal()"></app-button>
            </div>

          </div>


        </div>
      </div>

    </div>
  </form>

</div>
