<div class="container">


    <div class="row">
      <div class="col-md-4">
        <label class="form-label text-primary">{{"Premium Tax Basis"|appTranslate|async}}</label>
        <select class="form-control  control-bg-gray">
          <option></option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="col-md-4">
        <label class="form-label text-primary">{{"Regulatory Levy Basis"|appTranslate|async}}</label>
        <select class="form-control  control-bg-gray">
          <option></option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="col-md-4">
        <label class="form-label text-primary">{{"Stamp Duty Basis"|appTranslate|async}}</label>
        <select class="form-control  control-bg-gray">
          <option></option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <label class="form-label text-primary">{{"Premium Tax Table"|appTranslate|async}}</label>
        <select class="form-control  control-bg-gray">
          <option></option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="col-md-4">
        <label class="form-label text-primary">{{"Regulatory Levy Table"|appTranslate|async}}</label>
        <select class="form-control  control-bg-gray">
          <option></option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="col-md-4">
        <label class="form-label text-primary">{{"Stamp Duty Table"|appTranslate|async}}</label>
        <select class="form-control  control-bg-gray">
          <option></option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <label class="form-label text-primary">{{"Tax on Surrender Basis"|appTranslate|async}}</label>
        <select class="form-control  control-bg-gray">
          <option></option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="col-md-4">
        <label class="form-label text-primary">{{"Tax on Maturity Basis"|appTranslate|async}}</label>
        <select class="form-control  control-bg-gray">
          <option></option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <label class="form-label text-primary">{{"Tax on Surrender Table"|appTranslate|async}}</label>
        <select class="form-control  control-bg-gray">
          <option></option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="col-md-4">
        <label class="form-label text-primary">{{"Tax on Maturity Table"|appTranslate|async}}</label>
        <select class="form-control  control-bg-gray">
          <option></option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    </div>
  </div>