label {
  color: #00BCC8;
}

.show-button {
  background:#fff;
  color: #00BCC8;
  border: 1px solid #00BCC8;
}

.show-button:hover {
  background:#00BCC8;
  color: #fff;
}

.create-button {
  background:#01e3f356;
  color: #00BCC8;
  border-radius: 4px;
  border: 1px solid #00BCC8;
}

.create-button:hover {
  background:#00BCC8;
  color: #fff;
}

