<div class="container-fluid mt-2 " id="form-body">
    
    <div class="tab-content" id="pills-tabContent">
        <div class="container">
            <div class="tab-pane fade show active" id="pills-basic" role="tabpanel" aria-labelledby="pills-basic-tab">
                <div class="row g-3">
                    <div class="col">
                        <div class="form-group mt-2">
                            <label>Tax Code</label>
                            <select class="form-control  control-bg-gray">
                                <option></option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option> </select>
                            
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group mt-2">
                            
                            <label>Description</label>
                            <input class="form-control  control-bg-gray" type="text" />
               
            
                        </div>
                    </div>
                </div>

                <div class="row g-3">
                    <div class="col">
                        <div class="form-group mt-2">
                            <label>Tax Group</label>
                            <select class="form-control  control-bg-gray">
                <option></option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group mt-2">
                            <label>Table</label>
                            <select class="form-control  control-bg-gray">
                <option></option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
                        </div>
                    </div>
                </div>

               

                <div class="row g-3">
                    <div class="col">
                        <div class="form-group mt-2">
                            <label>Attach Table</label>
                            <input class="form-controlZZZ  grey-formZ" type="text" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group mt-2">
                            
                           
               
            
                        </div>
                    </div>
                </div>
                <br><br><br>
                <div class="row g-3">
                    <div class="col">
                        <div class="form-group mt-3">
                            <label>Date From</label>
                            <input class="form-control  control-bg-gray" type="text" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group mt-3">
                            <label>Rate (%)</label>
                            <input class="form-control  control-bg-gray" type="text" />
                        </div>
                    </div>
                    <!-- <div class="col">
                        <div class="form-group mt-3">
                            </div>
                    </div>
                    <div class="col">
                        <div class="form-group mt-3">
                           </div> -->
                    </div>
                    
                </div>


                <div class="row g-3">
                    <div class="col">
                        <div class="form-group mt-3">
                            <input class="form-control  control-bg-gray" type="text" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group mt-3">
                            <input class="form-control  control-bg-gray" type="text" />
                        </div>
                    </div>
                    <!-- <div class="col">
                        <div class="form-group mt-3">
                            </div>
                    </div>
                    <div class="col">
                        <div class="form-group mt-3">
                           </div>
                    </div> -->
                    
                </div>

                <div class="row g-3">
                    <div class="col">
                        <div class="form-group mt-3">
                            <input class="form-control  control-bg-gray" type="text" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group mt-3">
                            <input class="form-control  control-bg-gray" type="text" />
                        </div>
                    </div>
                    <!-- <div class="col">
                        <div class="form-group mt-3">
                            </div>
                    </div>
                    <div class="col">
                        <div class="form-group mt-3">
                           </div>
                    </div> -->
                    
                </div>

                <div class="row g-3">
                    <div class="col">
                        <div class="form-group mt-3">
                            <input class="form-control  control-bg-gray" type="text" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group mt-3">
                            <input class="form-control  control-bg-gray" type="text" />
                        </div>
                    </div>
                    <!-- <div class="col">
                        <div class="form-group mt-3">
                            </div>
                    </div>
                    <div class="col">
                        <div class="form-group mt-3">
                            
                            
                           </div>
                    </div> -->

                    
                    
                </div>
               

                <div class="row g-3">
                    <div class="row d-flex flex-row justify-content-end mt-5">
                        
                        <div class="col-2 d-flex flex-row justify-content-end">
                            <button type="button" class="add-btn1">Add</button>
                        </div>
                    </div>
                </div>
                
            </div>

           
    </div>
<br><br><br><br>
    <div class="row g-3">
        <div class="row d-flex flex-row justify-content-end mt-5">
            
            <div class="col-2 d-flex flex-row justify-content-end">
                <button type="button" class="save-btn1">Save</button>
            </div>
        </div>
    </div>
</div>