label {
    color: #00BCC8;
}

.file-button {
    background: #00bbc821;
    color: #00BCC8;
    border: 1px solid #00BCC8;
}

.file-button:hover {
    background: #00BCC8;
    color: #fff;
}

.submit-button {
    color: #00BCC8;
    border: 1px solid #00BCC8;
}

.submit-button:hover {
    color: #fff;
    background: #00BCC8;
}

.add-ref-button {
    color: #00BCC8;
    border: 1px solid #00BCC8;
}

.add-ref-button:hover {
    color: #fff;
    background: #00BCC8;
}