<div class="container">
  <div class="row g-0">
    <div class="col-2 d-flex small my-auto">
      <label for="" class=""
        >{{ 'Policy No:' | appTranslate | async }}&nbsp;</label
      >
      <p class="text-primary">LRP210003</p>
    </div>
    <div class="col-2 d-flex small my-auto">
      <label for="" class=""
        >{{ 'Owner Client Number:' | appTranslate | async }}&nbsp;</label
      >
      <p class="text-primary">xxxxx</p>
    </div>
    <div class="col-2 d-flex small my-auto">
      <label for="" class=""
        >{{ 'Joint Owner Client Number:' | appTranslate | async }}&nbsp;</label
      >
      <p class="text-primary">xxxxx</p>
    </div>
    <div class="col-2 d-flex small my-auto">
      <label for="" class=""
        >{{ 'Agent No:' | appTranslate | async }}&nbsp;</label
      >
      <p class="text-primary">246-Zoh Mike</p>
    </div>
    <div class="col-2 d-flex small my-auto">
      <label for="" class=""
        >{{ 'Referrer No:' | appTranslate | async }}&nbsp;</label
      >
      <p class="text-primary">256- Amala Boy</p>
    </div>
    <div class="col-2 d-flex small my-auto">
      <app-button buttonType="btnCustomNote" text="Note"></app-button>
    </div>
  </div>
  <div class="row g-0">
    <div class="col-2 d-flex small my-auto">
      <label for="" class=""
        >{{ 'Quote No:' | appTranslate | async }}&nbsp;</label
      >
      <p class="text-primary">23657</p>
    </div>
    <div class="col-2 d-flex small my-auto">
      <label for="" class=""
        >{{ 'Quote Status:' | appTranslate | async }}&nbsp;</label
      >
      <p class="text-primary">xxxxx</p>
    </div>
    <div class="col-2 d-flex small my-auto">
      <label for="" class=""
        >{{ 'Invalid Quote Days:' | appTranslate | async }}&nbsp;</label
      >
      <p class="text-primary">21</p>
    </div>
    <div class="col-2 d-flex small my-auto">
      <label for="" class=""
        >{{ 'Created On:' | appTranslate | async }}&nbsp;</label
      >
      <p class="text-primary">12/oct/2023</p>
    </div>
    <div class="col-2 d-flex small my-auto">
      <label for="" class=""
        >{{ 'Created By:' | appTranslate | async }}&nbsp;</label
      >
      <p class="text-primary">12/oct/2023</p>
    </div>
  </div>
  <hr class="mb-3" />
  <div class="row g-0">
    <div class="col-2 d-flex small my-auto">
      <label for="" class=""
        >{{ 'Owner Full Name:' | appTranslate | async }}&nbsp;</label
      >
    </div>

    <div class="col-2 d-flex small my-auto">
      <label for="" class=""
        >{{ 'No of Asset:' | appTranslate | async }}&nbsp;</label
      >
    </div>

    <div class="col-2 d-flex small my-auto">
      <label for="" class=""
        >{{ 'Premium Payment Method:' | appTranslate | async }}&nbsp;</label
      >
    </div>

    <div class="col-2 d-flex small my-auto">
      <label for="" class=""
        >{{ 'Branch:' | appTranslate | async }}&nbsp;</label
      >
    </div>

    <div class="col-2 d-flex small my-auto">
      <label for="" class=""
        >{{ 'Policy Term:' | appTranslate | async }}&nbsp;</label
      >
    </div>

    <div class="col-2 d-flex small my-auto">
      <label for="" class=""
        >{{ 'Currency:' | appTranslate | async }}&nbsp;</label
      >
    </div>
  </div>
  <div class="row g-0">
    <div class="col-2 d-flex small my-auto">
      <p class="text-primary">James Bond</p>
    </div>

    <div class="col-2 d-flex small my-auto">
      <p class="text-primary">3</p>
    </div>
    <div class="col-2 d-flex small my-auto">
      <p class="text-primary">Direct Debits</p>
    </div>
    <div class="col-2 d-flex small my-auto">
      <p class="text-primary">LA01</p>
    </div>
    <div class="col-2 d-flex small my-auto">
      <p class="text-primary">0 yr 6 mo</p>
    </div>
    <div class="col-2 d-flex small my-auto">
      <p class="text-primary">XOF</p>
    </div>
  </div>

  <table class="table table-responsive table-striped mt-4 mb-3">
    <thead>
      <tr class="bg-black">
        <th scope="col" colspan="1" class="text-white">
          {{ 'Asset ID' | appTranslate | async }}:
          <span class="text-primary">2123456789</span>
        </th>
        <th scope="col" colspan="2" class="text-white">
          {{ 'Joint Owner Client Number' | appTranslate | async }}:
          <span class="text-primary">2123456789</span>
        </th>
        <th scope="col" colspan="1" class="text-white">
          {{ 'Asset Premium' | appTranslate | async }} :
          <span class="text-red">1,234,678</span>
        </th>
        <th scope="col" colspan="2" class="text-white">
          {{ 'Cover Commence' | appTranslate | async }}:
          <span class="text-primary">12/oct/2023</span>
        </th>
        <th scope="col" colspan="1" class="text-white">
          {{ 'Cover Expire' | appTranslate | async }}:
          <span class="text-primary">12/oct/2023</span>
        </th>
      </tr>
      <tr class="bg-primary">
        <th scope="col" class="text-white">
          {{ 'Cover Code' | appTranslate | async }}
        </th>
        <th scope="col" class="text-white">
          {{ 'Cover Name' | appTranslate | async }}
        </th>
        <th scope="col" class="text-white">
          {{Sum Assured'|appTranslate|async}}
        </th>
        <th scope="col" class="text-white">
          {{ 'Excess' | appTranslate | async }}
        </th>
        <th scope="col" class="text-white">
          {{ 'Deductible Option' | appTranslate | async }}
        </th>
        <th scope="col" class="text-white">
          {{ 'Next Prem Due Dt' | appTranslate | async }}
        </th>
        <th scope="col" class="text-white">
          {{ 'Premium' | appTranslate | async }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">B</th>
        <td>Building</td>
        <td>No</td>
        <td>700,000</td>
        <td>--</td>

        <td>23/Oct/2022</td>
        <td>60,000</td>
      </tr>
      <tr>
        <th scope="row">C</th>
        <td>Content</td>
        <td>Yes</td>
        <td>200,000</td>
        <td>20%</td>
        <td>5/Jun/2022</td>
        <td>70,000</td>
      </tr>
      <tr>
        <th scope="row">BG</th>
        <td>Breakage Of Glass</td>
        <td>Yes</td>
        <td>700,000</td>
        <td>10%</td>
        <td>9/Aug/2020</td>
        <td>80,000</td>
      </tr>
    </tbody>
  </table>
  <div class="row justify-content-around my-5">
    <div class="col">
      <app-button
        buttonType="btnCustomCloneRaised"
        text="Documents"
        [routerLink]="['/life/quotation-desk/quotationdocuments']"
      ></app-button>
    </div>

    <div class="col">
      <!-- /life/quotation-desk/create-new-individual-quotation -->
      <app-button
        buttonType="btnCustomCloneRaised"
        text="Modify"
        routerLink="../../create-new-individual-quotation/"
      ></app-button>
    </div>

    <div class="col">
      <app-button
        buttonType="btnCustomCloneRaised"
        text="Pricing"
        [routerLink]="['/life/quotation-pricing']"
      ></app-button>
    </div>

    <div class="col">
      <app-button
        buttonType="btnCustomCloneRaised"
        text="Generate"
      ></app-button>
    </div>

    <div class="col">
      <app-button
        buttonType="btnCustomCloneRaised"
        text="Convert To Policy"
        [routerLink]="['/life/quotation-desk/convert-to-policy']"
      ></app-button>
    </div>

    <div class="col">
      <app-button
        buttonType="btnCustomCloneRaised"
        text="Authorise Quote"
      ></app-button>
    </div>
  </div>

  <div class="d-flex justify-content-around section-cards card-yellow">
    <div class="card color1 bg-card shadow-sm">
      <div class="card-body">
        <h6 class="card-title">
          {{ 'Total Periodic Premium' | appTranslate | async }}
        </h6>
        <p class="card-number">210,000</p>
      </div>
    </div>
    <div class="card color1 shadow-sm">
      <div class="card-body">
        <h6 class="card-title">
          {{ 'No Of Interations' | appTranslate | async }}
        </h6>
        <p class="card-number">2</p>
      </div>
    </div>
    <div class="card color1 shadow-sm">
      <div class="card-body">
        <h6 class="card-title">
          {{ 'Days to Auto Expiry' | appTranslate | async }}
        </h6>
        <p class="card-number">20</p>
      </div>
    </div>
    <div class="card color1 shadow-sm">
      <div class="card-body">
        <h6 class="card-title">
          {{ 'Conversion Probability' | appTranslate | async }}
        </h6>
        <p class="card-number">32%</p>
      </div>
    </div>
  </div>
</div>
