.segment {
  margin: 0 35px;
  flex: 1 1 auto;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  color: #514ef5;

}

.segment:hover {
  cursor: pointer;
}

.highlighted {
  padding: 0.5rem 1rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  color: #fff;
  background-color: #514ef5;
  border: 0;
  border-radius: 0.25rem;
}

.subtitle {
  font-weight: bold;
}

.color-primary {
  color: #5914C9;
}

.dark-text {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  color: #000000,
}

.primary-text {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  color: #5914C9;
}

.bold-text {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
}

.question-text {
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  color: #545454;
}

.margin-right {
  margin-right: 20px !important;
}

.mat-snack-bar-container {
  position: absolute !important;
  top: 350px !important;
  
}