<div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto">
      <table class="table table-responsive  table-striped px-5">
        <thead class="py-3 theader">
        <tr>

          <th scope="col">{{'Level'|appTranslate|async}}</th>
          <th scope="col">{{'Business'|appTranslate|async}}</th>
          <th scope="col">{{'Client'|appTranslate|async}}</th>
          <th scope="col">{{'Ref Category'|appTranslate|async}}</th>
          <th scope="col">{{'Task'|appTranslate|async}}</th>
          <th scope="col">{{'Start'|appTranslate|async}}</th>
          <th scope="col">{{'Due'|appTranslate|async}}</th>
          <th scope="col">{{'Time Outside SLA'|appTranslate|async}}</th>
          <th scope="col">{{'Action'|appTranslate|async}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of workflowData">
          <td>
            <div class="square" [ngClass]="item.slaLevel | slaLevelColour"></div>
          </td>
          <td>{{item.busLine}}</td>
          <td>{{item.clientNo}}</td>
          <td>{{item.refCat}}</td>
          <td>{{item.wfNo}}</td>
          <td>{{item.dueOn | date:'medium'}}</td>
          <td>{{item.finishOn | date:'medium'}}</td>
          <td>{{item.timeOsSla| formatMinutes}}</td>
          <td>
            <app-button [buttonType]="'addCustom'" [text]="'Action'"></app-button>
          </td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
