td{
    color: #aaa;
    text-align: left !important;
}
.table tr td {
    &:hover {
      color: black !important;
      text-decoration: none !important;
    }
  }
  input[type='checkbox']{
      display: inline !important;
      padding: 3px 15px;
      border: 1px solid #aaa;
      border-radius: 10px;
  }
  input[type='checkbox']:checked{
    padding: 3px 10px !important;
  }
  button{
      font-weight: 600;
  }
  div.btn{
      display: flex;
      align-items: center;
      height: 100%;
  }
div.table{
    overflow-x: auto !important;
    width: 100%;
}
div.col-md-4{
    margin-top: 1rem;
}
div.btnContainer{
    margin-top: 0.8rem;
    border: 2px dashed #aaa;
    padding: 0.8rem 1.1rem;
    flex-direction: column !important; 
}
div.btnContainer button{
    margin-top: 0.8rem;
}
div.btnContainer button:nth-child(3),div.btnContainer button:nth-child(4){
  border-radius: 20px;
}
@media (min-width:600px) {
    div.btn button{
        padding: 25px
    }
    div.col-lg-4{
        margin-top: 1rem;
    }
}
@media (min-width:991px) {
    div.btnContainer{
        margin-top: 2rem;
        flex-direction: row !important;
    }
    div.btnContainer button{
        margin-top: unset;
    }
    div.btn button{
        padding: 25px;
    }
    div.col-md-4{
        margin:0;
    }
}