<!-- <div class="modal fade" id="medicalmodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Medical Questionnaire</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <p class="text-center small1">

          With respect to any of the following, please respond to the questions below <br>
          <span class="text-warning">Epilepsy, Persistent Cough, Swollen Glands, Recurrent backache/pain, Sexually
            Transmitted Diseases, Diabetes,
            Insanity, Pneumonia, Asthma or any respiratory disorder or disease, Stroke, Heamophylia, Hepatitis,
            Arthritis,
            Blood transfusion, tuberculosis, Glandular Fever, Reccurent headache, Any heart related disease, Any
            recurring
            aliment, High/Low blood pressure, Cancer or tumor on any part/organ</span>
        </p>

        <div class="row">
          <div class="col-8"><label for="" class="text-warning">Policy Owner</label></div>
          <div class="col-2 "><label for="" class="text-warning">Response</label></div>
          <div class="col-2"><label for="" class="text-warning">If yes, please select condition</label></div>
        </div>
        <div class="row">
          <div class="col-8"><label for="" class="small2 ">Have you been hospitalised for 1 day or more in the last 4
              years for any of the elements or for aliments or for any other reason?</label></div>
          <div class="col-2 ">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
              <label class="small1" for="inlineRadio1">Yes</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
              <label class="small1" for="inlineRadio2">No</label>
            </div>
          </div>
          <div class="col-2">
            <div class="form-group">
              <select class="form-control-sm control-bg-gray w-100">
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
              </select>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-8"><label for="" class="small2 ">Have any of your relatives been hospitalized for 1 day or
              more the last 4 years for any of the aliments or for any other reason?</label></div>
          <div class="col-2 ">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="inlineRadio1" value="option1">
              <label class="small1" for="inlineRadio1">Yes</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="inlineRadio2" value="option2">
              <label class="small1" for="inlineRadio2">No</label>
            </div>
          </div>
          <div class="col-2">
            <div class="form-group">
              <select class="form-control-sm control-bg-gray w-100">
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
              </select>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-8"><label for="" class="small2 ">Have you suffered or are you suffering from the
              above?</label></div>
          <div class="col-2 ">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio1" value="option1">
              <label class="small1" for="inlineRadio1">Yes</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio2" value="option2">
              <label class="small1" for="inlineRadio2">No</label>
            </div>
          </div>
          <div class="col-2">
            <div class="form-group">
              <select class="form-control-sm control-bg-gray w-100">
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
              </select>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-8"><label for="" class="small2 ">Have any of your parents, brothers, sisters suffered or are
              suffering from or died of the above?</label></div>
          <div class="col-2 ">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions3" id="inlineRadio1" value="option1">
              <label class="small1" for="inlineRadio1">Yes</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions3" id="inlineRadio2" value="option2">
              <label class="small1" for="inlineRadio2">No</label>
            </div>
          </div>
          <div class="col-2">
            <div class="form-group">
              <select class="form-control-sm control-bg-gray w-100">
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
              </select>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-1"></div>
          <div class="col-2"><label for="" class="small1">Unit of Measure</label></div>
          <div class="col-2"><label for="" class="small1">Measurement</label></div>
          <div class="col-1"></div>
          <div class="col-2"><label for="" class="small1">Unit of Measure</label></div>
          <div class="col-2"><label for="" class="small1">Measurement</label></div>
          <div class="col-1"></div>
          <div class="col-1"></div>
        </div>
        <div class="row mt-2">
          <div class="col-1"><label for="" class="small1">Height</label></div>
          <div class="col-2"><select class="form-control control-bg-gray">
              <option value=""></option>
              <option value=""></option>
            </select></div>
          <div class="col-2"><input type="text" class="form-control control-bg-gray"></div>
          <div class="col-1"><label for="" class="small1">Weight</label></div>
          <div class="col-2"><select class="form-control control-bg-gray">
              <option value=""></option>
              <option value=""></option>
            </select></div>
          <div class="col-2"><input type="text" class="form-control control-bg-gray"></div>
          <div class="col-1"><label for="" class="small1">Somker</label></div>
          <div class="col-1"><input type="text" class="form-control control-bg-gray"></div>
        </div>
        <div class="row mt-2">
          <div class="form-group">
            <label for="" class="form-label text-warning">Details- if any response is Yes</label>
            <input type="text" class="form-control control-bg-gray">
          </div>
        </div>


        <div class="row mt-4">
          <div class="col-8"><label for="" class="text-warning">Joint Owner</label></div>
          <div class="col-2 "><label for="" class="text-warning">Response</label></div>
          <div class="col-2"><label for="" class="text-warning">If yes, please select condition</label></div>
        </div>
        <div class="row">
          <div class="col-8"><label for="" class="small2 ">Have you been hospitalised for 1 day or more in the last 4
              years for any of the elements or for aliments or for any other reason?</label></div>
          <div class="col-2 ">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
              <label class="small1" for="inlineRadio1">Yes</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
              <label class="small1" for="inlineRadio2">No</label>
            </div>
          </div>
          <div class="col-2">
            <div class="form-group">
              <select class="form-control-sm control-bg-gray w-100">
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
              </select>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-8"><label for="" class="small2 ">Have any of your relatives been hospitalized for 1 day or
              more the last 4 years for any of the aliments or for any other reason?</label></div>
          <div class="col-2 ">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="inlineRadio1" value="option1">
              <label class="small1" for="inlineRadio1">Yes</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="inlineRadio2" value="option2">
              <label class="small1" for="inlineRadio2">No</label>
            </div>
          </div>
          <div class="col-2">
            <div class="form-group">
              <select class="form-control-sm control-bg-gray w-100">
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
              </select>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-8"><label for="" class="small2 ">Have you suffered or are you suffering from the
              above?</label></div>
          <div class="col-2 ">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio1" value="option1">
              <label class="small1" for="inlineRadio1">Yes</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio2" value="option2">
              <label class="small1" for="inlineRadio2">No</label>
            </div>
          </div>
          <div class="col-2">
            <div class="form-group">
              <select class="form-control-sm control-bg-gray w-100">
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
              </select>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-8"><label for="" class="small2 ">Have any of your parents, brothers, sisters suffered or are
              suffering from or died of the above?</label></div>
          <div class="col-2 ">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions3" id="inlineRadio1" value="option1">
              <label class="small1" for="inlineRadio1">Yes</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions3" id="inlineRadio2" value="option2">
              <label class="small1" for="inlineRadio2">No</label>
            </div>
          </div>
          <div class="col-2">
            <div class="form-group">
              <select class="form-control-sm control-bg-gray w-100">
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
              </select>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-1"></div>
          <div class="col-2"><label for="" class="small1">Unit of Measure</label></div>
          <div class="col-2"><label for="" class="small1">Measurement</label></div>
          <div class="col-1"></div>
          <div class="col-2"><label for="" class="small1">Unit of Measure</label></div>
          <div class="col-2"><label for="" class="small1">Measurement</label></div>
          <div class="col-1"></div>
          <div class="col-1"></div>
        </div>
        <div class="row mt-2">
          <div class="col-1"><label for="" class="small1">Height</label></div>
          <div class="col-2"><select class="form-control control-bg-gray">
              <option value=""></option>
              <option value=""></option>
            </select></div>
          <div class="col-2"><input type="text" class="form-control control-bg-gray"></div>
          <div class="col-1"><label for="" class="small1">Weight</label></div>
          <div class="col-2"><select class="form-control control-bg-gray">
              <option value=""></option>
              <option value=""></option>
            </select></div>
          <div class="col-2"><input type="text" class="form-control control-bg-gray"></div>
          <div class="col-1"><label for="" class="small1">Somker</label></div>
          <div class="col-1"><input type="text" class="form-control control-bg-gray"></div>
        </div>
        <div class="row mt-2">
          <div class="form-group">
            <label for="" class="form-label text-warning">Details- if any response is Yes</label>
            <input type="text" class="form-control control-bg-gray">
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-2">
            <div class="form-check form-check-inline">
              <label class="small1 text-warning" for="inlineCheckbox1">Other Lives Assured</label>


            </div>
          </div>
          <div class="col-1">
            <div class="form-check form-check-inline">
              <input class="form-control control-bg-gray mx-auto" type="checkbox" id="inlineCheckbox1" value="option1">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">

        <app-button [buttonType]="'saveGB'" data-bs-dismiss="modal"></app-button>


      </div>
    </div>
  </div>
</div> -->