 
<div class="container mt-5">
  <div class="row">
    <div class="col-md-12 mx-auto">
      <h1 class="my-5">{{'Other Business'|appTranslate|async}}</h1>

      <table class="table table-responsive  table-striped">
        <thead class="py-3 theader">
        <tr>
          <th scope="col" style="border-bottom-left-radius: 12px;">{{'Business line'|appTranslate|async}}</th>
          <th scope="col">{{'Product'|appTranslate|async}}</th>
          <th scope="col">{{'Policy No'|appTranslate|async}}</th>
          <th scope="col">{{'Policy Status'|appTranslate|async}}</th>
          <th scope="col">{{'Issue Date'|appTranslate|async}}</th>
          <th scope="col">{{'Policy Term'|appTranslate|async}}</th>
          <th scope="col">{{'Annualised Premium'|appTranslate|async}}</th>
          <th scope="col">{{'Sum At Risk'|appTranslate|async}}</th>
          <th scope="col">{{'Aggregate Loss Ratio'|appTranslate|async}}</th>
          <th scope="col">{{'No. Of Renewals'|appTranslate|async}}</th>
          <th scope="col" style="border-top-right-radius: 12px;">{{'Aggregate VNB'|appTranslate|async}}</th>
        </tr>
        </thead>
        <tbody>
        <tr >
          <td scope="row">General</td>
          <td>Motor</td>
          <td>RT677</td>
          <td>sur</td>
          <td>1-Feb-2020</td>
          <td>1 Year</td>
          <td>12000</td>
          <td>50000</td>
          
          <td>55%</td>
          <td>5</td>
		  <td>4000</td>
        </tr>
		<tr >
          <td scope="row">General</td>
          <td>Motor</td>
          <td>RT677</td>
          <td>sur</td>
          <td>1-Feb-2020</td>
          <td>1 Year</td>
          <td>12000</td>
          <td>50000</td>
          
          <td>55%</td>
          <td>5</td>
		  <td>4000</td>
        </tr>
        </tbody>
      </table>

    </div>

    <div class="row justify-content-end">
      <div class="col-md-3">

        <app-button [buttonType]="'btnCustomClone'" [text]="'Opportunities'"
        ></app-button>
      </div>
    </div>
  </div>

</div>

