<!-- <app-form-navigation [title]="'Set Up / Accounts  / Bank/Sort Code'"></app-form-navigation> -->
<div class="container">
  <br><br>
  <div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6">
      <label>{{"Enter New Sort Code"|appTranslate|async}}</label>
      <input class="form-control form-control-md control-bg-gray">
    </div>

  </div>
  <br>
  <div class="row mt-5">
    <div class="col-md-7"></div>
    <div class="col-md-2">
      <app-button [buttonType]="'next'" routerLink="../create-sort-code"></app-button>
    </div>
    <div class="col-md-3"></div>
  </div>
  <br><br>


</div>
