<div class="container-fluid mt-2 " id="form-body">

    <div class="tab-content" id="pills-tabContent">
      <div class="container">

          <form [formGroup]="form">
            <div class="row g-3">
              <div class="col">
                <div class="form-group mt-2">
                  <label class="form-label text-primary">{{"Tax Code"|appTranslate|async}}</label>
                  <input class="form-control  control-bg-gray" type="text" disabled name="code" value="{{code}}"/>
                </div>
              </div>
              <div class="col">
                <div class="form-group mt-2">
                  <label class="form-label text-primary">{{"Description"|appTranslate|async}}</label>
                  <input class="form-control  control-bg-gray" type="text" name="description" formControlName="description"/>  
                </div>
              </div>
            </div>
    
              <div class="row g-3">
                <div class="col">
                  <div class="form-group mt-2">
                    <label class="form-label text-primary">{{"Tax Group"|appTranslate|async}}</label>
                    <select class="form-control  control-bg-gray" formControlName="taxGroup">
                      <option></option>
                      <option [value]="tax.code" *ngFor="let tax of taxGroups">{{tax.code}}-{{tax.title}}</option>
                    </select>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group mt-2">
                    <label class="form-label text-primary">{{"Table"|appTranslate|async}}</label>
                    <select class="form-control  control-bg-gray" formControlName="table">
                      <option value=""></option>
                      <option [value]="data.code" *ngFor="let data of tables">{{data.code}}-{{data.description}}</option>
                    </select>
                  </div>
                </div>
              </div>

              <br>
  
              <div class="row g-3 align-items-end">
                <ng-container formArrayName="rateValuesList">
                  <ng-container *ngFor="let subForm of versions?.controls; let i = index;" [formGroupName]="i">
                    <div class="col-lg-6">
                      <div class="row align-items-end">
                        <div class="col">
                          <div class="form-group mt-3">
                            <label class="form-label text-primary">{{"Date From"|appTranslate|async}}</label>
                            <input class="form-control control-bg-gray" type="date" name="dateFrom" formControlName="dateFrom"/>
                          </div>
                        </div>
                        <div class="col">
                          <div class="form-group mt-3">
                            <label class="form-label text-primary">{{"Rate (%)"|appTranslate|async}}</label>
                            <input class="form-control  control-bg-gray" type="number" name="rate" formControlName="rate"/>
                          </div>
                        </div> 
                        <div class="col-auto d-flex align-items-end">
                          <div class="form-group mt-2">
                            <app-btn icon="delete" type="danger-outline" [iconBtn]="true" [disabled]="versions?.length==1" (mclick)="removeVersionRow(i)">
                            </app-btn>
                          </div>
                        </div>
                        <div class="col-auto d-flex align-items-end">
                          <div class="from-group mt-2">
                            <app-btn icon="add" type="outline" [iconBtn]="true" (mclick)="addVersionRow(null,i+1)">
                            </app-btn>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </ng-container>
              </div>
            </form>
  
  
        <div *ngIf="isCreated" class="row g-3 d-flex justify-content-end mt-4">
          <div class="col-2">
            <app-btn type="outline" icon="add" (click)="createNew()">Create New</app-btn>
          </div>
        </div>

        <div *ngIf="!isCreated" class="row g-3 d-flex justify-content-end mt-4">
          <div *ngIf="!isShow" class="col-2">
            <app-btn type="outline" icon="save" (click)="submit()">Save</app-btn>
          </div>
        </div>
  
      </div>
    </div>
  
  </div>
  