<app-form-navigation [title]="'Pipeline Analysis'"></app-form-navigation>

<div class="container">

  <div class="row justify-content-end">

    <div class="col-2 text-end">
      <label for="" class="" data-bs-toggle="modal" data-bs-target="#exampleModal">Measures&nbsp;
        <i class="fas fa-bars"></i></label>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-2">
      <div class="form-group">
        <label for="" class="form-label">Date From</label>
        <input type="date" class="form-control control-bg-gray">
      </div>
    </div>
    <div class="col-2">
      <div class="form-group">
        <label for="" class="form-label">Date To</label>
        <input type="date" class="form-control control-bg-gray">
      </div>
    </div>
  </div>


  <div class="container mt-4">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">

        </div>
        <div class="panel-body">
          <table class="table table-condensed table-striped">
            <thead>

            </thead>

            <tbody>
            <tr>
              <td colspan="12" class="hiddenRow">
                <div class="accordion" id="accordionPanelsStayOpenExample">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                      <button class="accordion-button collapsed btn-danger bg-danger text-withe" type="button"
                              data-bs-toggle="collapse"
                              data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false"
                              aria-controls="panelsStayOpen-collapseOne">
                        <table class="table table-striped table-responsive table-borderless">

                          <thead>
                          <tr>
                            <th style="border-bottom: none !important; " class="text-white"> Opportunity</th>
                            <th style="border-bottom: none !important; " class="text-white">Probability(%)</th>
                            <th style="border-bottom: none !important; " class="text-white">Probable</th>
                          </tr>

                          </thead>
                        </table>
                      </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                         aria-labelledby="panelsStayOpen-headingOne">
                      <div class="accordion-body">
                        <table class="table table-striped table-responsive">

                          <tbody>

                          <tr>
                            <td>128,875,000</td>
                            <td>39,2</td>
                            <td>
                              50,454,562
                            </td>
                          </tr>
                          <tr>
                            <td colspan="12" class="hiddenRow">
                              <div class="accordion" id="accordionPanelsStayOpenExample">
                                <div class="accordion-item">
                                  <h2 class="accordion-header" id="panelsStayOpen-headingSubOne">
                                    <button class="accordion-button collapsed bg-dark" type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#panelsStayOpen-collapseSubOne" aria-expanded="false"
                                            aria-controls="panelsStayOpen-collapseSubOne">
                                      New
                                    </button>
                                  </h2>
                                  <div id="panelsStayOpen-collapseSubOne" class="accordion-collapse collapse"
                                       aria-labelledby="panelsStayOpen-headingOne">
                                    <div class="accordion-body">
                                      <table class="table table-striped table-responsive">

                                        <tbody>

                                        <tr>
                                          <td>128,875,000</td>
                                          <td>39,2</td>
                                          <td>
                                            50,454,562
                                          </td>
                                        </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </td>

                          </tr>
                          <tr>
                            <td colspan="12" class="hiddenRow">
                              <div class="accordion" id="accordionPanelsStayOpenExample">
                                <div class="accordion-item">
                                  <h2 class="accordion-header" id="panelsStayOpen-headingSubTwo">
                                    <button class="accordion-button collapsed bg-dark" type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#panelsStayOpen-collapseSubTwo" aria-expanded="false"
                                            aria-controls="panelsStayOpen-collapseSubTwo">
                                      Qualified
                                    </button>
                                  </h2>
                                  <div id="panelsStayOpen-collapseSubTwo" class="accordion-collapse collapse"
                                       aria-labelledby="panelsStayOpen-headingSubTwo">
                                    <div class="accordion-body">
                                      <table class="table table-striped table-responsive">

                                        <tbody>

                                        <tr>
                                          <td>128,875,000</td>
                                          <td>39,2</td>
                                          <td>
                                            50,454,562
                                          </td>
                                        </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </td>

                          </tr>
                          <tr>
                            <td colspan="12" class="hiddenRow">
                              <div class="accordion" id="accordionPanelsStayOpenExample">
                                <div class="accordion-item">
                                  <h2 class="accordion-header" id="panelsStayOpen-headingSubThree">
                                    <button class="accordion-button collapsed bg-dark" type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#panelsStayOpen-collapseSubThree" aria-expanded="false"
                                            aria-controls="panelsStayOpen-collapseSubThree">
                                      Proposition
                                    </button>
                                  </h2>
                                  <div id="panelsStayOpen-collapseSubThree" class="accordion-collapse collapse"
                                       aria-labelledby="panelsStayOpen-headingSubThree">
                                    <div class="accordion-body">
                                      <table class="table table-striped table-responsive">

                                        <tbody>

                                        <tr>
                                          <td>128,875,000</td>
                                          <td>39,2</td>
                                          <td>
                                            50,454,562
                                          </td>
                                        </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </td>

                          </tr>
                          <tr>
                            <td colspan="12" class="hiddenRow">
                              <div class="accordion" id="accordionPanelsStayOpenExample">
                                <div class="accordion-item">
                                  <h2 class="accordion-header" id="panelsStayOpen-headingSubFour">
                                    <button class="accordion-button collapsed bg-dark" type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#panelsStayOpen-collapseSubFour" aria-expanded="false"
                                            aria-controls="panelsStayOpen-collapseSubFour">
                                      Won
                                    </button>
                                  </h2>
                                  <div id="panelsStayOpen-collapseSubFour" class="accordion-collapse collapse"
                                       aria-labelledby="panelsStayOpen-headingSubFour">
                                    <div class="accordion-body">
                                      <table class="table table-striped table-responsive">

                                        <tbody>

                                        <tr>
                                          <td>128,875,000</td>
                                          <td>39,2</td>
                                          <td>
                                            50,454,562
                                          </td>
                                        </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </td>

                          </tr>


                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>

              </td>
            </tr>


            </tbody>
          </table>
        </div>

      </div>

    </div>
  </div>


</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Select Attributes To Display</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-6">
            <input type="search" placeholder="Quick Search" class="form-control control-bg-gray">
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-1">
            <input type="checkbox" class="form-control control-bg-gray">
          </div>
          <div class="col">
            <label for="" class="form-label ">Churn Rate</label>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-1">
            <input type="checkbox" class="form-control control-bg-gray">
          </div>
          <div class="col">
            <label for="" class="form-label ">Future Value</label>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-1">
            <input type="checkbox" class="form-control control-bg-gray">
          </div>
          <div class="col">
            <label for="" class="form-label ">VIP Status</label>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-1">
            <input type="checkbox" class="form-control control-bg-gray">
          </div>
          <div class="col">
            <label for="" class="form-label ">Favorite PLatform</label>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-1">
            <input type="checkbox" class="form-control control-bg-gray">
          </div>
          <div class="col">
            <label for="" class="form-label ">Number Of Policies, Lifetime</label>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-1">
            <input type="checkbox" class="form-control control-bg-gray">
          </div>
          <div class="col">
            <label for="" class="form-label ">Premium Paid Last Month</label>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-1">
            <input type="checkbox" class="form-control control-bg-gray">
          </div>
          <div class="col">
            <label for="" class="form-label ">Premiums Paid Last Year</label>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-1">
            <input type="checkbox" class="form-control control-bg-gray">
          </div>
          <div class="col">
            <label for="" class="form-label ">Most Effective Channel</label>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-1">
            <input type="checkbox" class="form-control control-bg-gray">
          </div>
          <div class="col">
            <label for="" class="form-label ">Percent of Online Purchases Last Year</label>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-1">
            <input type="checkbox" class="form-control control-bg-gray">
          </div>
          <div class="col">
            <label for="" class="form-label ">Percent of Offline Purchases Last Year</label>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-1">
            <input type="checkbox" class="form-control control-bg-gray">
          </div>
          <div class="col">
            <label for="" class="form-label ">Percent of Discounts, Last 3 Months </label>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-1">
            <input type="checkbox" class="form-control control-bg-gray">
          </div>
          <div class="col">
            <label for="" class="form-label ">Total Return Amount, Lifetime</label>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-1">
            <input type="checkbox" class="form-control control-bg-gray">
          </div>
          <div class="col">
            <label for="" class="form-label ">Email</label>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
