<div class=" ">
  <div class="mt-4 text-center" *ngIf="text">
    <h3>{{text|appTranslate|async}} </h3>
  </div>
  <loader [loading]="isLoadingResults"> 
    <div class="" >
      <div class="overflow-auto">
        <table mat-table [dataSource]="filteredAndPagedResults" class="w-100 d-table border" matSort
          matSortActive="{{orderField}}" matSortDisableClear [matSortDirection]="orderDirection"
          (matSortChange)="resetPaging()"> 
          <!-- COLUMNS -->
          <ng-container matColumnDef="{{col.f}}" *ngFor="let col of displayedColumns">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>{{col.t|appTranslate|async}}</th>
           <td mat-cell *matCellDef="let row">
             <a class="cell" [ngClass]="{pointer:col.action}" (click)="col.action?col.action(row,col.f):null"
               [mqueryParams]="col.mqueryParams|functionCaller2:row:col.f"
               [mrouterLink]="(col.routeFormatter|functionCaller2:row:col.f)"
               [innerHTML]="(row|getColFormatted:col)||'-'">
             </a>
           </td>
          </ng-container> 
          <!--// -->
          <!-- OPTIONS COLUMN -->
          <ng-container matColumnDef="option" *ngIf="options?.length>0" stickyEnd>
            <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear></th>
            <td mat-cell *matCellDef="let row">
              <button type="button" [matMenuTriggerFor]="menu" class="btn ms-2"><i class="bx bx-menu me-0"></i>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item *ngFor="let option of options" (click)="option.action(row)">
                  {{option.t|appTranslate|async}}
                </button>
              </mat-menu>
            </td>
          </ng-container>
          <!--// -->

          <ng-container *ngIf="displayedColumns|getRawFields:options?.length as dcols">
            <tr mat-header-row *matHeaderRowDef="dcols"></tr>
            <tr mat-row *matRowDef="let row; columns: dcols" (click)="rowClick(row)"></tr>
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" [attr.colspan]="dcols?.length||1">{{noItemTxt|appTranslate|async}}</td>
            </tr>
          </ng-container>
        </table>
      </div>

      <mat-paginator [length]="resultsLength" [pageSize]="pageSize" [pageSizeOptions]="[5,10,20,50,100,500,10000]" showFirstLastButtons></mat-paginator>
    </div> 
  </loader>
</div>
