label {
  color: #00BCC8;
}

.custom-height {
  height: 48px;
}

.create-button {
  background:#fff;
  color: #00BCC8;
  border: 1px solid #00BCC8;
}

.create-button:hover {
  background:#00BCC8;
  color: #fff;
}