<div
  class="modal fade"
  id="dr_modal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">{{ description }}</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form [formGroup]="defenseForm" class="modal-body">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="" class="form-label text-primary">{{
                'Sum Assured Basis' | appTranslate | async
              }}</label>
              <select
                formControlName="basis"
                name=""
                id=""
                class="form-control control-bg-gray"
              >
                <option value=""></option>
                <ng-container *ngFor="let b of sumAssuredBasisOptions$ | async">
                  <option [value]="b">
                    {{ b }}
                  </option>
                </ng-container>
              </select>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="" class="form-label text-primary">{{
                'Sum Assured Multiple' | appTranslate | async
              }}</label>
              <select
                formControlName="multiple"
                name=""
                id=""
                class="form-control control-bg-gray"
              >
                <option value=""></option>
                <ng-container
                  *ngFor="let m of sumAssuredMultipleOptions$ | async"
                >
                  <option [value]="m">
                    {{ m }}
                  </option>
                </ng-container>
              </select>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="" class="form-label text-primary"
                >{{ 'Sum Assured' | appTranslate | async }}
              </label>
              <input
                formControlName="assured"
                type="text"
                class="form-control control-bg-gray"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <app-excess
            class="col"
            [excessMax]="excess_max"
            [excessMin]="excess_min"
            [excessType]="excess_type"
            [excessDisplay]="excess_display"
            [excessDisabled]="excess_disabled"
            [excessOptions]="excess_options"
            [excessAmount]="excessAmount"
            [excessRate]="excessRate"
            (excessAmountChange)="onExcessAmountChange($event)"
            (excessRateChange)="onExcessRateChange($event)"
          ></app-excess>

          <app-deductible
            class="col"
            [deductibleMax]="deductible_max"
            [deductibleMin]="deductible_min"
            [deductibleType]="deductible_type"
            [deductibleDisplay]="deductible_display"
            [deductibleDisabled]="deductible_disabled"
            [deductibleOptions]="deductible_options"
            [deductibleAmount]="deductibleAmount"
            [deductibleRate]="deductibleRate"
            (deductibleAmountChange)="onDeductibleAmountChange($event)"
            (deductibleRateChange)="onDeductibleRateChange($event)"
          ></app-deductible>
        </div>
      </form>
      <div class="modal-footer">
        <app-button
          (click)="stop()"
          [buttonType]="'saveGB'"
          data-bs-dismiss="modal"
        ></app-button>
      </div>
    </div>
  </div>
</div>
