<div class="container-fluid mt-2 " id="form-body">

    <div class="tab-content" id="pills-tabContent">
        <div class="container">
            <div class="tab-pane fade show active" id="pills-basic" role="tabpanel" aria-labelledby="pills-basic-tab">
                <div class="row g-3">
                    <div class="col">
                        <div class="form-group mt-2">
                            <label>{{'Bonus Code'|appTranslate|async}}</label>
                            <select class="form-control  control-bg-gray">
                                <option></option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option> </select>

                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group mt-2">

                            <label>{{'Description'|appTranslate|async}}</label>
                            <input class="form-control  control-bg-gray" type="text" />


                        </div>
                    </div>
                </div>

                <div class="row g-3">
                    <div class="col">
                        <div class="form-group mt-2">
                            <label>{{'Bonus Group'|appTranslate|async}}</label>
                            <select class="form-control  control-bg-gray">
                <option></option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group mt-2">
                            <label>{{'Bonus Calc Basis'|appTranslate|async}}</label>
                            <select class="form-control  control-bg-gray">
                <option></option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
                        </div>
                    </div>
                </div>



                <div class="row g-3">
                    <div class="col">
                        <div class="form-group mt-2">
                            <label>{{'Attach Table'|appTranslate|async}}</label>
                            <input class="form-controlZZZ  grey-formZ" type="text" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group mt-2">

                            <label>{{'Bonus Table'|appTranslate|async}}</label>
                            <select class="form-control  control-bg-gray">
                                <option></option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                              </select>


                        </div>
                    </div>
                </div>
                <br><br><br>
                <div class="row g-3">
                    <div class="col">
                        <div class="form-group mt-3">
                            <label>{{'Date From'|appTranslate|async}}</label>
                            <input class="form-control  control-bg-gray" type="text" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group mt-3">
                            <label>{{'Date to'|appTranslate|async}}</label>
                            <input class="form-control  control-bg-gray" type="text" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group mt-3">
                            <label>{{'Value'|appTranslate|async}}</label>
                            <input class="form-control  control-bg-gray" type="text" />
                        </div>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col">
                        <div class="form-group mt-3">

                            <input class="form-control  control-bg-gray" type="text" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group mt-3">

                            <input class="form-control  control-bg-gray" type="text" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group mt-3">

                            <input class="form-control  control-bg-gray" type="text" />
                        </div>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col">
                        <div class="form-group mt-3">

                            <input class="form-control  control-bg-gray" type="text" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group mt-3">

                            <input class="form-control  control-bg-gray" type="text" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group mt-3">

                            <input class="form-control  control-bg-gray" type="text" />
                        </div>
                    </div>
                </div>

                <div class="row g-3">
                    <div class="col">
                        <div class="form-group mt-3">

                            <input class="form-control  control-bg-gray" type="text" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group mt-3">

                            <input class="form-control  control-bg-gray" type="text" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group mt-3">

                            <input class="form-control  control-bg-gray" type="text" />
                        </div>
                    </div>
                </div>

                <div class="row g-3">
                    <div class="row d-flex flex-row justify-content-end mt-5">

                        <div class="col-2 d-flex flex-row justify-content-end">
                            <button type="button" class="add-btn1">{{'Add'}}|appTranslate|async</button>
                        </div>
                    </div>
                </div>

            </div>


    </div>
</div>
