<!-- <app-form-navigation [title]="'Find Lead'"></app-form-navigation> -->
<div class="container-sm mt-5 " id="form-body">
  <table class="table table-borderless table-striped my-5">
    <thead>
      <tr class="">
        <th scope="col">Lead Id</th>
        <th scope="col">Client Number</th>
        <th scope="col">Prospect Days</th>
        <th scope="col">Sales Channel</th>
        <th scope="col">Sales Personnel</th>
        <th scope="col">Last Activity Date</th>
        <th scope="col">Stage</th>
        <th scope="col">Lead Quality</th>
        <th scope="col">Estimated Revenue</th>
        <th scope="col">Prob Conversion</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a routerLink="../view-lead" [queryParams]="{id:9088}">9088</a> </td>
        <td><a routerLink="../../view-client" [queryParams]="{id:57888}">57888</a></td>
        <td>23</td>
        <td>Agency</td>
        <td>IND-Garba Shehu</td>
        <td>1-Feb-21</td>
        <td>Cold</td>
        <td>V</td>
        <td>400,000</td>
        <td>30%</td>
      </tr>
      <tr>
        <td><a routerLink="../view-lead" [queryParams]="{id:908867688}">88676</a></td>
        <td><a routerLink="../../view-client" [queryParams]="{id:6899}">6899</a></td>
        <td>34</td>
        <td>BancAssurance</td>
        <td>RM- Olawale Fashola</td>
        <td>1-Feb-21</td>
        <td>Cold</td>
        <td>L</td>
        <td>400,000</td>
        <td>40%</td>
      </tr>
    </tbody>
  </table>

</div>
