<div class="container-sm mt-5 " id="form-body">
  <div class="row">
    <div class="col-md-6 mx-auto my-5 align-middle">
      <app-input-basic label="Select Short Term Rate" type="select" [form]="form" name="code" valueField="code"
        [stacked]="true" labelType="cd" [options]="strS.getRateList|httpListCaller|async">
      </app-input-basic>
      <div class="form-group row my-3">
        <div class="col-sm-4 d-grid gap-1">
          <app-btn [valid]="form?.valid" routerLink="show/{{rateCode}}" icon="show" type="dark">Show</app-btn>
        </div>
        <div class="col-sm-4 d-grid gap-1">
          <app-btn routerLink="create" icon="add" type="outline-nm">Create new</app-btn>
        </div>
        <div class="col-sm-4 d-grid gap-1">
          <app-btn [valid]="form?.valid" routerLink="clone/{{rateCode}}" icon="file" type="secondary">Clone</app-btn>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 
<app-btn (mclick)="click1()" icon="add" type="outline-nm">Create new</app-btn>
<app-btn (mclick)="click2()" icon="add" type="outline-nm">Create new</app-btn> -->
