  <div class="">
    <div class="">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Annuities Certain</h5>
        <button type="button" class="btn-close" (click)="close()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label for="" class="form-label text-primary">Target Basis</label>
              <select name="" id="" class="form-control control-bg-gray">
                <option value=""></option>
                <option value=""></option>
              </select>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="" class="form-label text-primary">Target Amount</label>
              <input type="text" class="form-control control-bg-gray">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label for="" class="form-label text-primary">Anuity Frequency</label>
              <select name="" id="" class="form-control control-bg-gray">
                <option value=""></option>
                <option value=""></option>
              </select>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="" class="form-label text-primary">Annuity Annual Escalation Basis</label>
              <select name="" id="" class="form-control control-bg-gray">
                <option value=""></option>
                <option value=""></option>
              </select>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="" class="form-label text-primary">Annuity Annual Escaltion Value</label>
              <input type="text" class="form-control control-bg-gray">
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-6">
            <div class="form-group">
              <label for="" class="form-label text-primary">Enter Annuity Payment Schedule</label>
              <input type="checkbox" class="form-control control-bg-gray">
            </div>
          </div>

        </div>

      </div>
      <div class="modal-footer">

        <app-btn type="outline" icon="save" (mclick)="save()">Save</app-btn>
      </div>
    </div>
  </div>
