<div class="modal fade" id="sav_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">{{description}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="savingsForm" class="modal-body">
        <div class="row">
          <div class="col">
            <label for="" class="form-label text-primary">{{'Target Contribution Frequency'|appTranslate|async}}</label>
            <input type="text" formControlName="target_frequency" class="form-control control-bg-gray" [hidden]="defaultPremFreq ? false : true">
            <select formControlName="target_frequency" id="" class="form-control control-bg-gray" [hidden]="!defaultPremFreq ? false : true">
              <option selected disabled>Choose an Option</option>
              <ng-container *ngFor="let option of freq_options">
                <option [value]="option.code">
                  {{option.code}} - {{option.title}}
                </option>
              </ng-container>
            </select>
          </div>
          <div class="col">
            <label for="" class="form-label text-primary">{{'Target Basis'|appTranslate|async}}</label>
            <select formControlName="basis" id="" class="form-control control-bg-gray">
              <option selected disabled>Choose an Option</option>
              <ng-container *ngFor="let option of basis_options">
                <option [value]="option.code">
                  {{option.code}} - {{option.title}}
                </option>
              </ng-container>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="" class="form-label text-primary">{{'Target Amount'|appTranslate|async}}</label>
            <input formControlName="amount" type="text" class="form-control control-bg-gray">
          </div>
          <div class="col">
            <label for="" class="form-label text-primary">{{'Deposit'|appTranslate|async}}</label>
            <input formControlName="deposit" type="text" class="form-control control-bg-gray">
          </div>
        </div>
        <div class="row align-items-end">
          <div class="col-2">
            <div class="form-group">
              <label for="" class="form-label text-primary">{{'Contribution Payment Term'|appTranslate|async}}</label>
              <input formControlName="conTerm" type="text" placeholder="Years" class="form-control control-bg-gray">
            </div>
          </div>
          <div class="col-2">
            <div class="form-group">
              <label for="" class="form-label text-primary">&nbsp;</label>
              <input formControlName="conMonths" type="text" placeholder="months" class="form-control control-bg-gray">
            </div>
          </div>
          <div class="col-2">
            <div class="form-group">
              <label for="" class="form-label text-primary">&nbsp;</label>
              <input formControlName="conDays" type="text" placeholder="Days" class="form-control control-bg-gray">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="" class="form-label text-primary">{{'Enter a Drawdown Benefit Payment Schedule'|appTranslate|async}}</label>
            <input formControlName="schedule" type="checkbox" class="form-control control-bg-gray">
          </div>

        </div>
      </form>
      <div class="modal-footer">

        <app-button (click)="stop()" [buttonType]="'saveGB'" data-bs-dismiss="modal"></app-button>


      </div>
    </div>
  </div>
</div>