div.btn {
    width: 100%;
}

.find-button {
    background:#00BD6E;
    border-radius: 4px;
    color: #fff;
    font-weight: 500;
    width: 100%;
}

.find-button:hover {
    background:#029658;
}


.search-button {
    background:#00bd6e2a;
    color: #00BD6E;
    border-radius: 4px;
    border: 1px solid #00BD6E;
    width: 100%;
}

.search-button:hover {
    background:#00BD6E;
    color: #fff;
}