<app-form-navigation [title]="'View Client'"></app-form-navigation>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-12 mx-auto">
      <h1 class="my-5">Pending Quotes</h1>

      <table class="table table-responsive  table-striped">
        <thead class="py-3">
          <tr>
            <th scope="col" style="border-bottom-left-radius: 12px;">{{'Quotation No'|appTranslate|async}}</th>
            <th scope="col">{{'Full Name'|appTranslate|async}}</th>
            <th scope="col">{{'Individual'|appTranslate|async}}</th>
            <th scope="col">{{'Product Class'|appTranslate|async}}</th>
            <th scope="col">{{'Product Code'|appTranslate|async}}</th>
            <th scope="col">{{'Created Date'|appTranslate|async}}</th>
            <th scope="col">{{'Agent No'|appTranslate|async}}</th>
            <th scope="col">{{'Total Premium'|appTranslate|async}}</th>
            <th scope="col">Days To Expire'|appTranslate|async}}</th>
            <th scope="col" style="border-top-right-radius: 12px;"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>Mark </td>
            <td>
              <button type="button" class="btn-i p-0 px-3 ">
                <span class="mx-3 my-auto">{{'Modify'|appTranslate|async}}</span></button>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
    <div class="col-md-12 mx-auto mt-5">
      <button type="button" class="btn-i p-0 px-4 btn-radius " style="float: right;">
        <span class="mx-3 my-auto">{{'New Quotation'|appTranslate|async}}</span></button>
    </div>
  </div>

</div>
