<app-form-navigation [cashtitle] = "'Admin/user'"></app-form-navigation> 
<div  class="container-sm " id="form-body">
    <div class="d-flex h-50 flex-column justify-content-center">
      <div class="row">
        <div class="col-md-8 mx-auto my-5 align-middle">
            <ul class="nav nav-tabs d-flex justify-content-around border-0" id="nav-tab" role="tablist" style="margin-bottom: 50px;">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active border-0" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" (click)="showSetup('Receipting')"
                   type="button" role="tab" aria-controls="home" aria-selected="true">Receipting</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link border-0" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" (click)="showSetup('Report')"
                  type="button" role="tab" aria-controls="profile" aria-selected="false">Report</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link border-0" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" (click)="showSetup('Workflows')"
                  type="button" role="tab" aria-controls="contact" aria-selected="false">Workflows</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link border-0" id="setup-tab" data-bs-toggle="tab" data-bs-target="#setup" (click)="showSetup('Setup')"
                    type="button" role="tab" aria-controls="contact" aria-selected="false">Setup</button>
                  </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <app-tabs [title] = "'Receipting'"></app-tabs> 
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <app-tabs [title] = "'Report'"></app-tabs> 
                </div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    <app-tabs [title] = "'Workflows'"></app-tabs> 
                </div>
                <div class="tab-pane fade" id="setup" role="tabpanel" aria-labelledby="setup-tab" >
                    <app-tabs [title] = "'Setup'"></app-tabs> 
                </div>
              </div>
        </div>
      </div>
    </div>
    
  </div>

  <div class="row mt-3 mx-3" *ngIf="data == 'Receipting'">
    <div class="col-10"></div>
    <div class="col-2" >
      <button type="button" 
       class="btn btn-next btn-radius px-4 py-2">Next <i class="fas fa-arrow-right px-2"></i></button>
    </div>
  </div>

  <div class="row mt-3 mx-3" *ngIf="data == 'Report'">
    <div class="col-10">
      <button type="button" 
      class="btn btn-next btn-radius px-4 py-2 mx-5"><i class="fas fa-arrow-left px-2"></i>Prev </button>
    </div>
    <div class="col-2" >
      <button type="button" 
       class="btn btn-next btn-radius px-4 py-2">Next <i class="fas fa-arrow-right px-2"></i></button>
    </div>
  </div>

  <div class="row mt-3 mx-3" *ngIf="data == 'Workflows'">
    <div class="col-10">
      <button type="button" 
      class="btn btn-next btn-radius px-4 py-2 mx-5"><i class="fas fa-arrow-left px-2"></i>Prev </button>
    </div>
    <div class="col-2" >
      <button type="button" 
       class="btn btn-next btn-radius px-4 py-2">Next <i class="fas fa-arrow-right px-2"></i></button>
    </div>
  </div>

  <div class="row mt-3 mx-3" *ngIf="data == 'Setup'">
    <div class="col-10">
      <button type="button" 
      class="btn btn-next btn-radius px-4 py-2 mx-5"><i class="fas fa-arrow-left px-2"></i>Prev </button>
    </div>
    <div class="col-2" >
      <button type="button" class="btn btn-prime bg-white btn-radius px-4"><i class="far fa-save px-2 "></i> save</button>
    </div>
  </div>