.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    background-color: red !important;
    color:#fff !important;
}
.heading-color-primary{
    color: #000;;
}
.nav-link:hover, .nav-link:focus{
    color: #333;
}