table {
  // border: 1px solid lightgray;
  width: 90vw;
}

.badge {
  cursor: pointer;
}

.items-per-page {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left: 5px;
}

#showAll {
  height: 43px;
  width: 43px;
}
