<loader [text]="loadingText" [loading]="loading">
  <!-- <app-form-navigation [title]="'Set Up / Correspondence / Print '"></app-form-navigation> -->
  <form (ngSubmit)="createCorrespondencePrint()" novalidate #f="ngForm">
    <div class=" mt-2 " id="form-body">
      <ul class="nav nav-pills nav-fill mb-3" id="nav-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="pills-basic-tab" data-bs-toggle="pill" data-bs-target="#pills-basic"
            type="button" role="tab" aria-controls="pills-basic" aria-selected="true">Basic
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-fields-tab" data-bs-toggle="pill" data-bs-target="#pills-fields"
            type="button" role="tab" aria-controls="pills-fields" aria-selected="false">Fields
          </button>

        </li>

      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-basic" role="tabpanel" aria-labelledby="pills-basic-tab">
          <div class="">
            <div class="row mt-2">
              <div class="col-md-4">
                <label class="form-label text-primary">{{"Document Code"|appTranslate|async}}</label>
                <input class="form-control  control-bg-gray" name="code" disabled
                  [(ngModel)]="createCorrespondence.correspondence.code">
              </div>
              <div class="col-md-4">
                <label class="form-label text-primary">{{"Template Name"|appTranslate|async}}</label>
                <select class="form-control  control-bg-gray" name="templateName"
                  [(ngModel)]="createCorrespondence.correspondence.templateName">
                  <option *ngFor="let templateCode of templateCodes" [ngValue]="templateCode?.code">
                    {{templateCode?.code}} - {{templateCode?.description}}
                  </option>
                </select>
              </div>
              <div class="col-md-4">
                <label class="form-label text-primary">{{"Send by"|appTranslate|async}}</label>
                <select class="form-control  control-bg-gray" name="sendBy" disabled
                  [(ngModel)]="createCorrespondence.correspondence.sendBy">
                  <option *ngFor="let code of sendByCodes" [ngValue]="code?.code" [selected]="code.code === 'P'">
                    {{code?.code}} - {{code?.title}}</option>
                </select>
              </div>


            </div>
            <div class="row mt-2">
              <div class="col-md-4">
                <label class="form-label text-primary">{{"Description"|appTranslate|async}}</label>
                <input class="form-control  control-bg-gray" name="description"
                  [(ngModel)]="createCorrespondence.correspondence.description" />
              </div>
              <div class="col-md-4">
                <label class="form-label text-primary">{{"Category"|appTranslate|async}}</label>
                <select class="form-control  control-bg-gray" name="docCategory"
                  [attr.disabled]="createCorrespondence.correspondence.code != null ? '' : null"
                  [(ngModel)]="createCorrespondence.correspondence.docCategory">
                  <option *ngFor="let category of categoryCodes" [ngValue]="category?.code">{{category?.code}} -
                    {{category?.title}}</option>
                </select>
              </div>
              <div class="col-md-4">
                <label class="form-label text-primary">{{"Spool Folder Path"|appTranslate|async}}</label>
                <input type="text" class="form-control control-bg-gray" name="spoolPath"
                  [(ngModel)]="createCorrespondence.correspondence.spoolPath">
              </div>
            </div>
            <div class="row mt-2">


            </div>

            <div class="row mt-2">
              <div class="col-md-4">
                <label class="form-label text-primary">{{'Primary Table Name'|appTranslate|async}}</label>
                <select class="form-control  control-bg-gray" name="tableGroup" (change)="getPrimaryTable()"
                  [(ngModel)]="createCorrespondence.correspondence.tableGroup">
                  <option *ngFor="let tableGroupName of tableGroups" [ngValue]="tableGroupName || ''">{{tableGroupName ||
                  ""}}
                  </option>
                </select>
              </div>
              <div class="col-md-4">
                <label class="form-label text-primary">{{'Secondary Table Name'|appTranslate|async}}</label>
                <select class="form-control  control-bg-gray" name="tableName" #table (change)="onSelectPrimaryTable()"
                  [(ngModel)]="createCorrespondence.correspondence.tableName">
                  <option></option>
                  <option *ngFor="let tableName of tableGroups" [ngValue]="tableName || ''">{{tableName || ""}}
                  </option>
                </select>
              </div>
              <div class="col-md-4">
                <label class="form-label text-primary">{{"Printer Path"|appTranslate|async}}</label>
                <input type="text" class="form-control control-bg-gray" name="printerPath"
                  [(ngModel)]="createCorrespondence.correspondence.printerPath">
              </div>
            </div>

            <div class="row mt-4 justify-content-center">
              <div class="col-md-4">
                <label
                  class="form-label text-primary">{{"Auto Attach Document To Workflow Code"|appTranslate|async}}</label>
                <select class="form-control  control-bg-gray" name="autoAttachWf"
                  [(ngModel)]="createCorrespondence.correspondence.autoAttachWf">
                  <option *ngFor="let workflowTaskCode of workflowTaskCodes" [ngValue]="workflowTaskCode?.code">
                    {{workflowTaskCode?.code}} - {{workflowTaskCode?.code}}
                  </option>
                </select>
              </div>
              <div class="col-md-4">
                <label class="form-label text-primary">{{"Numbering Format"|appTranslate|async}}</label>
                <select class="form-control  control-bg-gray" name="numberFormat"
                  [(ngModel)]="createCorrespondence.correspondence.numberFormat">
                  <option *ngFor="let numberFormat of numberFormats" [ngValue]="numberFormat?.code">
                    {{numberFormat?.code}} - {{numberFormat?.title}}
                  </option>
                </select>
              </div>
              <div class="col-md-4">
                <label class="form-label text-primary">{{"Status"|appTranslate|async}}</label>
                <select class="form-control  control-bg-gray" name="status" disabled
                  [(ngModel)]="createCorrespondence.correspondence.docStatus">
                  <option *ngFor="let code of statusCodes" [ngValue]="code?.code" [selected]="code.code === 'A'">
                    {{code?.code}} - {{code?.title}}</option>
                </select>
              </div>
            </div>

            <div class="row mt-4 justify-content-center">
              <div class="col">
                <label class="form-label text-primary w-100 text-center">{{"Add Filter"|appTranslate|async}}</label>
                <input type="checkbox" [disabled]="isShow" class="form-control control-bg-gray mx-auto"
                  data-bs-target="#addFilterModal" data-bs-toggle="modal">
              </div>

              <div class="col">
                <label class="form-label text-primary w-100 text-center">{{"Convert To Pdf"|appTranslate|async}}</label>
                <input type="checkbox" class="control-bg-gray form-control mx-auto" name="pdfEnforce"
                  [(ngModel)]="createCorrespondence.correspondence.pdfEnforce">
              </div>
              <div class="col">
                <label
                  class="form-label text-primary w-100 text-center">{{"Can Be Viewed By Client On Mobile"|appTranslate|async}}</label>
                <input type="checkbox" class="control-bg-gray form-control mx-auto" name="viewByClient"
                  [(ngModel)]="createCorrespondence.correspondence.viewByClient">
              </div>
            </div>
            <div class="row mt-4 justify-content-center">
              <div class="col-4">
                <label class="form-label text-primary">{{"Other document Linked"|appTranslate|async}}</label>
                <div
                  *ngFor="let correspondenceDocLinkList of createCorrespondence.correspondenceDocLinkList; let i = index;">
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <select class="form-control mt-4 control-bg-gray"
                          name="otherDocLinked_{{correspondenceDocLinkList.rowId}}"
                          [(ngModel)]="correspondenceDocLinkList.docLink">
                          <option *ngFor="let documentCodeAndDesc of documentCodeAndDescs"
                            [ngValue]="documentCodeAndDesc?.code">
                            {{documentCodeAndDesc?.code}} - {{documentCodeAndDesc?.description}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-2" *ngIf="!isShow">
                      <div class="form-group">
                        <label for="" class="form-label text-primary">&nbsp;</label>
                        <app-button buttonType="delete" (click)="removeCorrespondenceDocLink(i)"></app-button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12" *ngIf="!isShow">
                  <label class="form-label text-primary">&nbsp;</label>
                  <app-button buttonType="addCustom" (click)="addCorrespondenceDocLink()"></app-button>
                </div>
              </div>
            </div>

          </div>
          <br><br><br>


        </div>
        <div class="tab-pane fade" id="pills-fields" role="tabpanel" aria-labelledby="pills-fields-tab">
          <div class="">
         <app-correspondence-fields-tab [correspondence]="createCorrespondence" [isShow]="isShow"
           [connectors]="connectors" [tableColumns]="tableColumns">
         </app-correspondence-fields-tab>

            <div class=" mt-5 row justify-content-end" *ngIf="!isShow">
              <div class="col-2">
                <div class="form-group">
                  <label for="" class="form-label text-primary">&nbsp;</label>
                  <app-button [buttonType]="'submit'" (click)="createCorrespondencePrint()"></app-button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

    <div class="modal fade" id="addFilterModal" aria-hidden="true" aria-labelledby="addFilterModal" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalToggleLabel">{{"Add Filter"|appTranslate|async}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div *ngFor="let correspondenceFilterList of createCorrespondence.correspondenceFilterList; let i = index">
              <div class="row">
                <div class="col">
                  <label for="" class="form-label text-primary">{{"Filter"|appTranslate|async}}</label>
                  <select class="form-control control-bg-gray" name="filter_{{correspondenceFilterList.rowId}}"
                    [(ngModel)]="correspondenceFilterList.filter">
                    <option *ngFor="let filtersCode of filtersCodes" [ngValue]="filtersCode?.code">
                      {{filtersCode?.code}} - {{filtersCode?.title}}</option>
                  </select>
                </div>
                <div class="col">
                  <label for="" class="form-label text-primary">{{"Operator"|appTranslate|async}}</label>
                  <select class="form-control control-bg-gray" name="operator_{{correspondenceFilterList.rowId}}"
                    [(ngModel)]="correspondenceFilterList.operator">
                    <option *ngFor="let operatorCode of operatorCodes" [ngValue]="operatorCode?.code">
                      {{operatorCode?.code}} - {{operatorCode?.title}}</option>
                  </select>
                </div>
                <div class="col">
                  <label for="" class="form-label text-primary">{{"Value"|appTranslate|async}}</label>
                  <input type="number" class="form-control control-bg-gray"
                    name="value_{{correspondenceFilterList.rowId}}" [(ngModel)]="correspondenceFilterList.value">
                </div>
                <div class="col">
                  <label for="" class="form-label text-primary">{{"And/Or"|appTranslate|async}}</label>
                  <select class="form-control control-bg-gray" name="connector_{{correspondenceFilterList.rowId}}"
                    [(ngModel)]="correspondenceFilterList.connector">
                    <option *ngFor="let connectorCode of connectorCodes" [ngValue]="connectorCode?.code">
                      {{connectorCode?.code}} - {{connectorCode?.title}}
                    </option>
                  </select>
                </div>
                <div class="col">
                  <label for="" class="form-label text-primary">&nbsp;</label>
                  <app-button buttonType="delete" (click)="removeCorrespondenceFilter(i)"></app-button>
                </div>
              </div>

            </div>
            <div class="col-4">
              <label for="" class="form-label text-primary">&nbsp;</label>
              <app-button buttonType="add" (click)="addCorrespondenceFilter()"></app-button>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn-primary btn" data-bs-dismiss="modal">
              <i class="fa fa-clipboard"></i>
              Continue
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="d-lg-flex mt-2" *ngIf="isShow">

    <app-btn text="Edit" routerLink="../edit" icon="edit" [queryParamsHandling]="'merge'" type="secondary"></app-btn>
    <span class="mx-1"></span>
    <app-btn text="Clone" routerLink="../clone" icon="clone" [queryParamsHandling]="'merge'" type="secondary">
    </app-btn>

  </div>

</loader>
