<div class="container mt-5">
  <div class="row">
    <div class="col-md-12 mx-auto">
      <h1 class="my-5">{{'Client Relationships'|appTranslate|async}}</h1>
      <div class="d-flex">
        <p class="py-3 mx-3"><b>{{'Client Name'|appTranslate|async}}:</b> <span class="px-3">XXX</span>
        </p>
        <p class="py-3 mx-3"><b>{{'Family size'|appTranslate|async}}:</b> <span class="px-3">2</span></p>
      </div>

      <table class="table table-responsive  table-striped">
        <thead class="py-3 theader">
          <tr>
            <th scope="col" style="border-bottom-left-radius: 12px;">{{'Client Number'|appTranslate|async}}
            </th>
            <th scope="col">{{'Is'|appTranslate|async}}</th>
            <th scope="col">{{'Connector'|appTranslate|async}}</th>
            <th scope="col">{{'Client Number'|appTranslate|async}}</th>
            <th scope="col">{{'Client Status'|appTranslate|async}}</th>
            <th scope="col" style="border-top-right-radius: 12px;">{{'Relationship Date'|appTranslate|async}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row">w788</td>
            <td>Wife</td>
            <td>To</td>
            <td>2344</td>
            <td>A</td>
            <td>1-Feb-2020</td>
          </tr>
          <tr>
            <td scope="row">w788</td>
            <td>Wife</td>
            <td>To</td>
            <td>2344</td>
            <td>A</td>
            <td>1-Feb-2020</td>
          </tr>
        </tbody>
      </table>

    </div>
    <div class="row justify-content-end">
      <div class="col-md-3">

        <app-button [buttonType]="'btnCustomClone'" [text]="'Opportunities'"></app-button>
      </div>
    </div>

  </div>

</div>