<div class="container mt-5">
  <div class="row">
    <div class="col-md-12 mx-auto">
      <h1 class="my-5">{{"Web Log In"|appTranslate|async}}</h1>
      <p class="py-3"><b>{{"Agent Name"|appTranslate|async}}:</b> <span class="px-3">{{findAgentService.agentInfo?.NAME}}</span></p>
      <table class="table table-responsive  table-striped">
        <thead class="py-3 theader">
        <tr>
          <th scope="col" style="border-bottom-left-radius: 12px;">{{"Web ID"|appTranslate|async}}</th>
          <th scope="col">{{"Account Name"|appTranslate|async}}</th>
          <th scope="col" style="border-top-right-radius: 12px;">{{"Status"|appTranslate|async}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of webLoginList">
          <th scope="row">{{item.WEB_ID}}</th>
          <td>{{item.FIRSTNAME}}</td>
          <td>{{item.ACTIVE}}</td>
        </tr>
        </tbody>
      </table>

    </div>

    <div class="col-md-3 mt-5">
      <app-button [buttonType]="'addCustom'" [text]="'New Web Account'"></app-button>
    </div>
  </div>

</div>

