<div class="container">
  <table class="table table-responsive  table-striped">
    <thead class="py-3 theader">
    <tr>

      <th scope="col">{{'File Name'|appTranslate|async}}</th>
      <th scope="col">{{'Category'|appTranslate|async}}</th>
      <th scope="col">{{'Sub Category'|appTranslate|async}}</th>
      <th scope="col">{{'Document Title'|appTranslate|async}}</th>
      <th scope="col">{{'Created On'|appTranslate|async}}</th>
      <th scope="col">{{'Created By'|appTranslate|async}}</th>
      <th scope="col">{{'Auth By'|appTranslate|async}}</th>
      <th scope="col">{{'How'|appTranslate|async}}</th>
      <th scope="col">{{'Box No.'|appTranslate|async}}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
     <td></td>
     <td></td>
     <td></td>
     <td></td>
     <td></td>
     <td></td>
     <td></td>
     <td></td>
     <td></td>
    </tr>
    </tbody>
  </table>
</div>
