<div class=" mt-4">

  <form [formGroup]="caS.clientRelatedAsset">
    <div class="row align-items-end">
      <div class="col-md-3">
        <label class="m-0 text-primary">
          {{'Owner Client Number'|appTranslate|async}}
        </label>
        <div class="row align-items-end">
          <div class="col-5">
            <app-input-basic type="text" [showLabel]="false" [form]="caS.clientRelatedAsset" name='clientNo' #clientNo
              [showValidation]="clientNo.invalid" [showValidationIcon]="true" [stacked]="true">
            </app-input-basic>
          </div>
          <div class="col ps-0">
            <app-input-ngmodel type="text" [showLabel]="false" [readonly]="true" label=''
              [model]="caS.clientRelatedAsset?.value?.fullName" name='clientNo' [stacked]="true">
            </app-input-ngmodel>
          </div>
        </div>
        <app-validation-message [control]="clientNo.control" label="Client Number">
        </app-validation-message>
      </div>
      <div class="col-md-3">
        <app-input-basic type="select" label='Property Type' [options]="propertTypeData" labelType="ct"
          valueField="code" [form]="caS.asset" name='propertyType' [stacked]="true">
        </app-input-basic>
        <app-validation-message></app-validation-message>
      </div>
      <div class="col-md-3">
        <app-input-basic type="select" label='Property Usage' [options]="propertyUsageData" labelType="ct"
          valueField="code" [form]="caS.asset" name='propertyUsage' [stacked]="true">
        </app-input-basic>
        <app-validation-message></app-validation-message>
      </div>
      <div class="col-md-3">
        <app-input-basic type="select" [disabled]="!caS.propertyUsageIsFactory" label='Nature of Goods Produced'
          [options]="numberofGoodsProducedData" labelType="ct" valueField="code" [form]="caS.asset" name='natureGoods'
          [stacked]="true">
        </app-input-basic>
        <app-validation-message></app-validation-message>
      </div>
      <div class="col-md-3">
        <app-input-basic type="select" label='Relationship of Assured to Property'
          [options]="relationshipofAssuredtoPropertyData" labelType="ct" valueField="code" [form]="caS.asset"
          name='relationship' [stacked]="true">
        </app-input-basic>
        <app-validation-message></app-validation-message>
      </div>
      <div class="col-md-3">
        <app-input-basic type="number" [disabled]="!caS.isTenant" label='Monthly Rent' [decimalPoints]="0"
          [form]="caS.assetValue" name='monthlyRent' [stacked]="true">
        </app-input-basic>
        <app-validation-message></app-validation-message>
      </div>
      <div class="col-md-3">
        <app-input-basic type="date" [disabled]="!caS.isTenant" label='Year of Construction' [decimalPoints]="0"
          [form]="caS.asset" name='yrConstr' [stacked]="true">
        </app-input-basic>
        <app-validation-message></app-validation-message>
      </div>
      <div class="col-md-3">
        <app-input-basic type="select" label='Construction Status'
          [options]="aS.getCONSTRUCTION_STATUS|functionCaller|async" labelType="ct" valueField="code"
          [form]="caS.assetSpecification" name='constrStatus' [stacked]="true">
        </app-input-basic>
        <app-validation-message></app-validation-message>
      </div>
      <div class="col-md-3">
        <app-input-basic type="number" [decimalPoints]="2" label='Surface Area' [form]="caS.assetSpecification"
          name='surfaceArea' [stacked]="true">
        </app-input-basic>
        <app-validation-message></app-validation-message>
      </div>
      <div class="col-md-3">
        <app-input-basic type="text" label='Risk Category' [form]="caS.asset" name='riskCategory' [stacked]="true">
        </app-input-basic>
        <app-validation-message></app-validation-message>
      </div>
      <div class="col-md-3">
        <app-input-basic type="number" [decimalPoints]="0" label='No of Floors' [form]="caS.asset" name='noFloors'
          [stacked]="true">
        </app-input-basic>
        <app-validation-message></app-validation-message>
      </div>
      <div class="col-md-3">
        <app-input-basic type="number" [decimalPoints]="0" label='No of Apartments in Building' [form]="caS.asset"
          name='noAptBldg' [stacked]="true">
        </app-input-basic>
        <app-validation-message></app-validation-message>
      </div>
      <div class="col-md-3">
        <app-input-basic type="number" [decimalPoints]="0" label='No of Rooms in Insured Property' [form]="caS.asset"
          name='noRmInsured' [stacked]="true">
        </app-input-basic>
        <app-validation-message></app-validation-message>
      </div>
      <div class="col-md-3">
        <app-input-basic type="number" [decimalPoints]="0" label='No of Apartments Insured Property' [form]="caS.asset"
          name='aptNoInsured' [stacked]="true">
        </app-input-basic>
        <app-validation-message></app-validation-message>
      </div>
      <div class="col-md-3">
        <app-input-basic type="number" [decimalPoints]="0" label='Insured Portion of Building' [form]="caS.asset"
          name='insuredPortionBldg' [stacked]="true">
        </app-input-basic>
        <app-validation-message></app-validation-message>
      </div>
      <div class="col-md-3">
        <app-autocomplete label="Currency" [form]="caS.assetValue" name="ccy" [stacked]="true"
          [showValidation]="currencyTag.invalid" [showValidationIcon]="false"
          [options]="aS.getCurrency|functionCaller|async" labelType="cd" valueField="code" #currencyTag>
        </app-autocomplete>
        <app-validation-message></app-validation-message>
      </div>
      <div class="col-md-3">
        <app-input-basic type="number" [disabled]="!caS.hasCurrency" label='Estimated Value by Client'
          [decimalPoints]="0" [form]="caS.assetValue" name='estimatedValueByclient' [stacked]="true">
        </app-input-basic>
        <app-validation-message></app-validation-message>
      </div>
      <div class="col-md-3">
        <app-input-basic type="number" label='Estimated Value by System' [form]="caS.assetValue"
          name='estimatedValueBySystem' [stacked]="true">
        </app-input-basic>
        <app-validation-message></app-validation-message>
      </div>

      <!-- LOCATION -->
      <div class="col-md-3">
        <app-input-basic type="text" label='Address' [form]="caS.asset" name='location' [stacked]="true">
        </app-input-basic>
        <app-validation-message></app-validation-message>
      </div>
      <div class="col-md-3">
        <app-autocomplete [disabled]="!caS.asset?.value?.location" label="Country" [form]="caS.asset" name="country"
          [stacked]="true" [showValidation]="countryTag.invalid" [showValidationIcon]="false"
          [options]="lS.getCountries|functionCaller|async" labelType="cd" valueField="code" #countryTag>
        </app-autocomplete>
        <app-validation-message></app-validation-message>
      </div>
      <div class="col-md-3">
        <app-autocomplete [disabled]="!caS.hasCountry" label="Region" [form]="caS.asset" name="locationRegion"
          [stacked]="true" [showValidation]="locationRegion.invalid" [showValidationIcon]="false"
          [options]="lS.getRegion|functionCaller1:countryTag.value|async" labelType="cd" valueField="code"
          #locationRegion>
        </app-autocomplete>
        <app-validation-message></app-validation-message>
      </div>
      <div class="col-md-3">
        <app-autocomplete [disabled]="!caS.hasRegion" label="State" [form]="caS.asset" name="state" [stacked]="true"
          [showValidation]="stateTag.invalid" [showValidationIcon]="false"
          [options]="lS.getStates|functionCaller1:locationRegion.value|async" labelType="cd" valueField="code"
          #stateTag>
        </app-autocomplete>
        <app-validation-message></app-validation-message>
      </div>
      <div class="col-md-3">
        <app-autocomplete [disabled]="!caS.hasState" label="Town" [form]="caS.asset" name="town" [stacked]="true"
          [showValidation]="townTag.invalid" [showValidationIcon]="false"
          [options]="lS.getTown|functionCaller1:stateTag.value|async" labelType="cd" valueField="code" #townTag>
        </app-autocomplete>
        <app-validation-message></app-validation-message>
      </div>
      <div class="col-md-3">
        <app-input-basic   type="text" label='Geolocation' [form]="caS.asset" name='geolocation'
          [stacked]="true">
        </app-input-basic>
        <app-validation-message></app-validation-message>
      </div>
      <!--// -->
      <div class="col-md-12">
        <div class="d-lg-flex align-items-center text-center">
          <div class="me-3 ">
            <label class="text-primary mb-0">Is any of the following within a 10km radius of the property?</label>
          </div>
          <div class="me-4 ms-2">
            <app-input-basic type="checkbox" label='Sawmill' [form]="caS.assetUwQuest" name='sawmill' [stacked]="false"
              [mini]="true">
            </app-input-basic>
          </div>
          <div class="me-4">
            <app-input-basic type="checkbox" label='Fuel Station' [form]="caS.assetUwQuest" name='fuelStation'
              [stacked]="false" [mini]="true">
            </app-input-basic>
          </div>
          <div>
            <app-input-basic type="checkbox" label='Factory' [form]="caS.assetUwQuest" name='factory' [stacked]="false"
              [mini]="true">
            </app-input-basic>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
