<!-- <app-form-navigation [title]="'Set Up / Agents / Agent Loan Type   '"></app-form-navigation> -->

<div class="container">
  <br><br>
  <div class="row">
    <div class="col-md-4">
      <h3>{{"Agent Loan Type"|appTranslate|async}}:</h3>

    </div>
    <div class="col-2 d-flex" >
      <h4>{{"XXXX"|appTranslate|async}}</h4>

    </div>

  </div>
  <hr>

  <div class="row">
    <div class="col-md-5">
      <label>{{"Description"|appTranslate|async}}</label>
      <input class="form-control form-control-sm control-bg-gray">

    </div>
    <div class="col-md-1">

    </div>
    <div class="col-md-5">
      <label>{{"Max Tenor (Months)"|appTranslate|async}}</label>
      <input class="form-control form-control-sm control-bg-gray">
    </div>

  </div>
<br>
<div class="row">
  <div class="col-md-5">
    <label>{{"Interest Rate Table"|appTranslate|async}}</label>
    <input class="form-control form-control-sm control-bg-gray">

  </div>
  <div class="col-md-1">

  </div>
  <div class="col-md-5">
    <label>{{"Fixed Interest Rate (%)"|appTranslate|async}}</label>
    <input class="form-control form-control-sm control-bg-gray">
  </div>

</div>
<br>
<hr>



  <!-- <div class="row">
    <div class="col-11 d-flex justify-content-end  ">
        
      <label>&nbsp;</label>
      <app-button [buttonType]="'add'"> </app-button>
    </div>
  </div> -->
  
  
  <br>
<div class="row">
<div class="col-md-2">
  <label>{{"Agent Type"|appTranslate|async}}</label>
  

</div>
<div class="col-md-2">
  <label>{{"Qualifying Avg Monthly Prod (Last 12 Months)"|appTranslate|async}}</label><br>
  
</div>

<div class="col-md-2">
  <label>{{"Qualifying Period"|appTranslate|async}}</label><br>
  
</div>
<div class="col-md-2">
  <label>{{"Minimum Amount"|appTranslate|async}}</label><br>
  
</div>
<div class="col-md-2">
  <label>{{"Maximum Amount"|appTranslate|async}}</label><br>
  
</div>
<div class="col-md-2">
  <label>{{"Fixed Amount"|appTranslate|async}}</label><br>
  
</div>
</div>
<div class="row">
  <div class="col-md-2">
    
    <select class="form-control form-control-lg control-bg-gray">
      <option></option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div> 
  <div class="col-md-2">
    
    <input class="form-control form-control-sm control-bg-gray">
  </div>
  <div class="col-md-2">
    
    <input class="form-control form-control-sm control-bg-gray">
  </div>
  <div class="col-md-2">
    
    <input class="form-control form-control-sm control-bg-gray">
  </div>
  <div class="col-md-2">
    
    <input class="form-control form-control-sm control-bg-gray">
  </div>
  <div class="col-md-2">
    
    <input class="form-control form-control-sm control-bg-gray">
  </div>

</div>
  
  <br />
  <div class="row">
    <div class="col-md-2">
      
      <select class="form-control form-control-lg control-bg-gray">
        <option></option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div> 
    <div class="col-md-2">
      
      <input class="form-control form-control-sm control-bg-gray">
    </div>
    <div class="col-md-2">
      
      <input class="form-control form-control-sm control-bg-gray">
    </div>
    <div class="col-md-2">
      
      <input class="form-control form-control-sm control-bg-gray">
    </div>
    <div class="col-md-2">
      
      <input class="form-control form-control-sm control-bg-gray">
    </div>
    <div class="col-md-2">
      
      <input class="form-control form-control-sm control-bg-gray">
    </div>
  
  </div>
    
    <br />
    <div class="row">
      <div class="col-md-2">
        
        <select class="form-control form-control-lg control-bg-gray">
          <option></option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div> 
      <div class="col-md-2">
        
        <input class="form-control form-control-sm control-bg-gray">
      </div>
      <div class="col-md-2">
        
        <input class="form-control form-control-sm control-bg-gray">
      </div>
      <div class="col-md-2">
        
        <input class="form-control form-control-sm control-bg-gray">
      </div>
      <div class="col-md-2">
        
        <input class="form-control form-control-sm control-bg-gray">
      </div>
      <div class="col-md-2">
        
        <input class="form-control form-control-sm control-bg-gray">
      </div>
    
    </div>
      
      <br />
      <div class="row">
        <div class="col-md-2">
          
          <select class="form-control form-control-lg control-bg-gray">
            <option></option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div> 
        <div class="col-md-2">
          
          <input class="form-control form-control-sm control-bg-gray">
        </div>
        <div class="col-md-2">
          
          <input class="form-control form-control-sm control-bg-gray">
        </div>
        <div class="col-md-2">
          
          <input class="form-control form-control-sm control-bg-gray">
        </div>
        <div class="col-md-2">
          
          <input class="form-control form-control-sm control-bg-gray">
        </div>
        <div class="col-md-2">
          
          <input class="form-control form-control-sm control-bg-gray">
        </div>
      
      </div>
        
        <br />
  <br />
  <br />
  <div class="row">
    <div class="col-12 d-flex justify-content-end">
      <app-button [buttonType]="'save'"> </app-button>
    </div>
  </div>
</div>