<app-form-navigation [title]="''"></app-form-navigation>

<div class="container d-flex align-items-center ">
  <div class="w-100">
    <div class="row bg-light-gray-evolutics p-5 mt-3 d-flex " style="min-height: 60vh;">
      <div class="col">
        <div class="row py-5">
          <div class="col">
            <h5>{{'The Campaign did not generate significant'|appTranslate|async}} <br> {{'response in the last X runs'|appTranslate|async}}</h5>
          </div>
        </div>
        <div class="row pt-5">
          <div class="col">
            <a href="" class="btn btn-outline-danger"> <i class="fas fa-ban"></i> {{'Stop Campaign'|appTranslate|async}}</a>
          </div>
        </div>
      </div>
      <div class="col-5">
        <div class="row justify-content-end py-3 bottom-border">
          <div class="col-2 bg-danger text-white">
           {{'Text'|appTranslate|async}}
          </div>
          <div class="col-2 bg-danger text-white">
            {{'Control'|appTranslate|async}}
          </div>
        </div>
        <div class="row py-2 bottom-border">
          <div class="col">
           {{'Group Size'|appTranslate|async}}
          </div>
          <div class="col-2">
            378
          </div>
          <div class="col-2">
            450
          </div>
        </div>
        <div class="row py-2 bottom-border">
          <div class="col">
            # {{'of Customers who made an order'|appTranslate|async}}
          </div>
          <div class="col-2">
            12
          </div>
          <div class="col-2">
            5
          </div>
        </div>
        <div class="row py-2 bottom-border">
          <div class="col">
            % {{'of Customers who made an order'|appTranslate|async}}
          </div>
          <div class="col-2">
            32%
          </div>
          <div class="col-2">
            22%
          </div>
        </div>
        <div class="row py-2 ">
          <div class="col">
            {{'Avg Net Revenue'|appTranslate|async}}
          </div>
          <div class="col-2">

          </div>
          <div class="col-2">

          </div>
        </div>
      </div>
    </div>
    <div class="row bg-row-dark-blue p-2 ">
      <div class="col">
        <div class="row">
          <div class="col"><label for="" class="small1 grey">{{'TARGET GROUP'|appTranslate|async}}</label></div>
        </div>
        <div class="row">
          <div class="col"><label for="" class="small2">{{'Sales Seeker and lorem ipsum doloris sit emet'|appTranslate|async}}</label></div>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col"><label for="" class="small2"><span class="bg-white grey p-1">A</span>&nbsp;{{'Free 1st month
            premium'|appTranslate|async}}</label></div>
        </div>
        <div class="row">
          <div class="col"><label for="" class="small2"><span class="bg-white grey p-1">B</span> &nbsp;10%
            {{'Discount'|appTranslate|async}}</label></div>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col"><label for="" class="small1 grey">{{'RECURRENCE'|appTranslate|async}}</label></div>
        </div>
        <div class="row">
          <div class="col"><label for="" class="small2">Every Tue, 10 Occupancies</label></div>
        </div>
      </div>
    </div>
  </div>

</div>
