<div class="d-flex justify-content-between">
  <h5 mat-dialog-title>{{ 'Find Provider' | appTranslate | async }}</h5>
  <span class="fas fa-close" mat-dialog-close></span>
</div>
<hr />
<mat-dialog-content>
  <div class="d-flex my-3 justify-content-center">
    <div
      class="form-group d-flex justify-content-center"
      style="white-space: nowrap"
    >
      <input
        type="text"
        class="form-control control-bg-gray me-2"
        [(ngModel)]="couponName"
        [disabled]="loading"
        placeholder="{{ 'Provider name' | appTranslate | async }}"
        #name="ngModel"
        required
        (keyup.enter)="findCoupon()"
      />
      <button class="btn btn-outline-primary btn-lg" (click)="findCoupon()">
        <span class="fas fa-search" *ngIf="!loading"></span>
        <span class="fas fa-sync fa-spin" *ngIf="loading"></span>
        {{ (loading ? 'Searching...' : 'Search') | appTranslate | async }}
      </button>
    </div>
  </div>
  <p *ngIf="name.invalid && name.touched" class="text-danger small text-center">
    {{ 'Enter a name to search' | appTranslate | async }}
  </p>
  <div class="table-responsive row my-3">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>{{ 'Provider No' | appTranslate | async }}</th>
          <th>{{ 'Provider Name' | appTranslate | async }}</th>
          <th>{{ 'Provider Subcategory' | appTranslate | async }}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let coupon of coupons">
          <td>{{ coupon.no }}</td>
          <td>{{ coupon.fullName }}</td>
          <td>{{ coupon.providerSubCategory }}</td>
          <td>
            <button
              (click)="onSelectCoupon(coupon)"
              class="btn btn-outline-primary btn-lg"
            >
              {{ 'Select' | appTranslate | async }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <p class="text-center" *ngIf="!coupons.length">
      {{ 'No Coinsurer found' | appTranslate | async }}
    </p>
  </div>
</mat-dialog-content>
