
.modal-dialog {
    width: 90vw;
    max-width: 950px;
}
.modal-content {
    border-radius: 0px 20px;
    padding: 35px 54px 35px 56px;
}

.modal-header, .modal-footer, .modal-body {
    border: none;
}