label {
    color: #00BCC8;
}

.show-button {
    background: #00BCC8;
    color: #fff;
}

.show-button:hover {
    background: #01747c;
}

.create-button {
    background: #fff;
    color: #00BCC8;
    border: 1px solid #00BCC8;
}

.create-button:hover {
    background: #00BCC8;
    color: #fff;
}

.clone-button {
    background: #00bbc825;
    color: #00BCC8;
    border: 1px solid #00BCC8;
}

.clone-button:hover {
    background: #00BCC8;
    color: #fff;
}