<div class="container">
  <div class="row justify-content-between">
    <div class="col-2 text-primary">New</div>
    <div class="col-2 text-primary">

      <div class="row">
        <div class="col">
          Select All Auth
        </div>
        <div class="col-1">
          <input type="checkbox" class="form-control control-bg-gray">
        </div>
      </div>

    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-2">
      <label for="" class="form-label">Screen</label>
    </div>
    <div class="col-2">
      <label for="" class="form-label">Parameter</label>
    </div>
    <div class="col-2">
      <label for="" class="form-label">Code</label>
    </div>
    <div class="col-1">
      <label for="" class="form-label">Created By</label>
    </div>
    <div class="col-2">
      <label for="" class="form-label">Created On</label>
    </div>
    <div class="col-1">
      <label for="" class="form-label">EF On</label>
    </div>
    <div class="col-1">
      <label for="" class="form-label">Authorize</label>
    </div>
    <div class="col-1">
      <label for="" class="form-label">Decline</label>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <p class="small">Setup/Rate/General</p>
    </div>
    <div class="col-2">
      <p class="small">Cover Code</p>
    </div>
    <div class="col-2">
      <p class="small">ABC5</p>
    </div>
    <div class="col-1">
      <p class="small">J-Bond</p>
    </div>
    <div class="col-2">
      <p class="small">1/Jan/2020 10:23</p>
    </div>
    <div class="col-1">
      <p class="small">1/Jan/2020</p>
    </div>
    <div class="col-1">
      <input type="checkbox" class="form-control control-bg-gray">
    </div>
    <div class="col-1">
      <input type="checkbox" class="form-control control-bg-gray">
    </div>
  </div>


  <div class="row justify-content-between mt-5">
    <div class="col-2 text-primary">Endorsement</div>
    <div class="col-2 text-primary">

      <div class="row">
        <div class="col">
          Select All Auth
        </div>
        <div class="col-1">
          <input type="checkbox" class="form-control control-bg-gray">
        </div>
      </div>

    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-2">
      <label for="" class="form-label">Screen</label>
    </div>
    <div class="col-1">
      <label for="" class="form-label">Endorse Cat</label>
    </div>
    <div class="col-1">
      <label for="" class="form-label">ID Endorse Type</label>
    </div>
    <div class="col-1">
      <label for="" class="form-label">Field</label>
    </div>
    <div class="col-1">
      <label for="" class="form-label">Old Value</label>
    </div>
    <div class="col-1">
      <label for="" class="form-label">New Value</label>
    </div>
    <div class="col-1">
      <label for="" class="form-label">Updated By</label>
    </div>
    <div class="col-1">
      <label for="" class="form-label">Updated On</label>
    </div>
    <div class="col-1">
      <label for="" class="form-label">Eff On</label>
    </div>
    <div class="col-1">
      <label for="" class="form-label">Authorize</label>
    </div>
    <div class="col-1">
      <label for="" class="form-label">Decline</label>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <p class="small">Setup/Rate/General</p>
    </div>
    <div class="col-1">
      <p class="small">COVERS_BASIC</p>
    </div>
    <div class="col-1">
      <p class="small">23 Deletion</p>
    </div>
    <div class="col-1">
      <p class="small">DESCRIPTION</p>
    </div>
    <div class="col-1">
      <p class="small">Rolls Royce</p>
    </div>
    <div class="col-1">
      <p class="small">--</p>
    </div>
    <div class="col-1">
      <p class="small">JBOND</p>
    </div>
    <div class="col-1">
      <p class="small">1/Jan/2020</p>
    </div>
    <div class="col-1">
      <p class="small">1/Jan/2020</p>
    </div>
    <div class="col-1">
      <input type="checkbox" class="form-control control-bg-gray">
    </div>
    <div class="col-1">
      <input type="checkbox" class="form-control control-bg-gray">
    </div>
  </div>

  <div class="row justify-content-between mt-5">
    <div class="col-2 text-primary">Report</div>

  </div>
  <hr>
  <div class="row">
    <div class="col-2">
      <label for="" class="form-label">Endorse Category</label>
    </div>
    <div class="col-2">
      <label for="" class="form-label">Endorse Type</label>
    </div>
    <div class="col-2">
      <label for="" class="form-label">Date From</label>
    </div>
    <div class="col-2">
      <label for="" class="form-label">Date To</label>
    </div>
    <div class="col-1">
      <label for="" class="form-label">Created By</label>
    </div>
    <div class="col-1">
      <label for="" class="form-label">Auth By</label>
    </div>
    <div class="col-1">
      <label for="" class="form-label">EF From</label>
    </div>
    <div class="col-1">
      <label for="" class="form-label">EF To</label>
    </div>

  </div>
  <div class="row">
    <div class="col-2">
      <input type="text" class="form-control control-bg-gray">
    </div>
    <div class="col-2">
      <input type="text" class="form-control control-bg-gray">
    </div>
    <div class="col-2">
      <input type="text" class="form-control control-bg-gray">
    </div>
    <div class="col-2">
      <input type="text" class="form-control control-bg-gray">
    </div>
    <div class="col-1">
      <input type="text" class="form-control control-bg-gray">
    </div>
    <div class="col-1">
      <input type="text" class="form-control control-bg-gray">
    </div>
    <div class="col-1">
      <input type="text" class="form-control control-bg-gray">
    </div>
    <div class="col-1">
      <input type="text" class="form-control control-bg-gray">
    </div>
  </div>
  <div class="row justify-content-end mt-4">
    <div class="col-2">
      <app-button buttonType="show"></app-button>
    </div>
  </div>
</div>
