:host ::ng-deep .pointer {
    cursor: pointer;
  }
  :host ::ng-deep .page-head {
    font-weight: 500;
    line-height: 1.2;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 2.5rem;
    display: none;
  }
  :host ::ng-deep .page-head-pop-up {
    font-weight: 500;
    line-height: 1.2;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 20px;
    display: inline-block;
  }
  :host ::ng-deep .tr.mat-header-row {
    height: 48px;
  }
  :host ::ng-deep .tc1 .lbl {
    font-style: normal;
    font-weight: bold;
    color: #000000;
  }
  :host ::ng-deep .tc1 .text-primary {
    // font-size: 12px;
  }
  :host ::ng-deep .tc1 .val {
    font-style: normal;
    font-weight: 500;
    color: #000000;
  }
  /* #region  materials*/
  :host ::ng-deep tr.mat-header-row {
    height: auto;
  }
  .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: var(--main-color);
  }
  .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: #fff;
    border: 2px solid var(--main-color);
  }
  .mat-slide-toggle.mat-checked .mat-ripple-element {
    background-color: var(--main-color);
  }
  .mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: var(--main-color);
  }
  .mat-icon {
    vertical-align: top;
  }
  .mat-snack-bar-container {
    color: rgb(255 255 255);
  }
  .mat-progress-bar-fill::after {
    background-color: var(--main-bg);
  }
  .mat-progress-bar-buffer {
    background-color: var(--main-bg-light);
    border: 1px solid var(--main-bg);
  }
  .mat-horizontal-content-container {
    padding: 0 !important;
  }
  .no-error .mat-form-field-wrapper {
    padding-bottom: 0;
  }
  :host ::ng-deep .mat-form-field {
    width: 100%;
  }
  .mat-form-field-infix {
    width: auto !important;
  }
  button.mat-menu-item {
    margin: 0 !important;
  }
  button:focus {
    outline: none;
  }
  .mat-table-sticky-border-elem-right {
    border-left: 1px solid var(--main-bg-lite);
  }
  
  .mat-table-sticky-border-elem-left {
    border-right: 1px solid var(--main-bg-lite);
  }
  .mat-paginator {
    background: inherit;
  }
  .mat-table {
    background: #fff0;
  }
  .mat-button-wrapper .mat-icon,
  .mat-button-wrapper .material-icons {
    margin-top: 1px;
  }
  .mat-step-header .mat-step-icon-selected,
  .mat-step-header .mat-step-icon-state-done,
  .mat-step-header .mat-step-icon-state-edit {
    background-color: var(--main-bg-trans-dark);
  }
  .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
  .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: var(--main-bg);
  }
  .mat-checkbox-layout,
  .mat-radio-label {
    margin: 0;
  }
  .mat-radio-button.mat-accent .mat-radio-inner-circle,
  .mat-radio-button.mat-accent
    .mat-radio-ripple
    .mat-ripple-element:not(.mat-radio-persistent-ripple),
  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
  .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: var(--main-bg);
  }
  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: var(--main-bg);
  }
  .example-container {
    width: 400px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
  }
  
  .example-list {
    border: solid 1px #ccc;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
  }
  
  .item-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .item-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .item-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .mat-tab-links a:hover,
  .mat-tab-links a:focus {
    color: #fff;
  }
  .mat-tab-label-active {
    color: var(--main-color);
    opacity: 1 !important;
  }
  .mat-tab-group.mat-primary .mat-ink-bar,
  .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: var(--main-color);
  }
  mat-tab-label-active {
    color: var(--main-bg-hover);
  }
  .mat-dialog-container {
    padding: 5px !important;
    background-image: linear-gradient(270deg, var(--main-bg-light), transparent);
  }
  .mat-dialog-container .card {
    margin-bottom: 0;
  }
  .material-icons {
    font-size: inherit;
    line-height: inherit;
    height: auto;
    cursor: pointer;
    width: auto !important;
    /* margin-top: 5px; */
  }
  .mat-stepper-horizontal,
  .mat-stepper-vertical {
    background-color: inherit;
  }
  .mat-simple-snackbar {
    justify-content: center;
  }
  .cdk-overlay-container {
    z-index: 10001;
  }
  /* #endregion */
  
  :host ::ng-deep .colored-table-head .mat-header-cell {
    color: inherit;
  }
  :host ::ng-deep .colored-table-head thead {
    background-color: rgba(var(--bs-primary-rgb)) !important;
    color: #fff !important;
    border-radius: 0 10px !important;
  }
  :host ::ng-deep .colored-table-head .mat-table {
    background: transparent;
  }
  :host ::ng-deep .colored-table-head th.mat-header-cell:first-of-type {
    // border-bottom-left-radius: 10px !important;
  }
  :host ::ng-deep .colored-table-head th.mat-header-cell:last-of-type {
    // border-top-right-radius: 10px !important;
  }
  :host ::ng-deep .colored-table-head tr.mat-header-row {
    height: 40px;
  }
  :host ::ng-deep .bg-card .card-text {
    font-weight: bold;
    font-size: calc(100vw * 0.014);
    line-height: 186.1%;
    color: #ffffff;
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 10px;
  }
  :host ::ng-deep .table tr td {
    &:hover {
      color: inherit !important;
      text-decoration: inherit;
      cursor: default;
    }
  }
  