<div class="row row-cols-1 row-cols-lg-3 g-3">
  <div class="col">
    <div class="row">
      <div class="col">
        <label for="" class="form-label text-primary">{{'Expense Code'|appTranslate|async}}</label>
        <input type="text" class="form-control control-bg-gray">
      </div>
      <div class="col-3">
        <label for="" class="form-label text-primary">&nbsp;</label>
        <app-btn type="dark" icon="show"></app-btn>
      </div>
    </div>

  </div>
  <div class="col">
    <label for="" class="form-label text-primary">{{'Company'|appTranslate|async}}</label>
    <input type="text" class="form-control control-bg-gray">
  </div>
  <div class="col">
    <label for="" class="form-label text-primary">{{'Description'|appTranslate|async}}</label>
    <input type="text" class="form-control control-bg-gray">
  </div>
  <div class="col">
    <label for="" class="form-label text-primary">{{'Created By'|appTranslate|async}}</label>
    <select type="text" class="form-control control-bg-gray"></select>
  </div>

  <div class="col">
    <label for="" class="form-label text-primary">{{'Created On'|appTranslate|async}}</label>
    <input type="date" class="form-control control-bg-gray">
  </div>
  <div class="col">
    <label for="" class="form-label text-primary">{{'Date From'|appTranslate|async}}</label>
    <input type="date" class="form-control control-bg-gray">
  </div>
  <div class="col">
    <label for="" class="form-label text-primary">{{'Date To'|appTranslate|async}}</label>
    <input type="date" class="form-control control-bg-gray">
  </div>
</div>
<div class="row justify-content-end mt-3">
  <div class="col-2">
    <app-btn type="secondary" icon="search">Result</app-btn>
  </div>
</div>
<div class="row">
  <div class="col">
    <hr>
  </div>
</div>


<div class="row mt-3">
  <div class="col">
    <div class="row">
      <div class="col">
        <p>Currency: -- </p>
      </div>
    </div>
    <table class="table table-responsive  table-striped">
      <thead class="py-3 theader">
      <tr>
        <th scope="col">{{'Expense Code'|appTranslate|async}}</th>
        <th scope="col">{{'Description'|appTranslate|async}}</th>
        <th scope="col">{{'Created On'|appTranslate|async}}</th>
        <th scope="col">{{'Created By'|appTranslate|async}}</th>

      </tr>
      </thead>
      <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>


      </tr>
      </tbody>
    </table>
  </div>

</div>
