<div class="container">
  <ul class="nav nav-pills nav-justified" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="pills-owner-infos-tab" (click)="currentTab('pills-owner')"
        data-bs-toggle="pill" data-bs-target="#pills-owner-infos" type="button" role="tab"
        aria-controls="pills-owner-infos" aria-selected="true">
        {{ 'Owner Information' | appTranslate | async }}
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-quote-policy-tab" (click)="currentTab('pills-policy')" data-bs-toggle="pill"
        data-bs-target="#pills-quote-policy" type="button" role="tab" aria-controls="pills-quote-policy"
        aria-selected="false">
        {{ 'Policy' | appTranslate | async }}
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-cover-details-tab" (click)="currentTab('pills-cover')" data-bs-toggle="pill"
        data-bs-target="#pills-cover-details" type="button" role="tab" aria-controls="pills-cover-details"
        aria-selected="false">
        {{ 'Cover Details' | appTranslate | async }}
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-agent-ref-tab" (click)="currentTab('pills-agent')" data-bs-toggle="pill"
        data-bs-target="#pills-agent-ref" type="button" role="tab" aria-controls="pills-agent-ref"
        aria-selected="false">
        {{ 'Agent' | appTranslate | async }} /
        {{ 'REF. Agent' | appTranslate | async }}
      </button>
    </li>
  </ul>

  <div class="tab-content" id="pills-tabContent">
    <!-- <g-owner-info class="tab-pane fade show active" id="pills-owner-infos" role="tabpanel"
      aria-labelledby="pills-owner-infos-tab"></g-owner-info> -->
    <div class="tab-pane fade show active" id="pills-owner-infos" role="tabpanel"
      aria-labelledby="pills-owner-infos-tab">
      <app-view-corporate-client-comp [clientNo]="ownerDetails?.clientNo" *ngIf="ownerDetails.type == ect.corporate">
      </app-view-corporate-client-comp>
      <app-view-individual-client-comp [clientNo]="ownerDetails?.clientNo" *ngIf="ownerDetails.type == ect.individual">
      </app-view-individual-client-comp>
    </div>
    <div class="tab-pane fade" id="pills-quote-policy" role="tabpanel" aria-labelledby="pills-quote-policy-tab">
      <g-quote-policy #GroupPolicySection></g-quote-policy>
      <div class="row justify-content-end mt-5">
        <div class="col-3">
          <app-button [buttonType]="'submit'" [hidden]="hideBTN" (click)="submitPolicyQuotation()"></app-button>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="pills-cover-details" role="tabpanel" aria-labelledby="pills-cover-details-tab">
      <g-cover-details [premiumTerm]="premiumTerm" #coverSection>
      </g-cover-details>
      <div class="row justify-content-end mt-5">
        <div class="col-3">
          <app-button [buttonType]="'submit'" [hidden]="hideBTN" (click)="submitCoverInfo()"></app-button>
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="pills-agent-ref" role="tabpanel" aria-labelledby="pills-agent-ref-tab">
      <g-agent #groupAgentSection> </g-agent>
      <div class="row justify-content-end mt-5">
        <div class="col-3">
          <app-button [buttonType]="'submit'" [hidden]="hideBTN" (click)="submitAgentInfo()"></app-button>
        </div>
      </div>
    </div>

    <!-- <div class="tab-pane fade show " id="pills-ginfo" role="tabpanel">
      <form [formGroup]="assetForm">
        <div formArrayName="assets">
          <div [formGroupName]="i" class="row mt-3" *ngFor="let a of assets.controls; let i = index;">
            <div class="col">
              <div class="form-group">
                <label for="" class="form-label text-primary">Asset ID</label>
                <input formControlName="assetId" (change)="findAsset(i)" type="text"
                  class="form-control control-bg-gray">
              </div>
              <div class="col-1">
                <div class="form-group">
                  <label for="" class="form-label text-primary">&nbsp;</label>
                  <app-button buttonType="findsmallGB"></app-button>
                </div>
              </div>
              <div class="col-1">
                <div class="form-group">
                  <label for="" class="form-label text-primary">&nbsp;</label>
                  <app-button buttonType="createCustom2smallGB"></app-button>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="" class="form-label text-primary">Redg No</label>
                  <input readonly [value]="client[i]?.registrationNo" formControlName="redgNo" type="text"
                    class="form-control control-bg-gray">
                </div>
              </div>
              <div class="col-2">
                <div class="form-group">
                  <label for="" class="form-label text-primary">Subgroup No</label>
                  <input formControlName="sgNo" type="text" class="form-control control-bg-gray">
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="" class="form-label text-primary">&nbsp;</label>
                  <app-button buttonType="uploadGB" text="Upload Picture"></app-button>
                </div>
              </div>
            </div>
          </div>

          <div class="row justify-content-end mt-3">
            <div class="col-2">
              <app-button buttonType="addYellow" (click)="memberInc()"></app-button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>


  <div class="modal fade" id="rt1modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Motor 3rd Party</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="uncheckrp1()"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="" class="form-label text-primary">Limit</label>
                <input type="text" class="form-control control-bg-gray">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="" class="form-label text-primary">Excess Option</label>
                <select class="form-control control-bg-gray">
                  <option value=""></option>
                  <option value=""></option>
                </select>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="" class="form-label text-primary">Deductible Option</label>
                <select class="form-control control-bg-gray">
                  <option value=""></option>
                  <option value=""></option>
                </select>
              </div>
            </div>
          </div>


        </div>
        <div class="modal-footer">
          <app-button [buttonType]="'save'" (click)="checkrp1()" data-bs-dismiss="modal"></app-button>
          <app-button [buttonType]="'btnCustomClone'" text="Risk Questionnaire" data-bs-dismiss="modal"></app-button>


        </div>
      </form>
    </div> -->
  </div>
</div>

<div class="modal fade" id="rt1modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">
          {{ 'Motor 3rd Party' | appTranslate | async }}
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="uncheckrp1()"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="" class="form-label text-primary">{{
                'Limit' | appTranslate | async
              }}</label>
              <input type="text" class="form-control control-bg-gray" />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="" class="form-label text-primary">{{
                'Excess Option' | appTranslate | async
              }}</label>
              <select class="form-control control-bg-gray">
                <option value=""></option>
                <option value=""></option>
              </select>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="" class="form-label text-primary">{{
                'Deductible Option' | appTranslate | async
              }}</label>
              <select class="form-control control-bg-gray">
                <option value=""></option>
                <option value=""></option>
              </select>
            </div>
          </div>
          <app-button [buttonType]="'btnCustomClone'" text="Risk Questionnaire" data-bs-dismiss="modal"></app-button>
        </div>
      </div>
    </div>
    <div class="modal fade" id="rt2modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">
              {{ 'Group Credit Life' | appTranslate | async }}
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="" class="form-label text-primary">
                    {{ 'Sum Assured Basis' | appTranslate | async }}
                  </label>
                  <select class="form-control control-bg-gray">
                    <option value=""></option>
                  </select>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="" class="form-label text-primary">
                    {{ 'Sum Assured Value' | appTranslate | async }}
                  </label>
                  <input type="text" class="form-control control-bg-gray" />
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="" class="form-label text-primary">
                    {{ 'Sum Assured Factor' | appTranslate | async }}
                  </label>
                  <input type="text" class="form-control control-bg-gray" />
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="" class="form-label text-primary">
                    {{ 'Fixed Sum Assured' | appTranslate | async }}
                  </label>
                  <input type="text" class="form-control control-bg-gray" />
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <app-button [buttonType]="'save'" data-bs-dismiss="modal"></app-button>
          </div>
        </div>
      </div>
      <div class="modal fade" id="rt3modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">
                {{ 'Savings' | appTranslate | async }}
              </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="" class="form-label text-primary">
                      {{ 'Contribution by Employer' | appTranslate | async }}
                    </label>
                    <input type="text" class="form-control control-bg-gray" />
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="" class="form-label text-primary">
                      {{ 'Contribution by Employee' | appTranslate | async }}
                    </label>
                    <input type="text" class="form-control control-bg-gray" />
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="" class="form-label text-primary">
                      {{ 'Contribution Frequency' | appTranslate | async }}
                    </label>
                    <select class="form-control control-bg-gray">
                      <option value=""></option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <app-button [buttonType]="'save'" data-bs-dismiss="modal"></app-button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="rt4modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
          aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">
                  {{ 'Annuities Certain' | appTranslate | async }}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-6">
                    <div class="form-group">
                      <label for="" class="form-label text-primary">{{
                        'Target Basis' | appTranslate | async
                      }}</label>
                      <select name="" id="" class="form-control control-bg-gray">
                        <option value=""></option>
                        <option value=""></option>
                      </select>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label for="" class="form-label text-primary">{{
                        'Target Amount' | appTranslate | async
                      }}</label>
                      <input type="text" class="form-control control-bg-gray" />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="form-group">
                      <label for="" class="form-label text-primary">{{
                        'Anuity Frequency' | appTranslate | async
                      }}</label>
                      <select name="" id="" class="form-control control-bg-gray">
                        <option value=""></option>
                        <option value=""></option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label for="" class="form-label text-primary">{{
                        'Annuity Annual Escalation Basis' | appTranslate | async
                      }}</label>
                      <select name="" id="" class="form-control control-bg-gray">
                        <option value=""></option>
                        <option value=""></option>
                      </select>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label for="" class="form-label text-primary">{{
                        'Annuity Annual Escaltion Value' | appTranslate | async
                      }}</label>
                      <input type="text" class="form-control control-bg-gray" />
                    </div>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-6">
                    <div class="form-group">
                      <label for="" class="form-label text-primary">{{
                        'Enter Annuity Payment Schedule' | appTranslate | async
                      }}</label>
                      <input type="checkbox" class="form-control control-bg-gray" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <app-button [buttonType]="'save'" data-bs-dismiss="modal"></app-button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="rt6modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
          aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">
                  {{ 'Endowment' | appTranslate | async }}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label for="" class="form-label text-primary">{{
                        'Pricing Basis' | appTranslate | async
                      }}</label>
                      <select name="" id="" class="form-control control-bg-gray">
                        <option value=""></option>
                        <option value=""></option>
                      </select>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label for="" class="form-label text-primary">{{
                        'Target' | appTranslate | async
                      }}</label>
                      <input type="text" class="form-control control-bg-gray" />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-3">
                    <div class="form-group">
                      <label for="" class="form-label text-primary">{{
                        'Premium Payment Term' | appTranslate | async
                      }}</label>
                      <input type="text" placeholder="Years" class="form-control control-bg-gray" />
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="form-group">
                      <label for="" class="form-label text-primary">&nbsp;</label>
                      <input type="text" placeholder="months" class="form-control control-bg-gray" />
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="form-group">
                      <label for="" class="form-label text-primary">{{
                        'Benefit Payment Term' | appTranslate | async
                      }}</label>
                      <input type="text" placeholder="Years" class="form-control control-bg-gray" />
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="form-group">
                      <label for="" class="form-label text-primary">&nbsp;</label>
                      <input type="text" placeholder="months" class="form-control control-bg-gray" />
                    </div>
                  </div>
                </div>
                <div class="row my-4">
                  <hr />
                </div>
                <div class="row">
                  <div class="col-3">
                    <div class="from-group">
                      <label for="" class="form-label text-primary">{{
                        'Bank No' | appTranslate | async
                      }}</label>
                      <input type="text" class="form-control control-bg-gray" />
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="from-group align-items-center pt-2">
                      <label for="" class="form-label text-primary">&nbsp;</label>
                      <app-button [buttonType]="'add'"></app-button>
                    </div>
                  </div>
                </div>
                <div class="row mt-5">
                  <p>
                    {{
                      'Existing Account for Client' | appTranslate | async
                    }}
                    xxxx
                  </p>
                </div>

                <div class="row mt-3">
                  <table class="table table-responsive table-striped">
                    <thead>
                      <tr class="py-5 bg-primary text-white">
                        <th scope="col" class="text-white">
                          {{ 'Bank No' | appTranslate | async }}
                        </th>
                        <th scope="col" class="text-white">
                          {{ 'Payee Name' | appTranslate | async }}
                        </th>
                        <th scope="col" class="text-white">
                          {{ 'Account Type' | appTranslate | async }}
                        </th>
                        <th scope="col" class="text-white">
                          {{ 'Account No' | appTranslate | async }}
                        </th>
                        <th scope="col" class="text-white">
                          {{ 'Institution' | appTranslate | async }}
                        </th>
                        <th scope="col" class="text-white">
                          {{ 'Select' | appTranslate | async }}
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>6567_1</td>
                        <td>James Bond</td>
                        <td>Mobile Money</td>
                        <td>090897676776</td>
                        <td>MTN</td>
                        <td>
                          <div class="btn btn-outline-primary p-2">
                            {{ 'Select' | appTranslate | async }}
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>6567_1</td>
                        <td>James Bond</td>
                        <td>Mobile Money</td>
                        <td>090897676776</td>
                        <td>MTN</td>
                        <td>
                          <div class="btn btn-outline-primary p-2">
                            {{ 'Select' | appTranslate | async }}
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div class="row">
                  <div class="col-3">
                    <div class="from-group">
                      <label for="" class="form-label text-primary">{{
                        'Payment Method' | appTranslate | async
                      }}</label>
                      <select name="" id="" class="form-control control-bg-gray">
                        <option value=""></option>
                      </select>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="from-group">
                      <label for="" class="form-label text-primary">{{
                        'Payee Name' | appTranslate | async
                      }}</label>
                      <input type="text" class="form-control control-bg-gray" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <app-button [buttonType]="'save'" data-bs-dismiss="modal"></app-button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="rt5modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
          aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">
                  {{ 'Savings' | appTranslate | async }}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label for="" class="form-label text-primary">{{
                        'Target Contribution Frequency' | appTranslate | async
                      }}</label>
                      <select name="" id="" class="form-control control-bg-gray">
                        <option value=""></option>
                        <option value=""></option>
                      </select>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label for="" class="form-label text-primary">{{
                        'Premium to Benefit' | appTranslate | async
                      }}</label>
                      <input type="checkbox" class="form-control control-bg-gray" />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label for="" class="form-label text-primary">{{
                        'Deposit' | appTranslate | async
                      }}</label>
                      <input type="checkbox" class="form-control control-bg-gray" />
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label for="" class="form-label text-primary">{{
                        'Target Amount' | appTranslate | async
                      }}</label>
                      <input type="checkbox" class="form-control control-bg-gray" />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="form-group">
                      <label for="" class="form-label text-primary">{{
                        'At Maturity Convert To' | appTranslate | async
                      }}</label>
                      <select name="" id="" class="form-control control-bg-gray">
                        <option value=""></option>
                      </select>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="form-group">
                      <label for="" class="form-label text-primary">{{
                        'Contribution Payment Term' | appTranslate | async
                      }}</label>
                      <input type="text" placeholder="Years" class="form-control control-bg-gray" />
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="form-group">
                      <label for="" class="form-label text-primary">&nbsp;</label>
                      <input type="text" placeholder="months" class="form-control control-bg-gray" />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="form-group">
                      <label for="" class="form-label text-primary">{{
                        'Enter a Drawdown Benefit Payment Schedule'
                          | appTranslate
                          | async
                      }}</label>
                      <input type="checkbox" class="form-control control-bg-gray" />
                    </div>
                  </div>
                </div>
                <div class="row my-4">
                  <hr />
                </div>
                <div class="row">
                  <div class="col-3">
                    <div class="from-group">
                      <label for="" class="form-label text-primary">{{
                        'Bank No' | appTranslate | async
                      }}</label>
                      <input type="text" class="form-control control-bg-gray" />
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="from-group align-items-center pt-2">
                      <label for="" class="form-label text-primary">&nbsp;</label>
                      <app-button [buttonType]="'add'"></app-button>
                    </div>
                  </div>
                </div>
                <div class="row mt-5">
                  <p>
                    {{
                      'Existing Account for Client' | appTranslate | async
                    }}
                    xxxx
                  </p>
                </div>

                <div class="row mt-3">
                  <table class="table table-responsive table-striped">
                    <thead>
                      <tr class="py-5 bg-primary text-white">
                        <th scope="col" class="text-white">
                          {{ 'Bank No' | appTranslate | async }}
                        </th>
                        <th scope="col" class="text-white">
                          {{ 'Payee Name' | appTranslate | async }}
                        </th>
                        <th scope="col" class="text-white">
                          {{ 'Account Type' | appTranslate | async }}
                        </th>
                        <th scope="col" class="text-white">
                          {{ 'Account No' | appTranslate | async }}
                        </th>
                        <th scope="col" class="text-white">
                          {{ 'Institution' | appTranslate | async }}
                        </th>
                        <th scope="col" class="text-white">
                          {{ 'Select' | appTranslate | async }}
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>6567_1</td>
                        <td>James Bond</td>
                        <td>Mobile Money</td>
                        <td>090897676776</td>
                        <td>MTN</td>
                        <td>
                          <div class="btn btn-outline-primary p-2">
                            {{ 'Select' | appTranslate | async }}
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>6567_1</td>
                        <td>James Bond</td>
                        <td>Mobile Money</td>
                        <td>090897676776</td>
                        <td>MTN</td>
                        <td>
                          <div class="btn btn-outline-primary p-2">
                            {{ 'Select' | appTranslate | async }}
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div class="row">
                  <div class="col-3">
                    <div class="from-group">
                      <label for="" class="form-label text-primary">{{
                        'Payment Method' | appTranslate | async
                      }}</label>
                      <select name="" id="" class="form-control control-bg-gray">
                        <option value=""></option>
                      </select>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="from-group">
                      <label for="" class="form-label text-primary">{{
                        'Payee Name' | appTranslate | async
                      }}</label>
                      <input type="text" class="form-control control-bg-gray" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <app-button [buttonType]="'save'" data-bs-dismiss="modal"></app-button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="submitModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
          aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <p>
                    {{ 'Quote No' | appTranslate | async }}
                    <span class="text-primary">577881</span>
                  </p>
                  <p>
                    {{ 'Total Periodic Premium' | appTranslate | async }}
                    <span class="text-primary">2300000</span>
                  </p>
                </div>
                <div class="row mt-2">
                  <app-button buttonType="addCustom" text="Create Quote Template"></app-button>
                </div>
                <div class="row mt-2">
                  <app-button buttonType="btnCustomClone" text="Email Quote To Client"></app-button>
                </div>
                <div class="row mt-2">
                  <app-button buttonType="btnCustomClone" data-bs-toggle="modal" data-bs-target="#convertQuoteToPol"
                    text="Convert to Policy"></app-button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="convertQuoteToPol" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
          aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">
                  {{ 'Convert Quote to Policy' | appTranslate | async }}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body align-items-center d-flex justify-content-center" style="min-height: 300px">
                <div class="w-100">
                  <div class="row">
                    <div class="form-group">
                      <label for="" class="form-label text-primary">
                        {{ 'Basis For conversion' | appTranslate | async }}
                      </label>
                      <select name="" id="" class="form-control control-bg-gray">
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                      </select>
                    </div>
                  </div>
                  <div class="row mt-5 justify-content-end">
                    <div class="col-3">
                      <app-button buttonType="submit" data-bs-toggle="modal" data-bs-target="#CreatedSuccessFully">
                      </app-button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="CreatedSuccessFully" data-bs-backdrop="static" data-bs-keyboard="false"
          tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body align-items-center d-flex justify-content-center" style="min-height: 300px">
                <h4>
                  {{ 'Policy No' | appTranslate | async }} xxx
                  {{ 'created sucessfully' | appTranslate | async }}
                </h4>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="paymentMethodModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
          aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">
                  {{ 'Direct Debit' | appTranslate | async }}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-3">
                    <div class="from-group">
                      <label for="" class="form-label text-primary">{{
                        'Bank No' | appTranslate | async
                      }}</label>
                      <input type="text" class="form-control control-bg-gray" />
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="from-group align-items-center pt-2">
                      <label for="" class="form-label text-primary">&nbsp;</label>
                      <app-button [buttonType]="'add'"></app-button>
                    </div>
                  </div>
                </div>
                <div class="row mt-5">
                  <p>
                    {{
                      'Existing Account for Client' | appTranslate | async
                    }}
                    xxxx
                  </p>
                </div>

                <div class="row mt-3">
                  <table class="table table-responsive table-striped">
                    <thead>
                      <tr class="py-5 bg-primary text-white">
                        <th scope="col" class="text-white">
                          {{ 'Bank No' | appTranslate | async }}
                        </th>
                        <th scope="col" class="text-white">
                          {{ 'Payee Name' | appTranslate | async }}
                        </th>
                        <th scope="col" class="text-white">
                          {{ 'Account Type' | appTranslate | async }}
                        </th>
                        <th scope="col" class="text-white">
                          {{ 'Account No' | appTranslate | async }}
                        </th>
                        <th scope="col" class="text-white">
                          {{ 'Institution' | appTranslate | async }}
                        </th>
                        <th scope="col" class="text-white">
                          {{ 'Select' | appTranslate | async }}
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>6567_1</td>
                        <td>James Bond</td>
                        <td>Mobile Money</td>
                        <td>090897676776</td>
                        <td>MTN</td>
                        <td>
                          <button class="btn btn-outline-primary p-2">
                            {{ 'Select' | appTranslate | async }}
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>6567_1</td>
                        <td>James Bond</td>
                        <td>Mobile Money</td>
                        <td>090897676776</td>
                        <td>MTN</td>
                        <td>
                          <button class="btn btn-outline-primary p-2">
                            {{ 'Select' | appTranslate | async }}
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div class="row">
                  <div class="col-3">
                    <div class="from-group">
                      <label for="" class="form-label text-primary">{{
                        'Payee Name' | appTranslate | async
                      }}</label>
                      <input type="text" class="form-control control-bg-gray" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <app-button [buttonType]="'save'" data-bs-dismiss="modal"></app-button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="addAnotherModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
          aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">
                  {{ 'SubGroup' | appTranslate | async }}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-3">
                    <div class="form-group">
                      <label for="" class="form-label text-primary">{{
                        'SubGroup No' | appTranslate | async
                      }}</label>
                      <input type="text" class="form-control control-bg-gray" />
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="form-group">
                      <label for="" class="form-label text-primary">{{
                        'SubGroup Name' | appTranslate | async
                      }}</label>
                      <input type="text" class="form-control control-bg-gray" />
                    </div>
                  </div>
                </div>
                <hr />
                <div class="row g-2">
                  <div class="col-4">
                    <label for="" class="text-primary form-label">{{
                      'Select Cover' | appTranslate | async
                    }}</label>
                  </div>
                  <div class="col-2">
                    <label for="" class="text-primary form-label">{{
                      'Sum Assured Basis' | appTranslate | async
                    }}</label>
                  </div>
                  <div class="col-2">
                    <label for="" class="text-primary form-label">{{
                      'Basis Value' | appTranslate | async
                    }}</label>
                  </div>
                  <div class="col-1">
                    <label for=""
                      class="text-primary form-label text-center w-100">{{ 'Details' | appTranslate | async }}</label>
                  </div>
                </div>
                <div class="row g-2 mb-2">
                  <div class="col-4">
                    <div class="form-group">
                      <div class="row d-flex align-items-center">
                        <div class="col-2">
                          <input class="form-control control-bg-gray" type="checkbox" />
                        </div>
                        <div class="col">
                          <label for="" class="text-black-50 form-label small1">
                            RPI_1 -
                            {{
                              'Group Life
                          Risk'
                                | appTranslate
                                | async
                            }}</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-2">
                    <div class="form-group">
                      <select class="form-control control-bg-gray">
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                      </select>
                    </div>
                  </div>
                  <div class="col-2">
                    <div class="form-group">
                      <input type="text" class="form-control control-bg-gray" />
                    </div>
                  </div>
                  <div class="col-1">
                    <input class="form-control control-bg-gray mx-auto mt-1" (click)="showRp1Modal()"
                      data-bs-toggle="tooltip" data-bs-placement="top" title="
  Target Basis: 0,
  Target Amount: 0,
  Source of Annuity:0 ,
  Annuity Frequency : 0,
  Guarantee Period (Months) : 0
  Guarantee Period (Months) : 0
  Spouse Revisionay Proportion : 0
  Source : 0
  Pension Fund Administrator : 0
  Annuity Annual Escalation Basis : 9
  Annuity Annual Escalation Value : 5" [(ngModel)]="isRp1Check" type="checkbox" />
                  </div>
                </div>
                <div class="row g-2 mb-2">
                  <div class="col-4">
                    <div class="form-group">
                      <div class="row d-flex align-items-center">
                        <div class="col-2">
                          <input class="form-control control-bg-gray" type="checkbox" />
                        </div>
                        <div class="col">
                          <label for="" class="text-black-50 form-label small1">
                            RPI_2 -
                            {{
                              'Group Credit Life' | appTranslate | async
                            }}</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-2">
                    <div class="form-group">
                      <input type="text" class="form-control control-bg-gray" />
                    </div>
                  </div>
                  <div class="col-2">
                    <div class="form-group">
                      <input type="text" class="form-control control-bg-gray" />
                    </div>
                  </div>
                  <div class="col-1">
                    <input class="form-control control-bg-gray mx-auto mt-1" (click)="showRp2Modal()" type="checkbox" />
                  </div>
                </div>
                <div class="row g-2 mb-2">
                  <div class="col-4">
                    <div class="form-group">
                      <div class="row d-flex align-items-center">
                        <div class="col-2">
                          <input class="form-control control-bg-gray" type="checkbox" />
                        </div>
                        <div class="col">
                          <label for="" class="text-black-50 form-label small1">
                            RPI_3 - {{ 'Savings' | appTranslate | async }}
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-2">
                    <div class="form-group">
                      <input type="text" class="form-control control-bg-gray" />
                    </div>
                  </div>
                  <div class="col-2">
                    <div class="form-group">
                      <input type="text" class="form-control control-bg-gray" />
                    </div>
                  </div>
                  <div class="col-1">
                    <input class="form-control control-bg-gray mx-auto mt-1" (click)="showRp3Modal()" type="checkbox" />
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <app-button [buttonType]="'save'" data-bs-dismiss="modal"></app-button>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="addManualyMember" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
          aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">
                  {{'Add Member Manually'|appTranslate|async}}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>

              <div class="modal-body">
                <div class="row" *ngFor="let i of memberCounter()">
                  <div class="col">
                    <div class="form-group">
                      <label for="" class="form-label text-primary">{{
                        'Client Number' | appTranslate | async
                      }}</label>
                      <input type="text" class="form-control control-bg-gray" />
                    </div>
                  </div>
                  <div class="col-1">
                    <div class="form-group">
                      <label for="" class="form-label text-primary">&nbsp;</label>
                      <app-button buttonType="findsmallGB"></app-button>
                    </div>
                  </div>
                  <div class="col-1">
                    <div class="form-group">
                      <label for="" class="form-label text-primary">&nbsp;</label>
                      <app-button buttonType="createCustom2smallGB"></app-button>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label for="" class="form-label text-primary">{{
                        'Member name' | appTranslate | async
                      }}</label>
                      <input type="text" class="form-control control-bg-gray" />
                    </div>
                  </div>
                  <div class="col-2">
                    <div class="form-group">
                      <label for="" class="form-label text-primary">{{
                        'Subgroup No' | appTranslate | async
                      }}</label>
                      <input type="text" class="form-control control-bg-gray" />
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label for="" class="form-label text-primary">&nbsp;</label>
                      <app-button buttonType="uploadGB" text="Upload Picture"></app-button>
                    </div>
                  </div>
                </div>
                <div class="row justify-content-end mt-3">
                  <div class="col-2">
                    <app-button buttonType="addYellow" (click)="memberInc()"></app-button>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <app-button [buttonType]="'save'" data-bs-dismiss="modal"></app-button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="addManualyAsset" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
          aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">
                  {{ 'Add Asset Manually' | appTranslate | async }}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>

              <div class="modal-body">
                <div class="row mt-3" *ngFor="let i of memberCounter()">
                  <div class="col">
                    <div class="form-group">
                      <label for="" class="form-label text-primary">{{
                        'Asset ID' | appTranslate | async
                      }}</label>
                      <input type="text" class="form-control control-bg-gray" />
                    </div>
                  </div>
                  <div class="col-1">
                    <div class="form-group">
                      <label for="" class="form-label text-primary">&nbsp;</label>
                      <app-button buttonType="findsmallGB"></app-button>
                    </div>
                  </div>
                  <div class="col-1">
                    <div class="form-group">
                      <label for="" class="form-label text-primary">&nbsp;</label>
                      <app-button buttonType="createCustom2smallGB"></app-button>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label for="" class="form-label text-primary">{{
                        'Redg No' | appTranslate | async
                      }}</label>
                      <input type="text" class="form-control control-bg-gray" />
                    </div>
                  </div>
                  <div class="col-2">
                    <div class="form-group">
                      <label for="" class="form-label text-primary">{{
                        'Subgroup No' | appTranslate | async
                      }}</label>
                      <input type="text" class="form-control control-bg-gray" />
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label for="" class="form-label text-primary">&nbsp;</label>
                      <app-button buttonType="uploadGB" text="Upload Picture"></app-button>
                    </div>
                  </div>
                </div>
                <div class="row justify-content-end mt-3">
                  <div class="col-2">
                    <app-button buttonType="addYellow" (click)="memberInc()"></app-button>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <app-button [buttonType]="'save'" data-bs-dismiss="modal"></app-button>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="restrictAccessModal" tabindex="-1" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                  {{ 'Restrict Scheme Access' | appTranslate | async }}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="row" *ngFor="let i of rsaCounter()">
                  <div class="col">
                    <div class="form-group">
                      <label for="" class="form-label text-primary">{{
                        'User' | appTranslate | async
                      }}</label>
                      <select name="" id="" class="control-bg-gray form-control">
                        <option value=""></option>
                      </select>
                    </div>
                  </div>
                  <div class="col-3">
                    <label for="" class="form-label text-primary">&nbsp;</label>
                    <app-button buttonType="addYellow" (click)="rsaInc()"></app-button>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <app-button buttonType="saveGB" data-bs-dismiss="modal"></app-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
