.table {
  border: 1px solid lightgray;
}

.excel-button {
  background: #00BCC8;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
}

.excel-button:hover {
  background: #029da8;
  color: #fff;
}