<app-form-navigation [title] = "'CRM / Setups / Client Band'"></app-form-navigation>
    <div class="container-sm mt-5 " id="form-body" [formGroup]="clientBandForm">
        <div class="row g-3">
            <div class="col-3">
                <div class="form-group mt-2">
                    <label class="text-red form-label">{{'Group Code'|appTranslate|async}}</label>
                    <input class="form-control  control-bg-gray" type="text" formControlName="id" />
                </div>
            </div>

            <div class="col-6">
                <div class="form-group mt-2">
                    <label class="text-red form-label">{{'Description'|appTranslate|async}}</label>
                    <input class="form-control  control-bg-gray" type="text" formControlName="description" />
                </div>
            </div>
            <div class="col-3">
                <div class="form-group mt-2">
                    <label class="text-red form-label">{{'Company'|appTranslate|async}}</label>
                    <div class="position-relative">
                        <select class="form-control form-control-lg control-bg-gray" formControlName="company" (change)="onCompaniesChange()">
                            <option *ngFor="let company of clientBandCompaniesList" [value]="company.code">{{company.code}}-{{company.description}}</option>
                        </select>
                        <span class="position-absolute start-50 top-50 translate-middle" *ngIf="loadingCompanies">
                            <span class="fa fa-spinner fa-spin"></span>
                        </span>
                    </div>
                </div>
            </div>

        </div>

        <hr>

        <div class="row g-3">
            <div class="col-12">
                <div class="form-group mt-2">
                        <label class="text-red form-label">{{'Life Cycle Stage'|appTranslate|async}}</label>
                        <div class="position-relative">
                            <select class="form-control form-control-lg control-bg-gray" formControlName="clientLifeCycle">
                                <option *ngFor="let lc of lifeCyclesList" [value]="lc.clientLifeCycle">{{lc.clientLifeCycle}}</option>
                            </select>
                            <span class="position-absolute top-50 start-50 translate-middle" *ngIf="loadingLifeCycles">
                                <span class="fa fa-spinner fa-spin"></span>
                            </span>
                        </div>
                </div>
            </div>
        </div>
        <div class="row g-3">
            <div class="col-12">
                <div class="form-group mt-2">
                        <label class="text-red form-label">{{'Segment'|appTranslate|async}}</label>
                        <div class="position-relative">
                            <select class="form-control form-control-lg control-bg-gray" formControlName="clientSegment">
                                <option *ngFor="let segment of clientSegmentsList" [value]="segment.clientSegment">{{segment.clientSegment}}</option>
                            </select>
                            <span class="position-absolute top-50 start-50 translate-middle" *ngIf="loadingSegments">
                                <span class="fa fa-spinner fa-spin"></span>
                            </span>
                        </div>
                </div>
            </div>
        </div>
        <div class="row g-3">
            <div class="col-12">
                <div class="form-group mt-2">
                        <label class="text-red form-label">{{'CLV Group'|appTranslate|async}}</label>
                        <div class="position-relative">
                            <select class="form-control form-control-lg control-bg-gray" formControlName="clvGroup">
                                <option *ngFor="let group of clvGroupsList" [value]="group.clvGroup">{{group.clvGroup}}-{{group.description}}</option>
                            </select>
                            <span class="position-absolute start-50 top-50 translate-middle" *ngIf="loadingClvGroups">
                                <span class="fa fa-spinner fa-spin"></span>
                            </span>
                        </div>
                </div>
            </div>
        </div>

        <div class="row g-3">
            <div class="col-10"></div>
            <div class="col-2">
                <div class="form-group mt-2">
                  <app-button type="submit" [buttonType]="'create-red'">Submit</app-button>
                </div>
            </div>
        </div>

</div>
