<loader [loading]="loading" text="Verifying your information..." class="vh-40" [height]="formTag?.offsetHeight">

  <form [formGroup]="form" (ngSubmit)="submit()" #formTag>
    <p class="mb-5">Please login to your account</p>

    <div class="mb-4 d-flex">
      <app-input-basic label="Username" [colored]="false" type="text" [form]="form" name="userName" [stacked]="true">
      </app-input-basic>
    </div>

    <div class=" my-5 d-flex">
      <app-input-basic label="Password" [colored]="false" type="password" [form]="form" name="password"
        [stacked]="true">
      </app-input-basic>

    </div>

    <div class="row justify-content-between align-items-center pt-1 mt-5 pb-1 mb-3">
      <div class="col-md-auto">
        <app-btn text="Log In" type="primary" [form]="form" (mclick)="submit()" [disabled]="authS.isLocked"></app-btn>
      </div>
      <div class="text-danger col-md">
        {{errMsg}}
      </div>
      <div class="text-danger col-md-12 mt-2" *ngIf="authS.isLocked">
        Please try again in {{authS.timeLeft|secondsToTime}}
      </div>
    </div>
    <div class="d-lg-flex justify-content-end">
      <a class="text-decoration-none text-black" routerLink="../forgot-password">Forgot Password</a>
    </div>
  </form>

</loader>
