<div class="container">
  <div class="row">
    <table class="table table-responsive  table-striped">
      <thead class="py-3 theader">
      <tr>
        <th scope="col">{{"Branch Name"|appTranslate|async}}</th>
        <th scope="col">{{"Address"|appTranslate|async}}</th>
        <th scope="col">{{"Town"|appTranslate|async}}</th>
        <th scope="col">{{"City"|appTranslate|async}}</th>
        <th scope="col">{{"Branch Code"|appTranslate|async}}</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <div class="row">
            <div class="col">
              <app-button buttonType="edit"></app-button>
            </div>
          </div>
        </td>
        <td>
          <div class="row">
            <div class="col">
              <app-button buttonType="addCustom"></app-button>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
