.nav-link {
    padding: 0.5rem 0.25rem;
    color: #212529;
}

.nav-item {
    font-size: 0.75rem;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #514ef5;
    background: none;
    border-bottom: 1px solid #514ef5;
    border-radius: 0;
}

.btn-next {
    border-radius: 0 15px;
    color: #fff;
}

label {
    font-size: 0.75rem;
}

.text-normal {
    font-weight: normal;
}

.fade:not(.show) {
    opacity: 0;
    display: none;
}

.width-unset {
    width: unset;
}

.bottom-left-circle,
.bottom-left-circle-outline,
.bottom-right-circle,
.bottom-right-circle-outline {
    display: none;
}


/* hr {
    margin: 0.01rem 0;
} */


.form-controlZ {
	display: block;
	width: 102%;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}




.form-controlZZZ {
	display: block;
	width: 6%;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.grey-formZ {background-color: #F4F4F4;
border: none;}


.add-btn1 {
    color: #4D56F9;
    background-color: white;
    border-color: #4D56F9;
    height: 150%;
    border-bottom-left-radius: 15px;
    width: 94%;
    border-top-right-radius: 15px;
}


.add-btn1:hover {
    color: white;
background-color: #4D56F9;
margin-top: -4px;
transition: 0.5s ease-in-out;
box-shadow: 0px 15px 20px -8px #111;
}