thead {
    color: white;
    background-color: #514ef5;
}

tbody tr th {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

tbody tr td {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

thead tr th {
    padding-top: 1rem;
    padding-bottom: 1rem;
}