<app-form-navigation [title] = "'View Client'"></app-form-navigation> 
<div class="container mt-5" >
    <div class="row">
        <div class="col-md-12 mx-auto">
            <h1 class="my-5">Client Relationships</h1>
            <div class="d-flex">
                <p class="py-3 mx-3"><b>Client Name:</b> <span class="px-3">Mascar Magic</span></p>
                <p class="py-3 mx-3"><b>Family size:</b> <span class="px-3">2</span></p>
            </div>
        
            <table class="table">
                <thead class="py-3">
                  <tr>
                    <th scope="col" style="border-bottom-left-radius: 12px;">Client Number</th>
                    <th scope="col">Is</th>
                    <th scope="col">Connector</th>
                    <th scope="col">Client Number</th>   
                    <th scope="col">Client Status</th>
                    <th scope="col" style="border-top-right-radius: 12px;">Relationship Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Mark</td>
                    <td>Mark</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                    <td>Mark</td>
                    <td>Mark</td>
                  </tr>
                </tbody>
              </table>
    
    </div>
    <div class="col-md-12 mx-auto mt-5">
      <button type="button"  class="btn-ir p-0 px-4 btn-radius" style="float: right;">
          <span class="mx-3 my-auto">Opportunities</span></button>
  </div>
    </div>

        </div>

    