<div class="container mt-5">
  <div class="row">
    <div class="col-md-12 mx-auto">
      <div class=" row my-5">
        <div class="col-md-3"><p class="py-3" style="float: right;"><b>{{"Agent No"|appTranslate|async}}:</b> <span
          class="px-3">{{agentNo}}</span></p></div>
        <div class="col-md-3"><p class="py-3" style="float: right;"><b>{{"Agent Name"|appTranslate|async}}:</b> <span
          class="px-3">{{agentName}}</span></p></div>

      </div>
      <table class="table table-responsive  table-striped">
        <thead class="py-3 theader">
        <tr>
          <th scope="col" style="border-bottom-left-radius: 12px;">{{"Loan ID"|appTranslate|async}}</th>
          <th scope="col">{{"Loan Commense DT"|appTranslate|async}}</th>
          <th scope="col">{{"Loan Amount"|appTranslate|async}}</th>
          <th scope="col">{{"Loan Interest Rate"|appTranslate|async}}</th>
          <th scope="col">{{"Loan Tenor"|appTranslate|async}}</th>
          <th scope="col">{{"Currency"|appTranslate|async}}</th>
          <th scope="col">{{"Repayment Amount"|appTranslate|async}}</th>
          <th scope="col" style="border-top-right-radius: 12px;">{{"Loan Balance"|appTranslate|async}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of agentloanList">
          <th scope="row">{{item.AGENT_LOAN_ID}}</th>
          <td></td>
          <td>{{item.LOAN_AMOUNT}}</td>
          <td>{{item.INTEREST_RATE}}</td>
          <td>{{item.LOAN_TERM}}</td>
          <td>{{item.LOAN_CURRENCY}}</td>
          <td>{{item.REPAYMENT_AMOUNT}}</td>
          <td>{{item.LOAN_BALANCE}}</td>

        </tr>
        </tbody>
      </table>

    </div>

    <div class="row">
      <div class="col-3">
        <app-button [buttonType]="'addCustom'" [text]="'Payment From Agent'"></app-button>
      </div>
      <div class="col-3">
        <app-button [buttonType]="'addCustom'" [text]="'Create New Loan'"></app-button>
      </div>


    </div>
  </div>

</div>

