<app-form-navigation [title] = "'View Client'"></app-form-navigation>
<div class="container mt-5" >
    <div class="row">
        <div class="col-md-12 mx-auto">
            <h1 class="my-5">{{'Documents'|appTranslate|async}}</h1>
        <p class="py-3"><b>{{'Client Name'|appTranslate|async}}:</b> <span class="px-3">{{'Mascar Magic'|appTranslate|async}}</span></p>
            <table class="table table-responsive  table-striped">
                <thead class="py-3">
                  <tr>
                    <th scope="col" style="border-bottom-left-radius: 12px;">{{'Category'|appTranslate|async}}</th>
                    <th scope="col">{{'Document Title'|appTranslate|async}}</th>
                    <th scope="col">{{'Document Names'|appTranslate|async}}</th>
                    <th scope="col">{{'Created By'|appTranslate|async}}</th>
                    <th scope="col">{{'Auto'|appTranslate|async}}</th>
                    <th scope="col">{{'How'|appTranslate|async}}</th>
                    <th scope="col" style="border-top-right-radius: 12px;">{{'Box No'|appTranslate|async}}.</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>Mark</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>Mark</td>
                  </tr>
                </tbody>
              </table>

    </div>

    <div class="col-md-12 mx-auto mt-5">
        <button type="button"  class="btn-i p-0 px-4 btn-radius " >
            <span class="mx-3 my-auto">{{'Add Document'|appTranslate|async}}</span></button>
    </div>
    </div>

        </div>

