/* You can add global styles to this file, and also import other style files */
/* 4D56F9

5B24CC

757475 */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.nowrap {
  white-space: nowrap;
}
