<div class="container-fluid mt-2 " id="form-body">
    <ul class="nav nav-pills nav-fill mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-basic-tab" data-bs-toggle="pill" data-bs-target="#pills-basic" type="button" role="tab" aria-controls="pills-basic" aria-selected="true">{{'Basic'|appTranslate|async}}
      </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-covers-tab" data-bs-toggle="pill" data-bs-target="#pills-covers" type="button" role="tab" aria-controls="pills-covers" aria-selected="false">{{'Dependent Covers'|appTranslate|async}}
      </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-documentation-tab" data-bs-toggle="pill" data-bs-target="#pills-documentation" type="button" role="tab" aria-controls="pills-documentation" aria-selected="false">{{'Documentation'|appTranslate|async}}
      </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-quote-tab" data-bs-toggle="pill" data-bs-target="#pills-quote" type="button" role="tab" aria-controls="pills-quote" aria-selected="false">{{'Quote Info'|appTranslate|async}}
      </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-policy-tab" data-bs-toggle="pill" data-bs-target="#pills-policy" type="button" role="tab" aria-controls="pills-policy" aria-selected="false">{{'Policy Info'|appTranslate|async}}
      </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-defaults-tab" data-bs-toggle="pill" data-bs-target="#pills-defaults" type="button" role="tab" aria-controls="pills-defaults" aria-selected="false">{{'Defaults'|appTranslate|async}}
      </button>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="container">
            <div class="tab-pane fade show active" id="pills-basic" role="tabpanel" aria-labelledby="pills-basic-tab">
                <div class="row g-3">
                    <div class="col">
                        <div class="form-group mt-2">
                            <label>{{'Product code'|appTranslate|async}}</label>
                            <input class="form-control  control-bg-gray" type="text" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group mt-2">
                            <label>{{'Description'|appTranslate|async}}</label>
                            <input class="form-control  control-bg-gray" type="text" />
                        </div>
                    </div>
                </div>

                <div class="row g-3">
                    <div class="col">
                        <div class="form-group mt-2">
                            <label>{{'Product class'|appTranslate|async}}</label>
                            <select class="form-control  control-bg-gray">
                <option></option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group mt-2">
                            <label>{{'Issue Date Basis'|appTranslate|async}}</label>
                            <select class="form-control  control-bg-gray">
                <option></option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
                        </div>
                    </div>
                </div>

                <div class="row g-3">
                    <div class="col">
                        <div class="form-group mt-2">
                            <label>{{'Insurance Type'|appTranslate|async}}</label>
                            <select class="form-control  control-bg-gray">
                <option></option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group mt-2">
                            <label>{{'Issue Date Factor'|appTranslate|async}}</label>
                            <input class="form-control  control-bg-gray" type="text" />
                        </div>
                    </div>
                </div>
                <div class="row g-3">

                    <div class="col-4">
                        <div class="form-group mt-2">
                            <label>{{'Currencies Allowed'|appTranslate|async}}</label>
                            <select class="form-control  control-bg-gray">
                <option></option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group mt-2">
                            <label>&nbsp;<br/></label>
                            <button type="button" class=" btn btn-outline-secondry form-control">{{'add'|appTranslate|async}}</button>
                        </div>
                    </div>
                    <div class="col-6 py-2">
                        <div class="form-group mt-2">
                            <label>{{'Debit Note Rule'|appTranslate|async}}</label>
                            <select class="form-control  control-bg-gray">
                <option></option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
                        </div>
                    </div>
                </div>

                <div class="row g-3">

                    <div class="col-4">
                        <div class="form-group mt-2">
                            <label>{{'Companies Allowed'|appTranslate|async}}</label>
                            <select class="form-control  control-bg-gray">
                <option></option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group mt-2">
                            <label>&nbsp;<br/></label>
                            <button type="button" class=" btn btn-outline-secondry form-control"> Add</button>
                        </div>
                    </div>
                    <div class="col-6 py-2">
                        <div class="form-group mt-2">
                            <label>{{'Quote Validity Basis'|appTranslate|async}}</label>
                            <select class="form-control  control-bg-gray">
                <option></option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
                        </div>
                    </div>
                </div>

                <div class="row g-3">
                    <div class="col">
                        <div class="form-group mt-2">
                            <label>{{'Policy Number Prefix'|appTranslate|async}}</label>
                            <input class="form-control  control-bg-gray" type="text" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group mt-2">
                            <label>{{'Quote Validity Period'|appTranslate|async}}</label>
                            <input class="form-control  control-bg-gray" type="text" />
                        </div>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col">
                        <div class="form-group mt-2">
                            <label>{{'Days before Auto Cancel Policy on no Payment'|appTranslate|async}}</label>
                            <input class="form-control  control-bg-gray" type="text" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group mt-2">
                            <label>{{'Screen'|appTranslate|async}}</label>
                            <select class="form-control  control-bg-gray">
                                <option></option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                              </select>
                        </div>
                    </div>
                </div>

                <div class="row g-3">
                    <div class="col">
                        <div class="form-group mt-2">
                            <label>{{'Upload Files - <span class="text-normal">For Group Business</span>'|appTranslate|async}}</label>
                            <input class="form-control  control-bg-gray" type="text" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="row g-3">
                            <div class="col-6">
                                <div class="form-group mt-2">
                                    <label>{{'Group Business'|appTranslate|async}}</label>
                                    <input type="checkbox" class="form-control width-unset">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group mt-2">
                                    <label>{{'Close to New Business'|appTranslate|async}}</label>
                                    <input type="checkbox" class="form-control width-unset">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="pills-covers" role="tabpanel" aria-labelledby="pills-covers-tab">
                <div class="row g-3">
                    <div class="col-6">
                        <div class="form-group mt-2">
                            <p class="text-dark">Add Cover</p>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row g-3">
                    <div class="col-1">
                        <div class="form-group mt-2">
                            <label>{{'Business Line'|appTranslate|async}}</label>
                            <select class="form-control  control-bg-gray">
                                <option></option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                              </select>
                        </div>

                    </div>
                    <div class="col-1">
                        <div class="form-group mt-2">
                            <label>{{'Cover'|appTranslate|async}}</label>
                            <select class="form-control  control-bg-gray">
                                <option></option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                              </select>
                        </div>
                    </div>
                    <div class="col-1">
                        <div class="form-group mt-2">
                            <label>{{'Mandatory'|appTranslate|async}}</label>
                            <select class="form-control  control-bg-gray">
                                <option></option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                              </select>
                        </div>
                    </div>
                    <div class="col-1">
                        <div class="form-group mt-2">
                            <label>{{'Available Post Issue'|appTranslate|async}}</label>
                            <input type="checkbox" class="form-control">
                        </div>
                    </div>
                    <div class="col-1">
                        <div class="form-group mt-2">
                            <label>{{'Max No'|appTranslate|async}}</label>
                            <input type="text" class="form-control control-bg-gray">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group mt-2">
                            <label>{{'Age Assured Limit'|appTranslate|async}}</label>
                            <input type="text" class="form-control control-bg-gray">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group mt-2">
                            <label>{{'Funding Option'|appTranslate|async}}</label>
                            <select class="form-control  control-bg-gray">
                                <option></option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                              </select>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group mt-2">
                            <label>{{'Sum Assured equal Base Cover Sum Assured'|appTranslate|async}}</label>
                            <input type="checkbox" class="form-control">
                        </div>
                    </div>
                    <div class="col-1">
                        <div class="form-group mt-2">
                            <label>{{'Blank Sum Assured'|appTranslate|async}}</label>
                            <input type="checkbox" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-10"></div>
                    <div class="col-2">
                        <div class="form-group mt-2">
                            <label>&nbsp;<br/></label>
                            <button type="button" class="btn bg-dark form-control btn-next"> Add Covers</button>
                        </div>
                    </div>
                </div>



                <hr>
                <div class="row g-3">
                    <div class="col">
                        <div class="form-group mt-2">
                            <p class="text-dark">Permanent SubGroups</p>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row g-3">
                    <div class="col-4">
                        <div class="form-group mt-2">
                            <label>{{'SubGroup No'|appTranslate|async}}</label>
                            <input type="text" class="form-control control-bg-gray">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group mt-2">
                            <label>{{'SubGroup Name'|appTranslate|async}}</label>
                            <input type="text" class="form-control control-bg-gray">
                        </div>
                    </div>
                </div>


                <div class="row g-3">
                    <div class="col-1">
                        <div class="form-group mt-2">
                            <label>{{'Business Line'|appTranslate|async}}</label>
                            <select class="form-control  control-bg-gray">
                                <option></option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                              </select>
                        </div>

                    </div>
                    <div class="col-1">
                        <div class="form-group mt-2">
                            <label>{{'Cover'|appTranslate|async}}</label>
                            <select class="form-control  control-bg-gray">
                                <option></option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                              </select>
                        </div>
                    </div>
                    <div class="col-1">
                        <div class="form-group mt-2">
                            <label>{{'Mandatory'|appTranslate|async}}</label>
                            <select class="form-control  control-bg-gray">
                                <option></option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                              </select>
                        </div>
                    </div>
                    <div class="col-1">
                        <div class="form-group mt-2">
                            <label>{{'Available Post Issue'|appTranslate|async}}</label>
                            <input type="checkbox" class="form-control">
                        </div>
                    </div>
                    <div class="col-1">
                        <div class="form-group mt-2">
                            <label>{{'Max No'|appTranslate|async}}</label>
                            <input type="text" class="form-control control-bg-gray">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group mt-2">
                            <label>{{'Age Assured Limit'|appTranslate|async}}</label>
                            <input type="text" class="form-control control-bg-gray">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group mt-2">
                            <label>{{'Funding Option'|appTranslate|async}}</label>
                            <select class="form-control  control-bg-gray">
                                <option></option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                              </select>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group mt-2">
                            <label>{{'Sum Assured equal Base Cover Sum Assured'|appTranslate|async}}</label>
                            <input type="checkbox" class="form-control">
                        </div>
                    </div>
                    <div class="col-1">
                        <div class="form-group mt-2">
                            <label>{{'Blank Sum Assured'|appTranslate|async}}</label>
                            <input type="checkbox" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="row g-3">
                    <div class="col-2">
                        <div class="form-group mt-2">
                            <label>&nbsp;<br/></label>
                            <button type="button" class="btn bg-dark form-control btn-next"> Add SubGroup</button>
                        </div>

                    </div>
                    <div class="col-8"></div>
                    <div class="col-2">
                        <div class="form-group mt-2">
                            <label>&nbsp;<br/></label>
                            <button type="button" class="btn bg-dark form-control btn-next"> Add Covers</button>
                        </div>
                    </div>
                </div>



            </div>

            <div class="tab-pane fade" id="pills-documentation" role="tabpanel" aria-labelledby="pills-documentation-tab">
                <div class="row g-3">
                    <div class="col-6">
                        <div class="form-group mt-2">
                            <p class="text-primary">Preduct Level Documentation</p>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group mt-2">
                            <p>Product Code: <span class="text-primary">XXXXX</span></p>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group mt-2">
                            <p>Product Name: <span class="text-primary">XXXXX</span></p>
                        </div>
                    </div>
                </div>
                <hr>

                <div class="row g-3">
                    <div class="col-1">
                        <div class="form-group mt-2">
                            <label>{{'Event Type'|appTranslate|async}}</label>
                        </div>
                    </div>
                    <div class="col-1">
                        <div class="form-group mt-2">
                            <label>{{'Event'|appTranslate|async}}</label>
                        </div>
                    </div>
                    <div class="col-1">
                        <div class="form-group mt-2">
                            <label>{{'Language'|appTranslate|async}}</label>
                        </div>
                    </div>
                    <div class="col-1">
                        <div class="form-group mt-2">
                            <label>{{'Action'|appTranslate|async}}</label>
                        </div>
                    </div>
                    <div class="col-1">
                        <div class="form-group mt-2">
                            <label>{{'Document Type'|appTranslate|async}}</label>
                        </div>
                    </div>
                    <div class="col-1">
                        <div class="form-group mt-2">
                            <label>{{'Document Name'|appTranslate|async}}</label>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group mt-2">
                            <label>{{'Network Path'|appTranslate|async}}</label>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group mt-2">
                            <label>{{'Condition'|appTranslate|async}}</label>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group mt-2">
                            <label>{{'&nbsp;'|appTranslate|async}}</label>
                        </div>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-1">
                        <div class="form-group mt-2">
                            <select class="form-control  control-bg-gray">
                                    <option></option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                  </select>
                        </div>
                    </div>
                    <div class="col-1">
                        <div class="form-group mt-2">
                            <select class="form-control  control-bg-gray">
                                    <option></option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                  </select>
                        </div>
                    </div>
                    <div class="col-1">
                        <div class="form-group mt-2">
                            <select class="form-control  control-bg-gray">
                                    <option></option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                  </select>
                        </div>
                    </div>
                    <div class="col-1">
                        <div class="form-group mt-2">
                            <select class="form-control  control-bg-gray">
                                    <option></option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                  </select>
                        </div>
                    </div>
                    <div class="col-1">
                        <div class="form-group mt-2">
                            <select class="form-control  control-bg-gray">
                                    <option></option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                  </select>
                        </div>
                    </div>
                    <div class="col-1">
                        <div class="form-group mt-2">
                            <select class="form-control  control-bg-gray">
                                    <option></option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                  </select>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group mt-2">
                            <input class="form-control  control-bg-gray" type="text" />
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group mt-2">
                            <select class="form-control  control-bg-gray">
                                    <option></option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                  </select>
                        </div>
                    </div>

                    <div class="col-2">
                        <div class="form-group mt-2">
                            <button type="button" class=" btn btn-secondary bg-dark btn-next form-control"> Add</button>
                        </div>
                    </div>
                </div>
                <hr>
            </div>


            <div class="tab-pane fade" id="pills-quote" role="tabpanel" aria-labelledby="pills-quote-tab">
                <div class="row g-3">
                    <div class="col">
                        <div class="form-group mt-2">
                            <label>{{'Quotation Validity Basis'|appTranslate|async}}</label>
                            <select class="form-control  control-bg-gray">
                                <option></option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                              </select>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group mt-2">
                            <label>{{'Quotation Validity Period'|appTranslate|async}}</label>
                            <input class="form-control  control-bg-gray" type="text" />
                        </div>
                    </div>

                </div>
                <div class="row g-3">
                    <div class="col-6">
                        <div class="form-group mt-2">
                            <p class="text-primary">Mandatory Quotation Info</p>
                        </div>
                    </div>
                </div>
                <hr>

                <div class="row g-3">
                    <div class="col-6">
                        <div class="form-group mt-2">
                            <div class="row g-3">
                                <div class="col-9"><label>{{'Owner Date of Birth'|appTranslate|async}}</label></div>
                                <div class="col-3"><input class="form-control  control-bg-gray" type="checkbox" /></div>
                            </div>
                        </div>
                        <hr>

                        <div class="form-group mt-2">
                            <div class="row g-3">
                                <div class="col-9"><label>{{'Life Assured Date of Birth'|appTranslate|async}}</label></div>
                                <div class="col-3"><input class="form-control  control-bg-gray" type="checkbox" /></div>
                            </div>
                        </div>
                        <hr>

                        <div class="form-group mt-2">
                            <div class="row g-3">
                                <div class="col-9"><label>{{'Loan Interest Rate'|appTranslate|async}}</label></div>
                                <div class="col-3"><input class="form-control  control-bg-gray" type="checkbox" /></div>
                            </div>
                        </div>
                        <hr>

                        <div class="form-group mt-2">
                            <div class="row g-3">
                                <div class="col-9"><label>{{'Owner Email'|appTranslate|async}}</label></div>
                                <div class="col-3"><input class="form-control  control-bg-gray" type="checkbox" /></div>
                            </div>
                        </div>
                        <hr>




                    </div>
                    <div class="col-6">
                        <div class="form-group mt-2">
                            <div class="row g-3">
                                <div class="col-9"><label>{{'Life Assured Name'|appTranslate|async}}</label></div>
                                <div class="col-3"><input class="form-control  control-bg-gray" type="checkbox" /></div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group mt-2">
                            <div class="row g-3">
                                <div class="col-9"><label>{{'Policy Term'|appTranslate|async}}</label></div>
                                <div class="col-3"><input class="form-control  control-bg-gray" type="checkbox" /></div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group mt-2">
                            <div class="row g-3">
                                <div class="col-9"><label>{{'Owner Phone Number'|appTranslate|async}}</label></div>
                                <div class="col-3"><input class="form-control  control-bg-gray" type="checkbox" /></div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group mt-2">
                            <div class="row g-3">
                                <div class="col-9"><label>{{'Owner National Insurance No'|appTranslate|async}}</label></div>
                                <div class="col-3"><input class="form-control  control-bg-gray" type="checkbox" /></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="pills-policy" role="tabpanel" aria-labelledby="pills-policy-tab">

                <div class="row g-3">
                    <div class="col-6">
                        <div class="form-group mt-2">
                            <p class="text-primary">Additional Mandatory Policy Issue Information</p>
                        </div>
                    </div>
                </div>
                <hr>

                <div class="row g-3">
                    <div class="col-6">
                        <div class="form-group mt-2">
                            <div class="row g-3">
                                <div class="col-9"><label>{{'Owner Name'|appTranslate|async}}</label></div>
                                <div class="col-3"><input class="form-control  control-bg-gray" type="checkbox" /></div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group mt-2">
                            <div class="row g-3">
                                <div class="col-9"><label>{{'Owner Date of Birth'|appTranslate|async}}</label></div>
                                <div class="col-3"><input class="form-control  control-bg-gray" type="checkbox" /></div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group mt-2">
                            <div class="row g-3">
                                <div class="col-9"><label>{{'Life Assured Name'|appTranslate|async}}</label></div>
                                <div class="col-3"><input class="form-control  control-bg-gray" type="checkbox" /></div>
                            </div>
                        </div>
                        <hr>

                        <div class="form-group mt-2">
                            <div class="row g-3">
                                <div class="col-9"><label>{{'Life Assured Date of Birth'|appTranslate|async}}</label></div>
                                <div class="col-3"><input class="form-control  control-bg-gray" type="checkbox" /></div>
                            </div>
                        </div>
                        <hr>

                        <div class="form-group mt-2">
                            <div class="row g-3">
                                <div class="col-9"><label>{{'Loan Interest Rate'|appTranslate|async}}</label></div>
                                <div class="col-3"><input class="form-control  control-bg-gray" type="checkbox" /></div>
                            </div>
                        </div>
                        <hr>

                        <div class="form-group mt-2">
                            <div class="row g-3">
                                <div class="col-9"><label>{{'Owner Email'|appTranslate|async}}</label></div>
                                <div class="col-3"><input class="form-control  control-bg-gray" type="checkbox" /></div>
                            </div>
                        </div>
                        <hr>




                    </div>
                    <div class="col-6">
                        <div class="form-group mt-2">
                            <div class="row g-3">
                                <div class="col-9"><label>{{'Owner National Insurance No'|appTranslate|async}}</label></div>
                                <div class="col-3"><input class="form-control  control-bg-gray" type="checkbox" /></div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group mt-2">
                            <div class="row g-3">
                                <div class="col-9"><label>{{'Payee Bank Account'|appTranslate|async}}</label></div>
                                <div class="col-3"><input class="form-control  control-bg-gray" type="checkbox" /></div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group mt-2">
                            <div class="row g-3">
                                <div class="col-9"><label>{{'Agent No'|appTranslate|async}}</label></div>
                                <div class="col-3"><input class="form-control  control-bg-gray" type="checkbox" /></div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group mt-2">
                            <div class="row g-3">
                                <div class="col-9"><label>{{'Policy Term'|appTranslate|async}}</label></div>
                                <div class="col-3"><input class="form-control  control-bg-gray" type="checkbox" /></div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group mt-2">
                            <div class="row g-3">
                                <div class="col-9"><label>{{'Owner Phone No'|appTranslate|async}}</label></div>
                                <div class="col-3"><input class="form-control  control-bg-gray" type="checkbox" /></div>
                            </div>
                        </div>
                        <hr>

                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="pills-defaults" role="tabpanel" aria-labelledby="pills-defaults-tab">


                <div class="row g-3">
                    <div class="col">
                        <div class="form-group mt-2">
                            <label>{{'Default all sales to branch'|appTranslate|async}}</label>
                            <select class="form-control  control-bg-gray">
                <option></option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group mt-2">
                            <label>{{'Age Calculation Basis'|appTranslate|async}}</label>
                            <select class="form-control  control-bg-gray">
                <option></option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
                        </div>
                    </div>
                </div>

                <div class="row g-3">
                    <div class="col">
                        <div class="form-group mt-2">
                            <label>{{'Writing Agent No'|appTranslate|async}}</label>
                            <input class="form-control  control-bg-gray" type="text" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group mt-2">
                            <label>{{'Auto Set Phone No as default External Ref'|appTranslate|async}}</label>
                            <input class="form-control  width-unset control-bg-gray" type="checkbox" />
                        </div>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col">
                        <div class="form-group mt-2">
                            <label>{{'Referral Agent No'|appTranslate|async}}</label>
                            <input class="form-control  control-bg-gray" type="text" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group mt-2">
                            <label>{{'Cooling off period'|appTranslate|async}}</label>
                            <input class="form-control  control-bg-gray" type="text" />
                        </div>
                    </div>
                </div>

                <div class="row g-3">
                    <div class="col">
                        <div class="form-group mt-2">
                            <label>{{'Maturity Basis'|appTranslate|async}}</label>
                            <select class="form-control  control-bg-gray">
                <option></option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group mt-2">
                            <label>{{'Cooling off exercise fee'|appTranslate|async}}</label>
                            <input class="form-control  control-bg-gray" type="text" />
                        </div>
                    </div>
                </div>


                <div class="row g-3">

                    <div class="col-4">
                        <div class="form-group mt-2">
                            <label>{{'Benefit payment method allowed'|appTranslate|async}}</label>
                            <select class="form-control  control-bg-gray">
                <option></option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group mt-2">
                            <label>&nbsp;<br/></label>
                            <button type="button" class=" btn btn-outline-secondry form-control"> Add</button>
                        </div>
                    </div>
                    <div class="col-6 py-2">
                        <div class="row g-3">

                            <div class="col-5">
                                <div class="form-group mt-2">
                                    <label>{{'Provider Category'|appTranslate|async}}</label>
                                    <select class="form-control  control-bg-gray">
                        <option></option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="form-group mt-2">
                                    <label>{{'Default Provider Code'|appTranslate|async}}</label>
                                    <input class="form-control  control-bg-gray" type="text" />
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group mt-2">
                                    <label>&nbsp;<br/></label>
                                    <button type="button" class=" btn btn-outline-secondry form-control"> Add</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row g-3">

                    <div class="col-6">
                        <div class="form-group mt-2">
                            <label>{{'Upload Members File Format'|appTranslate|async}}</label>
                            <select class="form-control  control-bg-gray">
                <option></option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
                        </div>
                    </div>
                    <div class="col-6 py-2">
                        <div class="form-group mt-2">
                            <label>{{'Policy term'|appTranslate|async}}</label>
                            <input class="form-control  control-bg-gray" type="text" />
                        </div>
                    </div>
                </div>

                <div class="row g-3">
                    <div class="col">
                        <div class="form-group mt-2">
                            <label>{{'Premium Frequency'|appTranslate|async}}</label>
                            <select class="form-control  control-bg-gray">
                                <option></option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                              </select>
                        </div>
                    </div>
                </div>


                <div class="row g-3">
                    <div class="col">
                        <div class="form-group mt-2">
                            <label>{{'Download csv upload format...'|appTranslate|async}}</label>
                        </div>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-10"></div>
                    <div class="col-2">
                        <div class="form-group mt-2">
                            <button type="button" class=" btn btn-secondary btn-next form-control"> Submit</button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row g-3">
                <div class="col-2 footer-btn-left">
                    <div class="row g-3">
                        <div class="col-4">
                            <div class="form-group mt-2">
                                <button type="button" class=" btn btn-dark form-control btn-next"> <i class="fa fa-arrow-left"></i> </button>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group mt-3">Prev</div>
                        </div>
                    </div>
                </div>
                <div class="col-8"></div>
                <div class="col-2 footer-btn-right">
                    <div class="form-group mt-2">
                        <button type="button" class=" btn btn-secondary form-control btn-next"> Next <i class="fa fa-arrow-right"></i></button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
