<app-form-navigation [title]="'Set Up / Codes / Client Stage'"></app-form-navigation>
<div class="container">
  <div class="col-10 mx-auto mt-5">

    <div class="row mt-3">
      <div class="col-4">
        <div class="from-group">
          <label for="" class="form-label text-primary">Client Stage Code</label>
          <input type="text" class="form-control control-bg-gray">
        </div>
      </div>
      <div class="col-4">
        <div class="from-group">
          <label for="" class="form-label text-primary">Process Node</label>
          <select class="form-control control-bg-gray"></select>
        </div>
      </div>
      <div class="col-4">
        <div class="from-group">
          <label for="" class="form-label text-primary">Description</label>
          <input type="text" class="form-control control-bg-gray">
        </div>
      </div>
    </div>
    <div class="row mt-5 justify-content-end">
      <div class="col-2">
        <div class="from-group">
          <label for="" class="form-label text-primary">&nbsp;</label>
          <app-button buttonType="submit"></app-button>
        </div>
      </div>

    </div>
  </div>
</div>
