.nav-link {
  padding: 0.5rem 0.25rem;
  color: #212529;
}

.nav-item {
  font-size: 0.75rem;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #be0707;
  background: none;
  border-bottom: 1px solid #be0707;
  border-radius: 0;
}

.btn-next {
  border-radius: 0 15px;
  color: #fff;
}

label {
  font-size: 0.75rem;
}

.text-normal {
  font-weight: normal;
}

.fade:not(.show) {
  opacity: 0;
  display: none;
}

.width-unset {
  width: unset;
}

.bottom-left-circle,
.bottom-left-circle-outline,
.bottom-right-circle,
.bottom-right-circle-outline {
  display: none;
}

/* hr {
    margin: 0.01rem 0;
} */

.form-controlZ {
  display: block;
  width: 102%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.profileimg {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-color: #757475;
  margin-left: 0px !important;
}
.btn-ir {
  border-top-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
  border-radius: 0px;
  color: #be0707;
  border-color: #be0707;
  background-color: #f0e2e2;
}
#section_cards .color1:after {
  content: "";
  // background: #5d26ce;
  width: 138px;
  height: 38px;
  border-top-right-radius: 5rem;
  border-bottom-left-radius: 20px;
}
.card {
  width: 18rem;
  height: 7rem;
  background: #be0707;
  color: white;
  font-size: 12px;
}
label {
  font-size: 12px !important;
}
.inputform1 {
  background-color: transparent;
  width: 100%;
  border-radius: 5px;
  border: none;
}
.inputform1:focus {
  color: #212529;
  background-color: transparent;
  border-color: none;
  outline: 0;
}

a {
  font-size: 12px;
}

.higlightbox {
  border: 2px solid #571313 !important;
}

#card-text {
  position: absolute;
  bottom: 0px;
  right: 20px;
  font-size: 30px;
}

.btn-ir2 {
  border-top-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
  border-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  color: #be0707;
}

.hoverbtn {
}

.hoverbtn:hover {
  background-color: #e40000;
  color: white;
  margin-top: -10px;
  transition: 1s all ease;
  box-shadow: 0px 15px 20px -8px #111;
}

input.form-controlzzz {
  padding-bottom: 3.375rem;
}

.add-btn1 {
  color: #be0707;
  background-color: white;
  border-color: #be0707;
  height: 60%;
  border-bottom-left-radius: 15px;
  width: 30%;
  border-top-right-radius: 15px;
  border-top-width: 2px;
  border-top-style: solid;
  margin-top: 29px;
}

table thead {
  background-color: #0b0a41;
  color: white;
}

table th:first-child {
  border-bottom-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
}

table th:last-child {
  border-top-right-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
}
