<div class="">
  <div class="d-flex justify-content-between">
    <div class="page-head-pop-up m-0">
      Manual Commissions
    </div>
    <div class="">
      <img src="../../../../../assets/img/close.svg" alt="" class="pointer" (click)="close()">
    </div>
  </div>
  <div class="py-3">
    <div class="row">
      <div class="col-md" *ngFor="let item of lbls1">
        <text-case-1 lbl="{{item.key}}:" [val]="item.value" [stacked]="false"></text-case-1>
      </div>
    </div>
  </div>
  <div class=" py-3">
    <div class="row">
      <div class="col-lg-12">
        <hr>
      </div>
      <div class="col-lg-3" *ngFor="let item of inputs">
        <app-input [input]="item" [stacked]="true"></app-input>
      </div>
    </div>

    <div class="pt-3">
      <app-input [input]="narration" [stacked]="false"></app-input>
    </div>
  </div>

  <div class="d-flex justify-content-end ">
    <app-btn type="primary" icon="checked" (mclick)="submit()">Submit</app-btn>
  </div>
</div>
