<div class="container">
    <div class="row">
      <div class="col-md-4">
        <label class="form-label text-primary">{{"Company Code"|appTranslate|async}}</label>
        <input class="form-control  control-bg-gray" type="text" />
      </div>
      <div class="col-md-8">
        <label class="form-label text-primary">{{"Company Name"|appTranslate|async}}</label>
        <input class="form-control  control-bg-gray" type="text" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <label class="form-label text-primary">{{"Head Office Address"|appTranslate|async}}</label>
        <input class="form-control  control-bg-gray" type="text" />
      </div>
      <div class="col-md-4">
        <label class="form-label text-primary">{{"Head Office City"|appTranslate|async}}</label>
        <select class="form-control  control-bg-gray">
          <option></option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="col-md-4">
        <label class="form-label text-primary">{{"Country"|appTranslate|async}}</label>
        <select class="form-control  control-bg-gray">
          <option></option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <label class="form-label text-primary">{{"Company Year End Month"|appTranslate|async}}</label>
        <input class="form-control  control-bg-gray" type="text" />
      </div>
      <div class="col-md-4">
        <label class="form-label text-primary">{{"Registration Number"|appTranslate|async}}</label>
        <input class="form-control  control-bg-gray" type="text" />
      </div>
      <div class="col-md-4">
        <label class="form-label text-primary">{{"Standard Work Hours"|appTranslate|async}}</label>
        <input class="form-control  control-bg-gray" type="text" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <label class="form-label text-primary">{{"Next Policy Number"|appTranslate|async}}</label>
        <input class="form-control  control-bg-gray" type="text" />
      </div>
      <div class="col-md-4">
        <label class="form-label text-primary">{{"Default Direct Agent No"|appTranslate|async}}</label>
        <input class="form-control  control-bg-gray" type="text" />
      </div>
      <div class="col-md-4">
        <label class="form-label text-primary">{{"Payment Outward Basis"|appTranslate|async}}</label>
        <select class="form-control  control-bg-gray">
          <option></option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <label class="form-label text-primary">{{"Cooling Off Period (Days)"|appTranslate|async}}</label>
        <input class="form-control  control-bg-gray" type="text" />
      </div>
      <div class="col-md-4">
        <label class="form-label text-primary">{{"Default Currency"|appTranslate|async}}</label>
        <select class="form-control  control-bg-gray">
          <option></option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="col-md-4">
        <label class="form-label text-primary">{{"Group Conversion Currency"|appTranslate|async}}</label>
        <select class="form-control  control-bg-gray">
          <option></option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <label class="form-label text-primary">{{"Default Language"|appTranslate|async}}</label>
        <select class="form-control  control-bg-gray">
          <option></option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="col-md-4">
        <label class="form-label text-primary">{{"Acitve Directory URL"|appTranslate|async}}</label>
        <input class="form-control  control-bg-gray" type="text" />
      </div>
      <div class="col-md-4">
        <label class="form-label text-primary">{{"Business Line"|appTranslate|async}}</label>
        <select class="form-control  control-bg-gray">
          <option></option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <label class="form-label text-primary">{{"Underwriting Validity Period (Months)"|appTranslate|async}}</label>
        <input class="form-control  control-bg-gray" type="text" />
      </div>
      <div class="col-md-4">
        <label class="form-label text-primary">{{"Client Uniqueness Basis"|appTranslate|async}}</label>
        <select class="form-control  control-bg-gray">
          <option></option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>

    </div>
    <div class="row justify-content-center">
      <div class="col-md-4">
        <label class="form-label text-primary w-100 text-center">Comm due to resigned and terminated
          Agents?</label>
        <input type="checkbox" class="form-control control-bg-gray mx-auto">
      </div>
    </div>

    <p>{{"Basis for comm calc on new sale on Policies of existing Agents"|appTranslate|async}}</p>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <label class="form-label text-primary">{{"Factor % of original Commission"|appTranslate|async}}</label>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-4">
        <label class="form-label text-primary">{{"Existing Agent"|appTranslate|async}}</label>
      </div>
      <div class="col-md-4">
        <input class="form-control  control-bg-gray" type="text" />
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-md-4">
        <label class="form-label text-primary">{{"New Agent"|appTranslate|async}}</label>
      </div>
      <div class="col-md-4">
        <input class="form-control  control-bg-gray" type="text" />
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-md-4">
        <label class="form-label text-primary">{{"Tele Marketer"|appTranslate|async}}</label>
      </div>
      <div class="col-md-4">
        <input class="form-control  control-bg-gray" type="text" />
      </div>
    </div>
  </div>