<app-form-navigation [title]="''"></app-form-navigation>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-2">{{'From'|appTranslate|async}} : <input type="date" placeholder="Date From" class="form-control control-bg-gray"></div>
    <div class="col-2">{{'To'|appTranslate|async}} : <input type="date" placeholder="Date To" class="form-control control-bg-gray"></div>
  </div>



  <table id="calendar">
    <caption>&nbsp;</caption>
    <tr class="weekdays">
      <th scope="col" class="bg-white"></th>
      <th scope="col" class="bg-row-dark-blue">14 Mon</th>
      <th scope="col" class="bg-row-dark-blue">15 Tue</th>
      <th scope="col" class="bg-row-dark-blue">16 Wed</th>
      <th scope="col" class="bg-row-dark-blue">17 Thu</th>
      <th scope="col" class="bg-row-dark-blue">18 Fri</th>
      <th scope="col" class="bg-row-dark-blue">19 Sat</th>
      <th scope="col" class="bg-row-dark-blue">20 Sun</th>
    </tr>

    <tr class="days">
      <td class="day other-month ">

      </td>
      <td class="day other-month" routerLink="/crms/analytics-campaign-details">

        <div class="event">
          <div class="event-header">
            <h5>
              N330,984
            </h5>

          </div>
          <div class="event-desc">
            {{'We Miss You'|appTranslate|async}}
          </div>

        </div>
      </td>
      <td class="day other-month">

      </td>
      <td class="day other-month">

      </td>
      <td class="day other-month">

      </td>
      <td class="day">

      </td>
      <td class="day">

      </td><td class="day">

      </td>
    </tr>
    <tr>
      <td class="day">

      </td>
      <td class="day">

      </td>
      <td class="day">

      </td>
      <td class="day">

      </td>
      <td class="day">

      </td>
      <td class="day">

      </td>

      <td class="day">

      </td>
      <td class="day">

      </td>
    </tr>
    <tr>
      <td class="day">

      </td>
      <td class="day other-month" routerLink="/crms/analytics-campaign-details">

        <div class="event">
          <div class="event-header">
            <h5>
              N330,984
            </h5>

          </div>
          <div class="event-desc">
            We Miss You
          </div>

        </div>
      </td>
      <td class="day">

      </td>
      <td class="day">

      </td>
      <td class="day">

      </td>
      <td class="day other-month" routerLink="/crms/analytics-campaign-details">

        <div class="event">
          <div class="event-header">
            <h5>
              N330,984
            </h5>

          </div>
          <div class="event-desc">
           {{'We Miss You'|appTranslate|async}}
          </div>

        </div>
      </td>

      <td class="day">

      </td>
      <td class="day">

      </td>
    </tr>
    <tr>
      <td class="day">

      </td>
      <td class="day">

      </td>
      <td class="day">

      </td>
      <td class="day">

      </td>
      <td class="day">

      </td>
      <td class="day">

      </td>

      <td class="day">

      </td>
      <td class="day">

      </td>
    </tr>
    <tr>
      <td class="day">

      </td>
      <td class="day">

      </td>

      <td class="day">

      </td>
      <td class="day">

      </td>
      <td class="day">

      </td>
      <td class="day">

      </td>
      <td class="day">

      </td>
      <td class="day">

      </td>
    </tr>
    <tr>
      <td class="day">

      </td>
      <td class="day">

      </td>
      <td class="day other-month">

        <!-- Next Month -->
      </td>
      <td class="day other-month">

      </td>
      <td class="day other-month">

      </td>
      <td class="day other-month">

      </td>
      <td class="day other-month">

      </td>
      <td class="day other-month">

      </td>

  </table>


</div>
