<loader [loading]="loading">

  <form [formGroup]="workflowScheduleForm">
    <div class="container">
      <div class="row g-3">
        <div class="col-lg-8">
          <app-autocomplete label="Task Code" [form]="workflowScheduleForm" name="code" [stacked]="true"
            (mchange)="setValues()" [showValidation]="codeTag.invalid" [options]="taskcode" labelType="cd"
            valueField="code" #codeTag>
          </app-autocomplete>
          <app-validation-message [input]="codeTag"></app-validation-message> 
        </div>

        <div class="col-lg-4">
          <div class="form-group mt-2">
            <label class="text-primary ">{{'Schedule Frequency'|appTranslate|async}}</label>
            <select formControlName="scheduleFreq" class="form-control  control-bg-gray" required>
              <option [value]="null">{{'Select Schedule Frequency'|appTranslate|async}}</option>
              <option [value]="item.code" *ngFor="let item of schedulelist">{{item.code}} - {{item.title}}</option>
            </select>

          </div>
        </div>
      </div>
      <hr>
      <div class="row g-3">
        <div class="col-lg-3">
          <div class="form-group">
            <label class=" text-primary">{{'Start Date'|appTranslate|async}}</label>
            <input class="form-control  control-bg-gray" formControlName="lastScheduleOn" type="datetime-local" />
          </div>
        </div>
        <div class="col-lg-3">
          <label class=" text-primary">{{'Default SLA (days:hours:min)'|appTranslate|async}}</label>
          <div class="d-flex">
            <app-day-hour-min-input [form]="workflowScheduleForm" type="viewer"  [stacked]="true" name="scheduleSla">
            </app-day-hour-min-input>   
          </div>
        </div>


        <div class="col-lg-3">
          <div class="form-group">
            <label class=" text-primary">{{'End Date'|appTranslate|async}}</label>
            <input class="form-control  control-bg-gray" formControlName="lastScheduleCompleteOn"
              type="datetime-local" />
          </div>
        </div>

        <div class="col-lg-3">
          <div class="form-group">
            <label class=" text-primary">{{'Next Due Date'|appTranslate|async}}</label>
            <input class="form-control  control-bg-gray" formControlName="nextScheduleOn" type="datetime-local"
              readonly />
          </div>
        </div>

      </div>
      <hr>

      <div class="row g-3">
        <div class="col-md mt-2">
          <ng-container *ngIf="taskcodeUserGroup; else elseuserGroupTag">
            <app-input-basic label="Assign to User Group" type="viewer" [form]="workflowScheduleForm" name="scheduleAssignedToGroup"
              [stacked]="true" #userGroupTag>
            </app-input-basic>
            <app-validation-message [control]="userGroupTag.control"></app-validation-message>
          </ng-container>
          <ng-template #elseuserGroupTag>
            <app-autocomplete label="Assign to User Group" [form]="workflowScheduleForm" name="scheduleAssignedToGroup"
              [readonly]="readonlyassignedToGroup" [stacked]="true" [showValidation]="userGroupTag.invalid"
              [disabled]="workflowScheduleForm.value?.scheduleAssignedTo" [options]="usersGroups" labelField="group"
              valueField="group" #userGroupTag>
            </app-autocomplete>
            <app-validation-message [control]="userGroupTag.control"></app-validation-message>
          </ng-template>
        </div>
        <div class="col-md mt-2">
          <ng-container *ngIf="taskcodeUser; else elseuserTag">
            <app-input-basic label="Assign to User" type="viewer" [form]="workflowScheduleForm" name="scheduleAssignedTo"
              [stacked]="true" #userTag>
            </app-input-basic>
            <app-validation-message [control]="userTag.control"></app-validation-message>
          </ng-container>
          <ng-template #elseuserTag>
            <app-autocomplete label="Assign to User" [form]="workflowScheduleForm" name="scheduleAssignedTo"
              [disabled]="workflowScheduleForm.value?.scheduleAssignedToGroup"  [readonly]="readonlyassignedTo"
              [stacked]="true" [showValidation]="userTag.invalid" [options]="users" labelType="uf" valueField="userName"
              #userTag>
            </app-autocomplete>
            <app-validation-message [control]="userTag.control"></app-validation-message>
          </ng-template>
        </div>
      </div>

      <div class="row g-3 ">
        <div class="col-lg-4">
          <div class="form-group ">
            <label class=" text-primary">{{'Ref Category (Optional)'|appTranslate|async}}</label>
            <select formControlName="refCat" class="form-control  control-bg-gray" required (change)="resetRefNumber()">
              <option [value]="null">{{'Select Ref Category'|appTranslate|async}}</option>
              <option [value]="item.code" *ngFor="let item of reflist">{{item.code}} - {{item.title}}</option>
            </select>
          </div>
        </div>


        <div class="col-lg-4">
          <div class="form-group">
            <label class="text-primary">{{'Ref Number'|appTranslate|async}}</label>
            <input class="form-control  control-bg-gray" formControlName="refNo" type="text" />
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <label class="text-primary ">&nbsp;</label>
            <input class="form-control  control-bg-gray" type="text" formControlName="refDetails"
              placeholder="Ref Details" readOnly />
          </div>

        </div>


      </div>
      <!--   <div class="row g-3 my-3">
      <div class="col-10 form-group"></div>
      <div class="col-2 form-group">
        <app-button [buttonType]="'addCustom'" (click)="incRef()" [text]="'Add Ref'"></app-button>
      </div>
    </div> -->
      <hr>
      <div class="row g-3">
        <div class="col-lg">
          <div class="form-group mt-2">
            <label class="text-primary">{{'Description'|appTranslate|async}}</label>
            <textarea class="form-control  control-bg-gray" formControlName="description"></textarea>
          </div>
        </div>
      </div>

      <div class="row my-5 justify-content-between">
        <div class="col-md-auto">
          <app-btn [type]="workflowService.documentList?.value?'primary':'secondary'" icon="upload"
            (mclick)="call_workflow_task_document_list()">Add Document</app-btn>

        </div>

        <div class="col-md-auto d-grid gap-1">
          <app-btn [group]="'submit'" [form]="workflowScheduleForm" (mclick)="onSubmit()"></app-btn>
        </div>
      </div>

    </div>
  </form>

</loader>
