<!-- <app-form-navigation [title]="'Set Up / Agent Type'"></app-form-navigation> -->
<loader [loading]="loading">
  <div class="container-sm mt-5">
    <div class="row">
      <div class="col-md-6 mx-auto my-5 align-middle">
        <br />
        <br />
        <br />
        <div class="form-group mt-2">
          <label>{{"Select Agent Type "|appTranslate|async}}</label>
          <select class="form-control form-control-lg control-bg-gray" [(ngModel)]="type">
            <option *ngFor="let agentType of agentTypes" [value]="agentType.type">
              {{agentType.type}} - {{ agentType.description }}
            </option>
          </select>
        </div>

        <br />

        <div class="form-group row my-3">
          <div class="col-sm-4 d-grid gap-1">
            <app-button [buttonType]="'show'" (click)="show()"></app-button>
          </div>
          <div class="col-sm-4 d-grid gap-1">
            <app-button [buttonType]="'create'" routerLink="../create-agent-type"></app-button>
          </div>
          <div class="col-sm-4 d-grid gap-1">
            <app-button [buttonType]="'clone'" (click)="clone()"></app-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</loader>