<!-- <app-form-navigation [title]="'Set Up / Code / Currency / Code'"></app-form-navigation> -->
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="row">
        <div class="col-8">
          <label for="">{{"Enter New Currency code"|appTranslate|async}}</label>
          <input type="text" class="form-control control-bg-gray">
        </div>
        <div class="col-4">
          <label for=""> &nbsp;</label>
          <app-button buttonType="create" routerLink="../create"></app-button>
        </div>
      </div>
    </div>
  </div>
</div>
